{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter your security code
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v15/dup-check/send-code",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--info" style="display:none;">
        <h3 class="nhsuk-u-visually-hidden">Information:</h3>
        <p class="nhsuk-u-font-weight-bold">Security code has been sent</p>
      </div>

      <form action="/applicant/v15/dup-check/your-name" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="otp">
              Enter your security code
            </label>
          </h1>

          <p>Use the 4 digit security code that has been sent to your mobile phone number ending *********<strong>5314</strong>.</p>

          <p>The security code will expire in 15 minutes from when it was sent.</p>

          <div class="nhsuk-hint" id="otp-hint">
            The code contains 4 numbers
            </div>
          <input class="nhsuk-input nhsuk-input--width-4" id="otp" name="otp" type="text" inputmode="numeric" aria-describedby="otp-hint" value="{{ data['otp'] }}">
        </div>

        {{ button({
          "text": "Continue"
        }) }}



      </form>

      <p><a href="#">Send the security code again</a> if you have not received it or if it has expired.</p>

    </div>
  </div>

{% endblock %}
