{% extends 'layout.html' %}

{% block pageTitle %}
  Javascript not enabled
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Javascript not enabled
      </h1>

      <p>We use Javascript to improve the experience of using this website.</p>

      <p>Follow the instructions to enable Javascript, or start your application without Javascript.</p>

      <h2>How to enable Javascript</h2>

      <p>To enable JavaScript on Google Chrome or Edge Chromimum follow the steps below:</p>

      <ol>
        <li>From your browser's menu (shown as three dots) select "Settings".</li>
        <li>Search for JavaScript using the search box.</li>
        <li>Find the 'JavaScript' section.</li>
        <li>Choose your preferred JavaScript settings.</li>
      </ol>

      <p>If you are unable to change your JavaScript settings, please contact your local IT support for help.</p>

      <h2>Continue without Javascript</h2>
      <p>Some features may not be available without Javascript.</p>
      <a href="/applicant/v5/non-js/start" class="nhsuk-button">
        Continue
      </a>

      

      
     

      

    </div>

  </div>
{% endblock %}
