{% extends 'layout.html' %}

{% block pageTitle %}
  Javascript not enabled
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Javascript not enabled
      </h1>

      <p>We use Javascript to improve the experience of using this website.</p>

      <p>Start your application without Javascript, or follow the instructions to enable Javascript.</p>

      <p>Javascript is not required to run this application. </p>

      <p>If you run this application without Javascript you may experience some visual changes, but these changes will not affect performance. </p>

      

      <h2>Continue without javascript</h2>

    
      <form action="/applicant/v5/non-js/start" method="post" class="form">

        <div class="nhsuk-form-group">
          <h3 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" for="otp">
              Enter the application ID
            </label>
          </h3>


          <div class="nhsuk-hint" id="otp-hint">
            Your application ID can be found at the top of your Apply for Care ID email. 
            </div>
          <input class="nhsuk-input nhsuk-u-width-three-quarters" id="otp" name="otp" type="text" inputmode="numeric" aria-describedby="otp-hint" value="{{ data['otp'] }}">
        </div>

        {{ button({
          "text": "Continue"
        }) }}



      </form>

      

      <h2 class="nhsuk-u-margin-top-5">How to enable Javascript</h2>

      <p>To enable Javascript on your default browser follow the steps below:</p>

      <ol>
        <li>From your browser’s menu (shown as three dots) select “Settings”.</li>
        <li>Search for Javascript using the search box.</li>
        <li>Find the ‘Javascript’ section.</li>
        <li>Set Javascript to ‘Allowed’ as default</li>
      </ol>

      <p>Once Javascript is enabled go back to your email and retry the link.</p>
     
      <p>If you are unable to change your Javascript settings, please contact your local IT support for help.</p>
      

    </div>

  </div>
{% endblock %}
