{% extends 'layout.html' %}

{% block pageTitle %}
Take a photo of the back of your driving licence
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v21/step-3/review-id-back",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Take a photo of your bank statement
      </h1>

      <p>Make sure:</p>

      <ul>
        <li>your photo is of the whole page</li>
        <li>your photo includes all 4 corners</li>
        <li>you can see all words, numbers and codes</li> 
        <li>the text is not blurred</li>
        <li>SOME EXTRA STUFF ABOUT DATE, ADDRESS AND BRANDING BEING VISIBLE</li>
      </ul>

     

      <a href="/applicant/v21/step-3/review-poa" class="nhsuk-button">
        Open camera
      </a>
      
    </div>
  </div>


{% endblock %}
