{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter your full name
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/dev-ready/dup-check/date-of-birth" method="post" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
            <h1 class="nhsuk-fieldset__heading">
              Enter your full name
            </h1>
          </legend>

          
          <p>The name you enter must be the same as it appears on your photo IDs.</p>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="title">
              Title
            </label>
            <select class="nhsuk-select" id="title" name="title">
              <option value=""selected>Select a title</option>
              <option value="Mr" >Mr</option>
              <option value="Mrs" >Mrs</option>
              <option value="Ms" >Ms</option>
              <option value="Miss" >Miss</option>
              <option value="Mx" >Mx</option>
              <option value="Dr" >Dr</option>
              <option value="Sister" >Sister</option>
              <option value="Brother" >Brother</option>
              <option value="Sir" >Sir</option>
              <option value="Cannon" >Cannon</option>
              <option value="Dame" >Dame</option>
              <option value="Father" >Father</option>
              <option value="Imam" >Imam</option>
              <option value="Lady" >Lady</option>
              <option value="Lord" >Lord</option>
              <option value="Major" >Major</option>
              <option value="Rabbi" >Rabbi</option>
              <option value="Right Reverend Monsigneur" >Right Reverend Monsigneur</option>
              <option value="Reverend" >Reverend</option>
              <option value="Professor" >Professor</option>
              <option value="Baron" >Baron</option>
              <option value="Baroness" >Baroness</option>
            </select>
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              Given name
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name" name="first-name" type="text" value="{{ data['first-name'] }}">
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="middle-name">
              Middle name(s) (if you have one)
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="middle-name" name="middle-name" type="text" value="{{ data['middle-name'] }}">
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="last-name">
              Surname
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name" name="last-name" type="text" value="{{ data['last-name'] }}">
          </div>
        
        </fieldset>
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            My name does not match my photo IDs
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Enter your name as it appears on your photo IDs.</p>
          <p>We will contact the person that invited you into the process if we need any more information.</p>
          <p>Contact <a href="">[inviter-support-email]</a> for further support. Include your application ID in all emails.</p>
      
        </div>
      </details>
      
    </div>
  </div>

{% endblock %}
