{% extends 'layout.html' %}

{% block pageTitle %}
  Take a smartcard photo
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v11/profile",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

     
      <div id="instructions">
        <h1>
          Take a profile photo
        </h1>

        <p>We need a passport style photo of your face for your Care ID profile.</p>

        <p><strong>If you are issued with a smartcard, this photo will appear on it.</strong></p>
        <p>Your profile photo must:</p>
        <ul>
          <li>be clear and in focus</li>
          <li>be taken against a plain, light coloured background</li>
          <li>show you facing forwards</li>
          <li>not contain other people or objects in the background</li>
          <li>not have hair or other objects obscuring the face</li>
        </ul>

        <label for="cameraFileInput">
        <span class="nhsuk-button">Open camera</span>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Advice about headwear etc
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Content goes here.</p>      
          </div>
        </details>

      </div>
      
  
        <!-- The hidden file `input` for opening the native camera -->
        <input class="nhsuk-u-visually-hidden"
          id="cameraFileInput"
          type="file"
          accept="image/*"
          capture="user"
        />
      </label>
      
      <div id="edit-image" style="display: none;">
        <h2 class="nhsuk-heading-xl">Review photo</h2>
        <div class="container nhsuk-u-width-one-half">
          <img id="pictureFromCamera" />
        </div>
        <form action="/applicant/v11/preferred-name" method="post" class="form">

          <div class="nhsuk-form-group nhsuk-u-margin-top-5">
  
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h2 class="nhsuk-fieldset__heading">
                  Does this photo meet guidelines?
                </h2>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="profile-yes-1" name="profile" type="radio" value="yes" {{ checked("profile", "yes") }}>
                  <label class="nhsuk-label nhsuk-radios__label" for="profile-yes-1">
                    Yes, use this photo
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="profile-no-1" name="profile" type="radio" value="no" {{ checked("profile", "no") }}>
                  <label class="nhsuk-label nhsuk-radios__label" for="profile-no-1">
                    No, retake this photo
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>
          
  
          {{ button({
            "text": "Continue"
          }) }}
  
        </form>
      </div>
    </div>

  </div>

  <script>
    var instructions = document.getElementById('instructions');
    var editPhoto = document.getElementById('edit-image');

    document
      .getElementById("cameraFileInput")
      .addEventListener("change", function () {
        editPhoto.style.display = "block";
        instructions.style.display = "none";
        document
          .getElementById("pictureFromCamera")
          .setAttribute("src", window.URL.createObjectURL(this.files[0]));
      });
  </script>
{% endblock %}
