{% extends 'layout.html' %}

{% block pageTitle %}
  Device not supported
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Device not supported
      </h1>

      <p>The device you are using cannot support the mobile app and you cannot continue.</p>

      <p>If you are using a laptop, tablet or desktop device you will not be able to run the mobile app.</p>

      <p>Try using the link with a different device.</p>

      <p>If you cannot access another device contact your manager, Registration Authority agent or application sponsor.</p>

      <p>Use the <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust Registration Authority website</a> to find your Registration Authority manager or agent.</p>

      <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>
    </div>

  </div>
{% endblock %}
