{% extends 'layout.html' %}

{% block pageTitle %}
  Device not supported
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Device not supported
      </h1>

      <p>Content TBC</p>

      <p>Given that I am on an device not supported by Xydus</p>

      <p>When I click on the Xydus app link (from an SMS or email)</p>

      <p>Then I should see the device not supported error page.</p>



    </div>

  </div>
{% endblock %}
