{% extends 'layout.html' %}

{% block pageTitle %}
  Your details may already be in the system
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your details may already be in the system
      </h1>

      <p class="nhsuk-body-l">You cannot continue using the online application.</p>

      <p>There is a record in our system that matches the details you have submitted. You may already have a Care ID.</p>

      <p>Contact your <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust's registration authority</a> to check if you already have a Care ID.</p>

      <p>If you have a Care ID the registration authority will add the permissions and access you need for your role.</p>

    </div>

  </div>
{% endblock %}
