{% extends 'layout.html' %}

{% block pageTitle %}
  This application has been deleted
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        This application has been deleted
      </h1>

      <p class="nhsuk-body">Your application has been deleted and you will be unable to continue with the process. </p>
        <p>Contact your application sponsor, manager or the <a href="">NHS Trust registration authority</a> responsible for Care IDs if you need to continue with your application.</p>
        <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> if you need further information or help with your application. Include the reason you cannot continue with your application in the email message.</p>

    </div>

  </div>
{% endblock %}
