{% extends 'layout.html' %}

{% block pageTitle %}
  This application has been deleted
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        This application has been cancelled
      </h1>

      <p class="nhsuk-body">Your application has been cancelled and you will be unable to continue with the process. </p>
      <p>Contact your application sponsor, manager or the <a href="">NHS Trust registration authority</a> responsible for Care IDs if you need to continue with your application.</p>
      <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>

    </div>

  </div>
{% endblock %}
