{% extends 'layout.html' %}

{% block pageTitle %}
  This link  is incorrect
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        This link is incorrect
      </h1>

      <p>Check you have typed or copied and pasted the full link into your address bar.</p>

      <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>
      

    </div>

  </div>
{% endblock %}
