{% extends 'layout-idchecker-v4.html' %}

{% block pageTitle %}
  There was a problem creating the Care ID
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There was a problem creating the Care ID
      </h1>

      <p>The system encountered a problem. Please <a href="/idchecker/v4/confirm-details">go back</a>  and try again.</p>

      <p>If the problem still occurs copy the error message below and send it to: <a href="">enquiries@nhsdigital.nhs.uk</a></p>

      <p>Error: Error code/description</p>

      

    </div>

  </div>
{% endblock %}
