{% extends 'layout-idchecker-v4.html' %}


{% block pageTitle %}
  Rejected applications
{%endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v4/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Rejected applications</h1>
      
    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">Application ID</th>
          <th role="columnheader" class="" scope="col">Applicant name</th>
          <th role="columnheader" class="" scope="col">Date rejected</th>
          <th role="columnheader" class="" scope="col">Rejected by</th>
          <th role="columnheader" class="" scope="col">Reasons</th>
          <th role="columnheader" class="" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>0826436c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>James Stenberg
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>10 September 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Connie Shepard
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>	Photo ID 1: has expired, is not legible, is not accepted. Proof of address: is not legible. Face scan: unable to match face likeness, does not meet requirements. Smartcard photo: does not meet guidelines.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>08247c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Tavish Sydney
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>24 August 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Joanna Bloggs
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>Photo ID 2: is a duplicate, has expired.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>08346dn
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Shirin Peters
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>9 August 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Kris Emerson
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>Name and date of birth: do not match.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>074hs4c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Diana Ingram
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>22 July 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Connie Shepard
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>Smartcard photo: does not meet guidelines.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
