{% extends 'layout-loggedin.html' %}


{% block pageTitle %}
  Rejected applications
{%endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v4/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Rejected applications</h1>
      
    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">Application ID</th>
          <th role="columnheader" class="" scope="col">Applicant name</th>
          <th role="columnheader" class="" scope="col">Date rejected</th>
          <th role="columnheader" class="" scope="col">Rejected by</th>
          <th role="columnheader" class="" scope="col">Reasons</th>
          <th role="columnheader" class="" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>0826436c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>James Stenberg
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>10 September 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Connie Shepard
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>ID 1. Whole document is fake. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>08247c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Tavish Sydney
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>24 August 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Joanna Bloggs
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>Proof of address. Expired
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>08346dn
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Shirin Peters
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>9 August 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Kris Emerson
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>ID 2. Cannot see everything clearly. Date of birth is covered by thumb.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span>074hs4c
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applicant name</span>Diana Ingram
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date reviewed</span>22 July 2021
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reviewed by</span>Connie Shepard
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reason</span>ID 2. User has not sent an ID.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Actions</span><a href="/idchecker/v4/review-id-rejected">Open</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
