{% extends 'layout-idchecker-v4.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Reopen application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v4/review-id-rejected",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Reopen application
      </h1>

      <p>This application will be moved back to 'Waiting for review'.</p>

      <p></p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          Notes (optional)
        </label>
        <textarea class="nhsuk-textarea" id="example" name="example" rows="3" aria-describedby="example-hint"></textarea>
      </div>
      
      


      <a href="/idchecker/v4/dashboard" class="nhsuk-button nhsuk-u-margin-top-4">
        Reopen application
      </a>

    </div>
  </div>
{% endblock %}
