{% extends 'layout-idchecker-v4.html' %}

{% block pageTitle %}
  Rejected application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v4/rejected-list",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: James Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text">Status: Rejected</p>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Application summary</h2>
        
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application ID
            </dt>
            <dd class="nhsuk-summary-list__value">
            0826704cs-3467ce-3487r98
            </dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Rejected by
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Joanna Blogs on 12th March 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Rejection reasons
            </dt>
            <dd class="nhsuk-summary-list__value">
            	<p>Photo ID 1 (passport) has expired, could not be read (this may be because the image is blurry or handwritten), is not accepted.</p>
              <p>Proof of address is could not be read (this may be because the image is blurry or handwritten).</p>
              <p>Face scan does not meet face likeness requirements, does not meet face liveness requirements</p>
              <p>Smartcard photo does not meet guidelines.</p>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Rejection notes
            </dt>
            <dd class="nhsuk-summary-list__value">
              Photo ID 1 is worn. Unable to read date of birth
            </dd>
          </div>

        
        </dl>

      </div>
    </div>
    
    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="photo-id-1">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Photo ID 1: passport</h2>
        <p class="nhsuk-body-s nhsuk-u-reading-width">To zoom in either double click on the picture, or position your cursor on the image, then hold 'Alt' + scroll with your mouse wheel. <a href="">Reset</a> </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <div class="container">
              <img src="/images/uk-passport.png" alt="photo id 1">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="photo-id-2">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Photo ID 2: driving licence</h2>
        <p class="nhsuk-body-s nhsuk-u-reading-width">To zoom in either double click on the picture, or position your cursor on the image, then hold 'Alt' + scroll with your mouse wheel. <a href="">Reset</a> </p>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="container">
                <img src="/images/dl-front.png" alt="photo id 1">
              </div>
              <div class="container">
                <img src="/images/dl-back.png" alt="photo id 1">
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
               
            </div>
          </div>
        
      </div>
    </div>
    

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="poa">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Proof of address</h2>
        <p class="nhsuk-body-s nhsuk-u-reading-width">To zoom in either double click on the picture, or position your cursor on the image, then hold 'Alt' + scroll with your mouse wheel. <a href="">Reset</a> </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <div class="container">
              <img src="/images/poa-2.png" alt="proof of address">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="name">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Name and date of birth</h2>
        <p class="nhsuk-u-reading-width">Compare name and date of birth with photo ids and proof of address.</p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  First Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Karen
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Middle Names
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Francis
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Last Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Turner
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  15 March 1984
                </dd>

              </div>

            </dl>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-expander-group">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 1
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/uk-passport.png" alt="photo id 1">
                  </div>
                </div>
              </details>
            
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 2
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/dl-front.png" alt="photo id 2">
                  </div>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to proof of address
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/poa-2.png" alt="proof of address">
                  </div>
                </div>
              </details>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="face-scan">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Face liveness and likeness</h2>
        <p class="nhsuk-u-reading-width">Compare the face scan with photo IDs to verify a true likenesss.</p>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Face likeness values
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Likeness values should be higher than 0.85</p>
            
            <dl class="nhsuk-summary-list nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-width-two-thirds">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  eChip vs face scan
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.67574
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  eChip vs photo ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.8734
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Photo ID vs face scan
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.7465
                </dd>
              </div>

            </dl>
            
          </div>
        </details>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <div class="container">
              <img src="/images/face.png" alt="face scan">
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half">
            
            <div class="nhsuk-expander-group">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to eChip
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/biometric.png" alt="biometric chip photo">
                  </div>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 1
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/uk-passport.png" alt="photo id 1">
                  </div>
                </div>
              </details>
            
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 2
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/dl-front.png" alt="photo id 2">
                  </div>
                </div>
              </details>
            </div>

            

          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-card" id="smartcard">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Smartcard photo</h2>
            <p class="nhsuk-u-reading-width">Smartcard photos must meet passport photo rules and be taken against a plain background with adequate lighting.</p>
            <ul class="nhsuk-u-reading-width nhsuk-u-margin-bottom-6">
              <li>it is clear and in focus</li>
              <li>the person shown is facing forward</li>
              <li>their  face is not  hidden by hair or other objects</li>
              <li>the photo does not contain any other people or objects</li>
            </ul>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
           
            <div class="container">
              <img src="/images/biometric.png" alt="smartcard photo">
            </div>
            <p>Source: eChip</p>
          </div>
          <div class="nhsuk-grid-column-one-half">
          </div>
        </div>
      </div>
    </div>

    <!-- end content -->

  </div>
</div>
{% endblock %}
