{% extends 'layout-idchecker-v4.html' %}

{% block pageTitle %}
  Review application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v4/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-alert nhsuk-alert--warning nhsuk-alert--icon nhsuk-u-margin-top-4">
      <svg class="nhsuk-icon nhsuk-icon__warning nhsuk-alert__icon" fill="none" aria-hidden="true" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
        <g>
          <g>
            <path d="M501.609,384.603L320.543,51.265c-13.666-23.006-37.802-36.746-64.562-36.746c-26.76,0-50.896,13.74-64.562,36.746
              c-0.103,0.176-0.19,0.352-0.293,0.528L10.662,384.076c-13.959,23.491-14.223,51.702-0.719,75.457
              c13.535,23.769,37.919,37.948,65.266,37.948h360.544c27.347,0,52.733-14.179,66.267-37.948
              C515.524,435.779,515.261,407.566,501.609,384.603z M225.951,167.148c0-16.586,13.445-30.03,30.03-30.03
              c16.586,0,30.03,13.445,30.03,30.03v120.121c0,16.584-13.445,30.03-30.03,30.03s-30.03-13.447-30.03-30.03V167.148z
              M255.981,437.421c-24.839,0-45.046-20.206-45.046-45.046c0-24.839,20.206-45.045,45.046-45.045
              c24.839,0,45.045,20.206,45.045,45.045C301.027,417.214,280.821,437.421,255.981,437.421z"/>
          </g>
        </g>
      </svg>
      <h3 class="nhsuk-u-visually-hidden">Warning:</h3>
      <p class="nhsuk-u-font-weight-bold">This application has the following warnings and errors</p>
      <p>Address check returned as deceased</p>
    </div>

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: James Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text">Status: In review</p>

    

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Application summary</h2>
        
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application ID
            </dt>
            <dd class="nhsuk-summary-list__value">
            0826737-fdnc9348-34877e0-23763
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Raised by
            </dt>
            <dd class="nhsuk-summary-list__value">
            Vincent Douglas on 8 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Requestor email address
            </dt>
            <dd class="nhsuk-summary-list__value">
            vincent.douglas58@nhs.net
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Organisation
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Barsetshire NHS Foundation Trust (RWA)
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Submitted on 
            </dt>
            <dd class="nhsuk-summary-list__value">
            	12th March 2022
            </dd>
          </div>
        
        </dl>

      </div>
    </div>

     <!-- Photo ID 1 -->
    
     <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="photo-id-1">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Photo ID 1: passport</h2>
        <p class="nhsuk-body-s nhsuk-u-reading-width">To zoom in either double click on the picture, or position your cursor on the image, then hold 'Alt' + scroll with your mouse wheel. <a href="">Reset</a> </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <div class="container">
              <img src="/images/uk-passport.png" alt="photo id 1">
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <form action="">
              <div class="nhsuk-form-group nhsuk-u-margin-top-4">
  
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    <h3 class="nhsuk-fieldset__heading">
                      Does this ID meet NHS ID checking standards?
                    </h3>
                  </legend>
              
                  <div class="nhsuk-radios nhsuk-radios--conditional">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="approve-1" name="id-1" type="radio" value="approve" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="approve-1">
                        Yes, approve this photo ID
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="reject-1" name="id-1" type="radio" value="reject" aria-controls="conditional-reject-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="reject-1">
                        No, reject this photo ID
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-reject-1">
              
                      <div class="nhsuk-form-group">
                    
                          <div class="nhsuk-hint nhsuk-u-margin-top-4" id="reject-2-hint">
                            Select all options that apply
                          </div>
                    
                          <div class="nhsuk-checkboxes">
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="expired-1" name="reject-id-one" type="checkbox" value="expired">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="expired-1">
                                Expired
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="incomplete-1" name="reject-id-one" type="checkbox" value="incomplete">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="incomplete-1">
                                Missing information
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="unacceptable-1" name="reject-id-one" type="checkbox" value="unacceptable">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="unacceptable-1">
                                Not accepted
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="legible-1" name="reject-id-one" type="checkbox" value="legible">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="legible-1">
                                Could not be read
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="fraud-1" name="reject-id-one" type="checkbox" value="fraud">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-1">
                                Suspected fraud
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="smoke-1" name="reject-id-one" type="checkbox" value="smoke">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="smoke-1">
                                Smoke test - internal use only
                              </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="other-1" name="reject-id-one" type="checkbox" value="other">
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="other-1">
                                Other
                              </label>
                            </div>
                            
                            
                          </div>
                    
                      </div>
              
                    </div>
              
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
          
        </div>
    
      </div>
    </div>

    <!-- Proof of address -->
    

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="poa">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">UK address check</h2>
        <p class="nhsuk-u-reading-width">Applicants must score 90 or more points to pass the address check.</p>
        <dl class="nhsuk-summary-list nhsuk-summary-list nhsuk-u-width-three-quarters"> 
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Result
            </dt>
            <dd class="nhsuk-summary-list__value">
              Fail
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Score
            </dt>
            <dd class="nhsuk-summary-list__value">
              -10
            </dd>
          </div> 
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Primary checks matched
            </dt>
            <dd class="nhsuk-summary-list__value">
              0
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth confirmed
            </dt>
            <dd class="nhsuk-summary-list__value">
              0
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Warnings
            </dt>
            <dd class="nhsuk-summary-list__value">
              Address check returned as deceased
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              Flat 5 Grange Court, 12 Smith Avenue, Manchester, M30 6GF
            </dd>
          </div>
        </dl>

        <form action="">
          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h3 class="nhsuk-fieldset__heading">
                  Does this address check meet NHS ID checking standards?
                </h3>
              </legend>
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="approve-3" name="poa" type="radio" value="approve" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="approve-3">
                    Yes, approve this address check
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reject-3" name="poa" type="radio" value="reject" aria-controls="conditional-reject-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="reject-3">
                    No, reject this address check
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-reject-3">
          
                  <div class="nhsuk-form-group">
                
                      <div class="nhsuk-hint nhsuk-u-margin-top-4" id="reject-3-hint">
                        Select all options that apply
                      </div>
                
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="requirements-3" name="reject-poa" type="checkbox" value="requirements">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="requirements-3">
                            Does not meet requirements
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="fraud-3" name="reject-poa" type="checkbox" value="fraud">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-3">
                            Suspected fraud
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="smoke-3" name="reject-poa" type="checkbox" value="smoke">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="smoke-3">
                            Smoke test - internal use only
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="other-3" name="reject-poa" type="checkbox" value="other">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="other-3">
                            Other
                          </label>
                        </div>
                        
                      </div>
                
                  </div>
          
                </div>
          
              </div>
            </fieldset>
          </div>
        </form>
        
      </div>
    </div>

    <!-- Name and date of birth -->

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="name">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Name and date of birth</h2>
        <p class="nhsuk-u-reading-width">Compare name and date of birth with photo ids and proof of address.</p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  First Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Karen
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Middle Names
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Francis
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Last Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Turner
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  15 March 1984
                </dd>

              </div>

            </dl>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-expander-group">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 1
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/uk-passport.png" alt="photo id 1">
                  </div>
                </div>
              </details>
            
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 2
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/dl-front.png" alt="photo id 2">
                  </div>
                </div>
              </details>

            </div>
          </div>
        </div>

        <form action="">
          <div class="nhsuk-form-group nhsuk-u-margin-top-4">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h3 class="nhsuk-fieldset__heading nhsuk-u-reading-width">
                  Do the name and date of birth match the photo IDs and proof of address? 
                </h3>
              </legend>
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="approve-4" name="name" type="radio" value="approve" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="approve-4">
                    Yes, approve name and date of birth
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reject-4" name="name" type="radio" value="reject" aria-controls="conditional-reject-4" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="reject-4">
                    No, reject name and date of birth
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-reject-4">
          
                  <div class="nhsuk-form-group">
                
                      <div class="nhsuk-hint nhsuk-u-margin-top-4" id="reject-3-hint">
                        Select all options that apply
                      </div>
                
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="not-match" name="reject-name" type="checkbox" value="not match">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="not-match">
                            Name and / or date of birth do not match
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="fraud-4" name="reject-name" type="checkbox" value="fraud">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-4">
                            Suspected fraud
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="smoke-4" name="reject-name" type="checkbox" value="smoke">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="smoke-4">
                            Smoke test - internal use only
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="other-4" name="reject-name" type="checkbox" value="other">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="other-4">
                            Other
                          </label>
                        </div>

                      </div>
                
                  </div>
          
                </div>
          
              </div>
            </fieldset>
          </div>
        </form>

      </div>
    </div>

    <!-- Face scan -->

    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="face-scan">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Face likeness and liveness</h2>
        <p class="nhsuk-u-reading-width">Compare the face scan with photo IDs to verify a true likenesss.</p>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Face likeness values
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Likeness values should be higher than 0.85</p>
            
            <dl class="nhsuk-summary-list nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-width-two-thirds">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  eChip vs face scan
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.67574
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  eChip vs photo ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.8734
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key key-width">
                  Photo ID vs face scan
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0.7465
                </dd>
              </div>

            </dl>
            
          </div>
        </details>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <div class="container">
              <img src="/images/face.png" alt="face scan">
            </div>
           
          </div>
          <div class="nhsuk-grid-column-one-half">
            
            <div class="nhsuk-expander-group">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to eChip
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/biometric.png" alt="biometric chip photo">
                  </div>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 1
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/uk-passport.png" alt="photo id 1">
                  </div>
                </div>
              </details>
            
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Compare to photo ID 2
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="container">
                    <img src="/images/dl-front.png" alt="photo id 2">
                  </div>
                </div>
              </details>
            </div>

           

          </div>
        </div>

        <form action="">
          <div class="nhsuk-form-group nhsuk-u-margin-top-4">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h3 class="nhsuk-fieldset__heading">
                  Does the face scan match the photo IDs?
                </h3>
              </legend>
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="approve-5" name="face" type="radio" value="approve" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="approve-5">
                    Yes, approve face likeness
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reject-5" name="face" type="radio" value="reject" aria-controls="conditional-reject-5" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="reject-5">
                    No, reject face likeness
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-reject-5">
          
                  <div class="nhsuk-form-group">
                
                      <div class="nhsuk-hint nhsuk-u-margin-top-4" id="reject-5-hint">
                        Select all options that apply
                      </div>
                
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="likeness-5" name="reject-face" type="checkbox" value="likeness">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="likeness-5">
                            Does not meet face likeness requirements
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="liveness-5" name="reject-face" type="checkbox" value="liveness">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="liveness-5">
                            Does not meet face liveness requirements
                          </label>
                        </div>
                        
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="fraud-5" name="reject-face" type="checkbox" value="fraud">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-5">
                            Suspected fraud
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="smoke-5" name="reject-face" type="checkbox" value="smoke">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="smoke-5">
                            Smoke test - internal use only
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="other-5" name="reject-face" type="checkbox" value="other">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="other-5">
                            Other
                          </label>
                        </div>
                        

                      </div>
                
                  </div>
          
                </div>
          
              </div>
            </fieldset>
          </div>
        </form>

      </div>
    </div>

    <!-- Smartcard photo -->


    <div class="nhsuk-card" id="smartcard">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Smartcard photo</h2>
            <p class="nhsuk-u-width-two-thirds">Smartcard photos must meet passport photo rules and be taken against a plain background with adequate lighting.</p>
            <ul class="nhsuk-u-width-two-thirds nhsuk-u-margin-bottom-6">
              <li>it is clear and in focus</li>
              <li>the person shown is facing forward</li>
              <li>their  face is not  hidden by hair or other objects</li>
              <li>the photo does not contain any other people or objects</li>
            </ul>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
           
            <div class="container">
              <img src="/images/biometric.png" alt="smartcard photo">
            </div>
        
          </div>
          <div class="nhsuk-grid-column-one-half">
            <form action="/idchecker/v4/review-id-d#smartcard" method="post" class="form">
              <div class="nhsuk-form-group nhsuk-u-margin-bottom-3">
                <label class="nhsuk-label--m nhsuk-u-margin-bottom-2" for="photo-source">
                  Select a different photo
                </label>
                <select class="nhsuk-select" id="photo-source" name="photo-source">
                  <option value="1" selected>eChip</option>
                  <option value="2">Photo ID 1 extract</option>
                  <option value="3">Photo ID 2 extract</option>
                  <option value="4">Face scan</option>
                </select>
              </div>
              
            </form>
          </div>
        </div>

        <form action="">
          <div class="nhsuk-form-group nhsuk-u-margin-top-4">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h3 class="nhsuk-fieldset__heading">
                  Does the smartcard photo meet NHS ID checking standards?
                </h3>
              </legend>
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="approve-6" name="smartcard" type="radio" value="approve" aria-controls="conditional-approve-6" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="approve-6">
                    Yes, approve smartcard photo
                  </label>
                </div>

                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-approve-6">
          
                  <div class="nhsuk-form-group  nhsuk-u-margin-top-4">
                
                      <div class="nhsuk-checkboxes">
                        
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="update-later" name="approve-smartcard" type="checkbox" value="update-later">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="update-later">
                            Smartcard photo will need to be updated
                          </label>
                        </div>

                      </div>
                
                  </div>
          
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reject-6" name="smartcard" type="radio" value="reject" aria-controls="conditional-reject-6" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="reject-6">
                    No, reject smartcard photo
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-reject-6">
          
                  <div class="nhsuk-form-group">
                
                      <div class="nhsuk-hint nhsuk-u-margin-top-4" id="reject-6-hint">
                        Select all options that apply
                      </div>
                
                      <div class="nhsuk-checkboxes">
                        
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="non-conformant-6" name="reject-smartcard" type="checkbox" value="non-conformant">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="non-conformant-6">
                            Photo(s) do not meet passport guidelines
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="image-quality-6" name="reject-smartcard" type="checkbox" value="image-quality">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="image-quality-6">
                            Photo(s) are too blurry
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="fraud-6" name="reject-smartcard" type="checkbox" value="fraud">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-6">
                            Suspected fraud
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="smoke-6" name="reject-smartcard" type="checkbox" value="smoke">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="smoke-6">
                            Smoke test - internal use only
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="other-6" name="reject-smartcard" type="checkbox" value="other">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="other-6">
                            Other
                          </label>
                        </div>

                      </div>
                
                  </div>
          
                </div>
          
              </div>
            </fieldset>
          </div>
        </form>

      </div>
    </div>

    <!-- Actions -->

    <a class="nhsuk-button nhsuk-u-margin-right-5" href="/idchecker/v4/confirm-details">Approve</a>

    <a class="nhsuk-button nhsuk-button--secondary delete-button nhsuk-u-margin-right-5" href="/idchecker/v4/reject-application">Reject</a>

    <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-5" href="/idchecker/v4/move-to-holding">Refer</a>


    <!-- end content -->

  </div>
</div>
{% endblock %}
