{% extends 'layout.html' %}

{% block pageTitle %}
  How TransUnion verifies your UK address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v17/step-1/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        How TransUnion verifies your UK address
      </h1>

      

      <p>We share your name, date of birth and UK address with a trusted organisation, <a href="https://www.transunion.co.uk/about-us">TransUnion</a>.</p>

      <p>TransUnion are an information and insights company.</p>

      <p>They will check for connections between your address, name and organisations like:</p>

      <ul>
        <li>banks</li>
        <li>utility providers</li>
        <li>local councils</li>
        <li>electoral register</li>
      </ul>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I have more than one UK address or have recently moved
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Enter the address with the most connections to organisations like:</p>
          <ul>
            <li>banks</li>
            <li>utility providers </li>
            <li>electoral register</li>
          </ul>
          <p>If you have moved within the last couple of months:</p>
          <ul>
            <li>provide your previous address if you are unlikely to have any activity connected to your name at your new address</li>
            <li>or go back to the previous screen and verify your identity by providing a proof of address document for your new address and 2 photo IDs</li>
          </ul>
        </div>
      </details>

      <a href="/applicant/v17/step-1/address-postcode" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7">
        Continue
      </a>

      <p>desktop: min 769px  </p>

      <div class="nhsuk-u-margin-top-5" style="position: relative; width: 540px; height: 345px;">
        <img id="card-layout" style="width: 540px; position: absolute;" class="nhsuk-image__img" src="/images/careid-example.png" alt="CareID Card Preview">
        <img id="pictureFromCamera3" style="width: 138px; height: 175px; position: absolute; right: 42px; top: 88px; object-fit: cover;" class="nhsuk-image__img" src="/images/correct.png" alt="CareID Card Preview">
        <p id="user-uuid" style="position: absolute; right: 42px; bottom: 44px; padding: 0; margin: 0; font-weight: bold;">123456789012</p>
        <p id="user-name" style="position: absolute; right: 42px; bottom: 18px; padding: 0; margin: 0; font-weight: bold;">Your name</p>
      </div>

      <p class="nhsuk-u-margin-top-8">tablet: min 641px max 768px</p>

      <div class="nhsuk-u-margin-top-5" style="position: relative; width: 450px; height: 288px;">
        <img id="card-layout" style="width: 450px; position: absolute;" class="nhsuk-image__img" src="/images/careid-example.png" alt="CareID Card Preview">
        <img id="pictureFromCamera3" style="width: 115px; height: 145px; position: absolute; right: 35px; top: 70px; object-fit: cover;" class="nhsuk-image__img" src="/images/correct.png" alt="CareID Card Preview">
        <p id="user-uuid" style="position: absolute; right: 35px; bottom: 35px; padding: 0; margin: 0; font-weight: bold;">123456789012</p>
        <p id="user-name" style="position: absolute; right: 35px; bottom: 10px; padding: 0; margin: 0; font-weight: bold;">Your name</p>
      </div>

      <p class="nhsuk-u-margin-top-8">mobile: max 640px</p>

      <div class="nhsuk-u-margin-top-5" style="position: relative; width: 340px; height: 217px;">
        <img id="card-layout" style="width: 340px; position: absolute;" class="nhsuk-image__img" src="/images/careid-example.png" alt="CareID Card Preview">
        <img id="pictureFromCamera3" style="width: 88px; height: 111px; position: absolute; right: 27px; top: 55px; object-fit: cover;" class="nhsuk-image__img" src="/images/correct.png" alt="CareID Card Preview">
        <p id="user-uuid" class="nhsuk-u-font-size-14"  style="position: absolute; right: 27px; bottom: 24px; padding: 0; margin: 0; font-weight: bold;">123456789012</p>
        <p id="user-name" class="nhsuk-u-font-size-14" style="position: absolute; right: 27px; bottom: 6px; padding: 0; margin: 0; font-weight: bold;">Your name</p>
      </div>

    </div>

  </div>
{% endblock %}
