{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Do you have a UK address?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v17/start-application",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form action="/applicant/v17/step-1/poa" method="post" class="form">

        <p class="nhsuk-page-heading__small nhsuk-u-margin-bottom-1 grey-text">Step 1 of 3</p>

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
              <h1 class="nhsuk-fieldset__heading">
                Do you live at a UK address?
              </h1>
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="uk-yes" name="uk" type="radio" value="yes" {{ checked("uk", "yes") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="uk-yes">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="uk-no" name="uk" type="radio"  value="no" {{ checked("uk", "no") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="uk-no">
                  No
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
