{% extends 'layout.html' %}

{% block pageTitle %}
  You may already have an NHS Care ID profile
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You may already have an NHS Care ID profile
      </h1>

      <p>There is a record in our system that matches the details you have submitted.</p>

      <p>You do not need to apply for a new Care ID.</p>

      <p>To continue:</p>

      <ul>
        <li>fill out the template provided in this message</li>
        <li>email the completed template to your inviter at <a href="">ra-services-barset@nhs.net</a></li>
        <li>your inviter will respond with instructions on how to continue your application</li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <p>Subject line: Apply for Care ID - duplicate profile found</p>

      <p class="nhsuk-u-margin-left-4">Dear,</p>

      <p class="nhsuk-u-margin-left-4">A Care ID profile that matches my information has been found.</p>

      <p class="nhsuk-u-margin-left-4">I am asking for support adding the permissions and access I need to this profile.</p>

      <p class="nhsuk-u-margin-left-4">My application ID is: u34834uf-83468347-3483743 </p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
      

      <p class="nhsuk-u-margin-top-8">This is a new service, your <a href="">feedback</a> will help us improve it.</p>

     

    </div>

  </div>
{% endblock %}
