// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';
@import 'components/spinner';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
.inner
{
    display: inline-block;
}

.success-alert
{

    border-width:4px;
    border-color:#007f3b;

}

.success-alert-content
{
  display:inline;
  vertical-align: middle;
}

.warning-alert
{
    border-width:4px;
    border-color:#d5281b;
}

.warning-alert-content
{
  display:inline;
  vertical-align: middle;
}

.email
{
  background-color: white;
}

.passport-photo
{
  max-width:600px;
  width:100%;
}

.small-button
{
  padding: 3px 16px 3px 16px;
}

.delete-button
{
  background-color:#d5281b;

}

.nhsuk-button--secondary.delete-button:hover {
  background-color:#B02A20;
}


.nav-bar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar-item
{
  display: inline;
}
