// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';
@import 'components/list-border';
@import 'components/spinner';
@import 'components/small-checkboxes';
@import 'components/alerts';
@import 'components/tabs';
@import 'components/account-nav';
@import 'components/card-secondary';
@import 'components/timeline';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
.inner
{
    display: inline-block;
}

.success-alert
{
    border-width:4px;
    border-color:#007f3b;
    
}

.warning-alert
{
    border-width:4px;
    border-color:#d5281b;
    
}

.success-alert-content
{
  background-color: #f0f4f5;
}

.warning-alert-content
{
  background-color: #FFF3F2;
}

.passport-photo
{
  width:100%;
  height: auto;
}

.delete-button
{
  background-color:#d5281b;
}

.nhsuk-button--secondary.delete-button:hover {
  background-color:#B02A20;
}

.summary-color

{
  background-color:	#f0f4f5;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */

.container .show-id {
  position: absolute;
  top: 6%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.show-id {
  background-color: #ffffff;
  padding:0.4rem;
}

.key-width {
  width: 40%;
}


.yellow-card {
  background-color: #fff9c4;
  border-color:		#ffeb3b;

}

.green-card {
  background-color: #cce5d8;
  border-color:		$color_nhsuk-green;
}

.grey-card {
  background-color: $color_nhsuk-grey-5;
}


.expand-button {
  float:right;
  padding: 6px 10px 6px 10px;
  margin:16px;
  font-size: 16px;
}

.email-main {
  padding:0px;
}

.email-layout {
  background-color: #ffffff;
  padding:0px;
  border-bottom: 6px solid #005eb8;
}

.email-header {
  background-color: #005eb8;
  padding:20px 20px 16px 20px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#212b32; /* Fallback color */
  background-color: rgba(33,43,50,0.75); /* Black w/ opacity */
}

.timeout {
  border: 4px solid #212b32;
  width: 70%;
  max-width: 540px;
  margin: auto;
  margin-top: 80px;
}

.cookie-banner {
  background-color: #ffffff;
}

.cookie-success-banner {
  background-color: #007f3b;
  color: #ffffff;
}

.nhsuk-link.white-link {
  color:#ffffff;
  text-decoration: none;
}

.nhsuk-link.white-link:hover {
  text-decoration: underline;
}

.white-body {
  color:#ffffff;
}


.feedback-banner {
  background-color: #ffffff;
}

.feedback-banner-content {
  border-bottom: 1px solid #d8dde0;
}


.nhsuk-input:disabled {
  opacity: 0.7;
}

.nhsuk-select {
  background-color: #ffffff;
  color: #212b32;
}

.blue-inset-text {
  background-color: #E3F0FC;
}

.yellow-inset-text {
  background-color: 	 $color_nhsuk-pale-yellow;
  border-left: 8px solid 	 $color_nhsuk-warm-yellow;
}

.right-justify {
  justify-content: right;
}

.error-red {
  color: $nhsuk-error-color;
}

.grey-text {
  color:  $nhsuk-secondary-text-color;
}

.max-width-1100 {
  max-width: 1100px;
}

.max-width-1300 {
  max-width: 1300px;
}

.overflow-filter {
  height: 200px;
  overflow: auto;
}


.camera-link {
  color: #005eb8;
  text-decoration: underline;
}

.camera-link:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid rgba(0,0,0,0);
  text-decoration: none;

}

.camera-link:hover {
  color: #7c2855;
  text-decoration: none;
}


.guideline-photo {
  width:100%;
}


@media all and (min-width: 769px) {
  .no-photo {display:block;}
  #take-photo-option {display:block;}
  .camera-link {display:none;}
  #smartcard-container {
    position: relative; 
    width: 540px; 
    height: 345px;
  }
  #card-layout {
    width: 540px; 
    position: absolute;
  }
  #pictureFromCameraA {
    width: 138px; 
    height: 175px; 
    position: absolute; 
    right: 42px; 
    top: 88px; 
    object-fit: cover;
  }
  #pictureFromCameraB {
    width: 138px; 
    height: 175px; 
    position: absolute; 
    right: 42px; 
    top: 88px; 
    object-fit: cover;
  }
  #user-uuid {
    position: absolute; 
    right: 42px; 
    bottom: 44px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
  }
  #user-name {
    position: absolute; 
    right: 42px; 
    bottom: 18px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
  }

  #crop-image {
    width:90%
  }

  #preview-image {
    width:100%
  }


  
}

@media all and (min-width:641px) and (max-width: 768px) {
  .no-photo {display:none;}
  #take-photo-option {display:none;}
  .camera-link {display:block;}
  #smartcard-container {
    position: relative; 
    width: 450px; 
    height: 288px;
  }
  #card-layout {
    width: 450px; 
    position: absolute;
  }
  #pictureFromCameraA {
    width: 115px; 
    height: 145px; 
    position: absolute; 
    right: 35px; 
    top: 70px; 
    object-fit: cover;
  }
  #pictureFromCameraB {
    width: 115px; 
    height: 145px; 
    position: absolute; 
    right: 35px; 
    top: 70px; 
    object-fit: cover;
  }
  #user-uuid {
    position: absolute; 
    right: 35px; 
    bottom: 35px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
  }
  #user-name {
    position: absolute; 
    right: 35px; 
    bottom: 10px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
  }

  .mobile-one-half {
    width:33.3333%;
  }

  #crop-image {
    width:80%
  }

  #preview-image {
    width:50%
  }
  
}



@media all and (max-width: 640px) {
  .no-photo {display:none;}
  #take-photo-option {display:none;}
  .camera-link {display:block;}
  #smartcard-container {
    position: relative; 
    width: 340px; 
    height: 217px;
  }
  #card-layout {
    width: 340px; 
    position: absolute;
  }
  #pictureFromCameraA {
    width: 88px; 
    height: 111px; 
    position: absolute; 
    right: 27px; 
    top: 55px; 
    object-fit: cover;
  }
  #pictureFromCameraB {
    width: 88px; 
    height: 111px; 
    position: absolute; 
    right: 27px; 
    top: 55px; 
    object-fit: cover;
  }
  #user-uuid {
    position: absolute; 
    right: 27px; 
    bottom: 24px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
    font-size:14px;
  }
  #user-name {
    position: absolute; 
    right: 27px; 
    bottom: 6px; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
    font-size:14px;
  }

  .mobile-one-half {
    float: left;
    width:50%;
  }
 
  #crop-image {
    width:100%
  }

  #preview-image {
    width:50%
  }



}
