{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Check your details
      </h1>

      <h2 class="nhsuk-heading-m">ID verification details</h2>

      <dl class="nhsuk-summary-list">


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Photo ID selected
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['passport'] }}{{ data['1-photo-id'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/dev-ready/step-1/1-photo-id">
              Change<span class="nhsuk-u-visually-hidden"> Photo ID document</span>
            </a>
          </dd>
        </div>        

      </dl>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8">NHS Care ID profile details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Photo for your smartcard
          </dt>
          <dd class="nhsuk-summary-list__value">
            <div class="container">
              <img src="/images/biometric.png" alt="profile photo">
            </div>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/dev-ready/step-2/profile-photo-guidelines">
              Change<span class="nhsuk-u-visually-hidden"> your profile photo</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name on smartcard
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['preferred-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/dev-ready/step-2/preferred-name">
              Change<span class="nhsuk-u-visually-hidden"> your preferred name</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delivery address
          </dt>
          <dd class="nhsuk-summary-list__value">
            53, Albert Road, London SW12 5TR
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/dev-ready/step-2/delivery">
              Change<span class="nhsuk-u-visually-hidden"> your profile photo</span>
            </a>
          </dd>
        </div>

        

      </dl>

      <p>You will then need to download our secure mobile app to verify your identity.</p>


      <form action="/applicant/dev-ready/step-3/download-app" method="post" class="form">


        {{ button({
          "text": "Submit now"
        }) }}

      </form>

    </div>
  </div>

  <script>



  </script>
{% endblock %}
