{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Are you able to use a mobile app to capture images of documents and a photo of your face
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v6/dpoa" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
              <h1 class="nhsuk-fieldset__heading">
                Are you able to use a mobile app to capture images of documents and a photo of your face
              </h1>
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accessibility-yes" name="accessibility" type="radio" value="yes" {{ checked("accessibility", "yes") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="accessibility-yes">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accessibility-no" name="accessibility" type="radio" value="no" {{ checked("accessibility", "no") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="accessibility-no">
                  No
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
