{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  We are going to verify your UK address with a third-party organisation
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v6/accessibility",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v6/address-postcode" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
              <h1 class="nhsuk-fieldset__heading">
                We are going to verify your UK address with a third-party organisation
              </h1>
            </legend>

            <p>We'll check your address with TransUnion. They are a credit reference agency. </p>

            <p>This check will be used to verify that there has been activity over time at your address. This helps us to verify your identity.</p>

            <p>This will leave a digital footprint but will not affect your credit score and is not a credit check.</p>

            <p><a href="#">Get more information about TransUnion and this check</a></p>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-yes" name="dpoa" type="radio" value="Enter UK address" {{ checked("dpoa", "Enter UK address") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="accessibility-yes">
                  Yes, I agree that you can verify my address online
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-no" name="dpoa" type="radio" value="no" {{ checked("dpoa", "no") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="dpoa-no">
                  No, I want to verify my address a different way
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
