{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your selections
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v6/2-photo-id",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Check your details
      </h1>

      <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Address verification
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['poa'] }} 
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/applicant/v6/dpoa">
        Change<span class="nhsuk-u-visually-hidden"> address verification</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Photo ID document
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['2-photo-id'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/applicant/v6/2-photo-id">
        Change<span class="nhsuk-u-visually-hidden"> Photo ID document</span>
      </a>

    </dd>

  </div>

</dl>

<form action="/applicant/v6/spinner-selection" method="post" class="form">


    {{ button({
      "text": "Submit now"
    }) }}

    </form>







    </div>
  </div>
{% endblock %}
