{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for a Care ID
      </h1>

      <p>Use this service to verify your identity and apply for your Care ID.</p>

      <p>Your Care ID will allow you to access the systems, data and patient information you need for your role.</p>

      <a href="/applicant/v6/send-otp" class="nhsuk-button">
        Start
      </a>


      <h2 class="nhsuk-u-margin-top-3">Help and support with your application</h2>

      <p>Contact <a href="#">midlandscsu@RAservices.nhs.uk</a> for enquiries about:</p>

      <ul>
        <li>correct documents to use</li>
        <li>email invite link expiry</li>
        <li>verifying your identity in a different way because you cannot use this service.   </li>
      </ul>

      <p>Alternatively, contact <a href="#">enquiries@nhs.net</a> if you experience technical problems that are preventing you from using the service.</p>

      <p>Please do not reply to this email</p>

    </div>

  </div>
{% endblock %}
