{% extends 'layout.html' %}

{% block pageTitle %}
  Step 3: Verify your address
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon" id="role-changed-alert">
        <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        <h1 class="nhsuk-u-visually-hidden">Success:</h1>
        <p class="nhsuk-u-font-weight-bold">Your selections have been saved</p>
      </div>

      <h1 class="nhsuk-heading-xl">
        Step 3: Verify your address
      </h1>

      <p>Your address will be checked against the system to detect activity over time.</p>

      <p>This check will not affect your credit score and will not be visible to credit providers.</p>

      <a href="#" class="nhsuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
