{% extends 'layout.html' %}

{% block header %}
  {{ header({
    "service": {
        "name": "Check staff IDs",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block pageTitle %}
  Review applications
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>
        Review applications
      </h1>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">15 <span class="nhsuk-u-visually-hidden">Queue</span></p><p class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Queue</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable yellow-card">
            <div class="nhsuk-card__content">
              <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">11 <span class="nhsuk-u-visually-hidden">Holding list</span></p><a href="/idchecker/v1/holding-list" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Holding list</a>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">8 <span class="nhsuk-u-visually-hidden">Failed</span></p><a href="/idchecker/v1/failed" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Failed</a>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">33 <span class="nhsuk-u-visually-hidden">Passed</span></p><a href="/idchecker/v1/passed" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Passed</a>
            </div>
          </div>
      
        </li>
      </ul>


      <a href="/idchecker/v1/review-id" class="nhsuk-button">
        Review next application
      </a>

    </div>

  </div>
{% endblock %}
