{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block header %}
  {{ header({
    "service": {
        "name": "Check staff IDs",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block pageTitle %}
  Move to holding list
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v1/review-id",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Move to holding list</h1>

      <form action="/idchecker/v1/dashboard" method="post" class="form">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-2">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              Reason for moving
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="reason1" name="holding" type="radio" value="passport" aria-describedby="reason1-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="reason1-hints">
                Reason 1
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="reason2" name="holding" type="radio" value="reason2" aria-describedby="reason2-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="reason2-hints">
                Reason 2
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="reason3" name="holding" type="radio" value="reason3" aria-describedby="reason3-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="reason3-hints">
                Reason 3
              </label>
            </div>

          </div>

          <div class="nhsuk-form-group nhsuk-u-margin-top-5">
            <label class="nhsuk-label" for="example">
              Additional information
            </label>
            <textarea class="nhsuk-textarea" id="example" name="holding" rows="3" aria-describedby="example-hint"></textarea>
          </div>

        </fieldset>

        <button class="nhsuk-button nhsuk-button--secondary"  type="submit">
          Move
        </button>

      </form>

    </div>
  </div>

{% endblock %}
