{% extends 'layout.html' %}

{% block pageTitle %}
  Review Care ID applications
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Review Care ID applications
      </h1>

      <p>Log in with your smartcard to:</p>

      <ul>
        <li>review Care ID applications</li>
        <li>approve or reject applications</li>
        <li>submit applications for further review by another ID checker</li>
          
          
      </ul>

      <p>You will need the right permissions or roles on your smartcard to use this service.</p>


      <a href="/idchecker/v1/spinner-login" class="nhsuk-button">
        Log in
      </a>

      <p>If you do not have the right roles and permissions on your smartcard contact your <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">organisation's registration authority</a>.</p>

    </div>

  </div>
{% endblock %}
