{% extends 'layout.html' %}

{% block pageTitle %}
  We found a record that matches your details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        We found a record that matches your details
      </h1>

      <p>We found a record in our system that matches your details. You may already have a staff identity.</p>

      <p> <strong>You will not be able to continue using this online service</strong>.</p>

      <p>Speak to your <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust's registration authority</a> to confirm whether you already have a staff identity.</p>

      <p>They will also be able to add right permissions and access for your role and issue a smartcard. </p>

    </div>

  </div>
{% endblock %}
