{% extends 'layout.html' %}

{% block pageTitle %}
  We couldn't send a security code
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        We couldn't send a security code
      </h1>

      <p>We were unable to send a security code to ******<strong>7435</strong>.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Have we got the wrong phone number?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Get in touch with... to update your phone number. Or contact your RA to...</p>
        </div>
      </details>

    </div>

  </div>
{% endblock %}
