{% extends 'layout.html' %}

{% block pageTitle %}
  How TransUnion verifies your UK address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v18/step-1/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        How TransUnion verifies your UK address
      </h1>

      

      <p>We share your name, date of birth and UK address with a trusted organisation, <a href="https://www.transunion.co.uk/about-us">TransUnion</a>.</p>

      <p>TransUnion are an information and insights company.</p>

      <p>They will check for connections between your address, name and organisations like:</p>

      <ul>
        <li>banks</li>
        <li>utility providers</li>
        <li>local councils</li>
        <li>electoral register</li>
      </ul>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I have more than one UK address or have recently moved
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Enter the address with the most connections to organisations like:</p>
          <ul>
            <li>banks</li>
            <li>utility providers </li>
            <li>electoral register</li>
          </ul>
          <p>If you have moved within the last couple of months:</p>
          <ul>
            <li>provide your previous address if you are unlikely to have any activity connected to your name at your new address</li>
            <li>or go back to the previous screen and verify your identity by providing a proof of address document for your new address and 2 photo IDs</li>
          </ul>
        </div>
      </details>

      <a href="/applicant/v18/step-1/address-postcode" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7">
        Continue
      </a>

      

    </div>

  </div>
{% endblock %}
