{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter your UK postcode
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v18/step-1/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <form action="/applicant/v18/step-1/address-select" method="post" class="form">

          <div class="nhsuk-form-group">
            <h1 class="nhsuk-label-wrapper">
              <label class="nhsuk-label nhsuk-label--xl" for="address-postcode-1">
                Enter your UK postcode
              </label>
            </h1>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  I am a student living away from home, or have recently moved
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>Enter the address with the most connections to your name. For example:</p>
                <ul>
                  <li>banks</li>
                  <li>utility providers </li>
                  <li>electoral register</li>
                </ul>
                <p>If you have moved within the last couple of months:</p>
                <ul>
                  <li>provide your previous address if you are unlikely to have any connections to your name at your new address</li>
                  <li><a href="/applicant/step-1/poa">or verify your identity by providing a proof of address document for your new address and 2 photo IDs</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details" style="display:none;">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  I have more than 1 UK address or have recently moved
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>TransUnion will check for accounts registered in your name at your address. Accounts include banks, utility providers, or the electoral register.</p>
                <p>If you have more than 1 UK address:</p>
                <ul>
                  <li>enter the address with the most accounts registered</li>
                </ul>
                <p>If you have moved within the last couple of months:</p>
                <ul>
                  <li>enter your previous address if you are more likely to have accounts registered there</li>
                </ul>
                <p>If you do not have accounts registered at your address:</p>
                <ul>
                  <li><a href="/applicant/v18/step-1/poa">verify your identity by  providing a proof of address document instead</a> </li>
                </ul>
              </div>
            </details>


            <details class="nhsuk-details" style="display:none;">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  I have more than 1 UK address or have recently moved
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>TransUnion will check for connections between your address, name and organisations like banks, utility providers, or the electoral register.</p>
                <p>If you have more than 1 UK address:</p>
                <ul>
                  <li>enter the address with the most connections</li>
                </ul>
                <p>If you have moved within the last couple of months:</p>
                <ul>
                  <li>enter your previous address if you are more likely to have connections there</li>
                </ul>
                <p>If you are unlikely to have any have connections to your UK address:</p>
                <ul>
                  <li><a href="/applicant/v18/step-1/poa">verify your identity by  providing a proof of address document instead</a> </li>
                </ul>
              </div>
            </details>

            <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode-1" name="address-postcode-1" type="text" value="{{ data['address-postcode-1'] }}">
          </div>
        
  
        {{ button({
          "text": "Find address"
        }) }}

      </form>

      

    </div>
  </div>

{% endblock %}
