{% extends 'layout-idchecker-v5.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Move to on hold
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v5/dup-found",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Put this application on hold</h1>

      <p>This application will be put on hold with the following reason:</p>

      <ul>
        <li>Possible duplicate found. Duplicate check in CIM required</li>
      </ul>

      <p>An ID checker supervisor will carry out a manual check in CIM to confirm if the application is a duplicate.</p>

      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-5" href="/idchecker/v5/dashboard">Put on hold</a>

    </div>
  </div>

{% endblock %}
