{% extends 'layout.html' %}

{% block pageTitle %}
  Review Care ID applications
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Review Care ID applications
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>review Care ID applications</li>
        <li>approve or reject applications</li>
        <li>submit applications for further review by another ID checker</li>
          
          
      </ul>


      <a href="/idchecker/v5/log-in" class="nhsuk-button">
        Start
      </a>

    </div>

  </div>
{% endblock %}
