{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Agree to terms of use
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/applicant/ni-number",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <form action="/v2/applicant/check-your-answers" method="post" class="form">

      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Agree to our terms of use and privacy policy
              </h1>
            </legend>

            <p>We will collect and save your information securely. We will not share your personal data without consent. Other t and c information.</p>

            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="terms-1" name="terms-1" type="checkbox" value="completed"  {{ checked("terms-1", "completed") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="terms-1">
                  I agree to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>
                </label>
              </div>

            </div>
          </fieldset>

          <br>

          {{ button({
            "text": "Continue",
            "id": "btn_submit"
          }) }}

          </form>
    </div>

  </div>
{% endblock %}
