{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>
        Check your answers
      </h2>

      <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['title'] }} {{ data['first-name'] }} {{ data['middle-name'] }} {{ data['last-name'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v2/applicant/your-name">
        Change<span class="nhsuk-u-visually-hidden"> first name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Preferred name
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['preferred-name'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v2/applicant/your-name">
        Change<span class="nhsuk-u-visually-hidden"> preferred name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['day'] }}   {{ data['month'] }}   {{ data['year'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v2/applicant/date-of-birth">
        Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['ni-number'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v2/applicant/ni-number">
        Change<span class="nhsuk-u-visually-hidden"> national insurance number</span>
      </a>

    </dd>

  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Agree to terms of use
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['terms-1'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v2/applicant/agree-terms">
        Change<span class="nhsuk-u-visually-hidden"> terms of use</span>
      </a>

    </dd>

  </div>
</dl>


      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <p>
        Your details will be...
      </p>

      <a href="/v2/applicant/spinner-details" class="nhsuk-button">
        Submit now
      </a>

    </div>
  </div>
{% endblock %}
