{% extends 'layout.html' %}

{% block pageTitle %}
  Invite email
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row" >

    <div class="nhsuk-grid-column-two-thirds" style="background-color:white;">

      <!-- Add your content here -->

      <h2 class="nhsuk-heading-l">Apply for a staff ID</h2>

      <p class="nhsuk-body">Dear Joyce,</p>
      <p class="nhsuk-body">This email is being sent to you to complete a secure NHS application for your staff ID.</p>
      <p class="nhsuk-body">You will need a staff ID if you are starting a new role or moving to a new NHS Trust. Your staff ID will allow you to access the clinical data and patient information you need in your role.</p>
      <p class="nhsuk-body">You will need to provide information about yourself and submit some documents to verify your identity. All of this can be done online by clicking on the link at the end of this email.</p>
      <p class="nhsuk-body">Your application needs to be completed by <strong>12am Tuesday 22 January 2022</strong>. It will expire after this date and you will then need to request another application.</p>

      <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>Make sure you have all the documents you need before you begin.</p>
</div>

      <h2>Documents you need for your application</h2>

      <h3>2 photo IDs from this list:</h3>
      <ul>
        <li>UK or international passport</li>
        <li>EU identity card</li>
        <li>UK, EU or international driving licence</li>
      </ul>

      <h3>1 document from this list:</h3>
      <ul>
        <li>bank account or credit card statement, this must be from the last 3 months</li>
        <li>loan or car finance statement, this must be from the last 3 months</li>
        <li>mortgage statement, this must be from the last 12 months</li>
      </ul>

      <h3>Personal information you need to provide:</h3>
      <ul>
        <li>National insurance number</li>
        <li>date of birth</li>
      </ul>

      <h2>How to submit your documents</h2>

      <p>You will need to download a secure mobile app on your phone to submit your documents to be checked and verified.</p>

      <p>A text with a link to the mobile app and instructions on how to use it will be sent to you when you have completed and submitted the online form.</p>

      <p>Use the mobile app to photograph your ID documents and to take a photo of your face as part of the verification process.</p>

      <p>You can only use the app on your phone. The app will use xx amount data and can be deleted once you have submitted the documents and taken the photograph of your face.</p>




      <a href="/v2/applicant/spinner-start" class="nhsuk-button nhsuk-u-margin-top-2">
        Start application
      </a>

      <p>Please do not reply to this email</p>

    </div>

  </div>

{% endblock %}
