{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What's your National Insurance Number?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/applicant/date-of-birth",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v2/applicant/agree-terms" method="post" class="form">

        {{ fieldset({
          "legend": {
            "text": "What is your National Insurance number?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        }) }}

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "html": '<span class="nhsuk-u-visually-hidden">National Insurance number</span>'
          },
            "hint": {
            "text": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          id: "ni-number",
          name: "ni-number",
          classes: "nhsuk-input--width-10",
          inputmode: "numeric",
          value: data['ni-number']
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
