{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your mobile phone
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/applicant/send-otp",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v2/applicant/your-name" method="post" class="form">

        {{ fieldset({
          "legend": {
            "text": "Check your mobile phone",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        }) }}

        <p>Enter the 6 digit security code we have sent to ******<strong>7435</strong>.</p>

        <p>You need to use this code within <strong>15 minutes</strong> or it will expire.</p>

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "Security code"
          },
            "hint": {
            "text": "The code is 6 numbers"
          },
          id: "otp",
          name: "otp",
          classes: "nhsuk-input--width-10",
          inputmode: "numeric",
          value: data['otp']
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}



      </form>

      <p>If you have not received the security code, <a href="#">send the security code again</a></p>

    </div>
  </div>

{% endblock %}
