{% extends 'layout.html' %}

{% block pageTitle %}
  Prove who you are
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/applicant/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Verify your mobile number
      </h1>

      <p>We will send you a 6 digit security code to your phone to confirm your phone number </p>


      <a href="/v2/applicant/one-time-passcode" class="nhsuk-button">
        Send security code
      </a>



    </div>

  </div>
{% endblock %}
