{% extends 'layout.html' %}

{% block pageTitle %}
  Confirm your mobile number
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/applicant/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Send a security code to your phone
      </h1>

      <p>We will send you a 6 digit security code to ******<strong>7435</strong> to confirm your phone number. </p>

        <p>You need to use this code within <strong>15 minutes</strong> or it will expire.</p>


      <a href="/v2/applicant/one-time-passcode" class="nhsuk-button">
        Send text message
      </a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Have we got the wrong phone number?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Get in touch with... to update your phone number. Or contact your RA to...</p>
        </div>
      </details>

    </div>

  </div>
{% endblock %}
