{% extends 'layout.html' %}

{% block pageTitle %}
  Prove who you are
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for staff identity
      </h1>

      <p>Use this service to:</p>

      <p>You will be asked to complete the following tasks</p>

      <ol>
        <li>Confirm your details</li>
        <li>Provide 2 forms of photo ID</li>
        <li>Provide a proof of address</li>
        <li>Upload a photo for your smartcard</li>
        <li>Complete a face scan</li>
      </ol>

      <p>This will take around ?? minutes.</p>

      <a href="/v2/applicant/send-otp" class="nhsuk-button">
        Start now
      </a>

      <h3>Before you start</h3>

      <p>lists of documents</p>

      <p>info about technology</p>

      <p>it will take roughly ?? minutes to complete</p>


      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What to do if service not suitable
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Info about who to contact</p>

        </div>
      </details>

    </div>

  </div>
{% endblock %}
