{% extends 'layout-service-dev-ready.html' %}

{% block pageTitle %}
  Retry Xydus approval for an application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/service/dev-ready/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        <h1 class="nhsuk-u-visually-hidden">Success:</h1>
        <p class="nhsuk-u-font-weight-bold">Application ID: TQXo-0Ep06p-V2crk-FPJGb New Download App link successfully created</p>
      </div>


      <h1>
        Create a new Download App link
      </h1>

      <p>Enter an application ID to create a new Download App link for an applicant who is experiencing issues using the mobile app.</p>

      <div class="nhsuk-form-group nhsuk-u-margin-top-3">
        <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-1" for="search-1">
          Application ID
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="search-1" name="search-1" type="text">
      </div>
      
      <a class="nhsuk-button" href="/service/dev-ready/approved">Create new link</a>
        
       
  
      


    </div>

  </div>
{% endblock %}
