{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Download the NHS Verify Care ID app
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <p class="nhsuk-page-heading__small nhsuk-u-margin-bottom-1 grey-text">Step 3 of 3</p>

      <h1>
        Download the NHS Verify Care ID app
      </h1>

      <p>Use the NHS Verify Care ID app to complete your application.</p>

      <p>The app will:</p>

      <ol>
        <li>photograph your ID document(s)</li>
        <li>scan your face to verify your identity</li>
      </ol>

      <a class="nhsuk-button nhsuk-u-margin-bottom-7" href="">Download app</a>



      <p>A link for the NHS Verify Care ID app has also been sent to *********<strong>5314</strong>. </p>

      <p><a href="#">Send the link again</a> if you have not received it.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Mobile number is incorrect
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Contact <a href="#">[invite-support-email]</a> to get your mobile number updated. Include your application ID in all emails.</p>
         
          
        </div>
      </details>

    </div>

  </div>
{% endblock %}
