{% extends 'layout.html' %}

{% block pageTitle %}
  The service is unavailable
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        The service is unavailable
      </h1>

      <p>We have identified an issue with the service.</p>

      <p>We are working to fix it as soon as possible.</p>

      <p>Try again later.</p>

      <p>If you need access to national systems urgently, contact your local Registration Authority (RA) to request an NHS Care ID profile. </p>

      <p>New profiles can still be created using Care Identity Management (CIM).</p>


      

    </div>

  </div>
{% endblock %}
