{% extends 'layout.html' %}

{% block pageTitle %}
  The service is unavailable
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        The service is currently unavailable
      </h1>

      <p>We have identified an issue with this service.</p>

      <p>We are working to fix it as soon as possible.</p>

      <p>Try again later.</p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Last updated: Friday 19 July 2023 at 8:30am
      </p>

      

    </div>

  </div>
{% endblock %}
