{% extends 'layout.html' %}

{% block pageTitle %}
  Accessibility statement
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Accessibility statement
      </h1>

      <p>NHS Apply for Care ID is committed to providing a digital service which everyone can use. Our user experience is under constant improvement, in line with standard accessibility guidelines. </p>

      <p>This statement is for the NHS Apply for Care ID service and does not cover any other websites linked to this one.</p>

      <h2>Technical specifications</h2>

      <p>Our service includes a website and a mobile app.</p>

      <p>The NHS Verify Care ID mobile app requires an iOS or Android mobile device with a camera. </p>

      <p>The following operating systems are supported: </p>

      <ul>
        <li>iOS 12 and higher </li>
        <li>Android 4.4 and higher </li>
      </ul>

      <h2>Compliance status </h2>

      <p>The service has been tested against the Web Content Accessibility Guidelines to level AA, as we want as many people as possible to be able to use this service. </p>

      <p>On the website, you should be able to:</p>

      <ul>
        <li>change colours, contrast levels and fonts using browser functionality </li>
        <li>zoom in most of the pages up to 400% without the text spilling off the screen </li>
        <li>navigate most of the pages using just a keyboard </li>
        <li>navigate most of the pages using speech recognition software </li>
        <li>interact with most of the pages using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p>Parts of the iOS and Android mobile apps are not fully accessible. For example:</p>

      <ul>
        <li>users are required to move their phone to scan documents</li>
        <li>users are required to take photos using their mobile cameras</li>
        <li>some images do not have alt text or are not conveyed to talkback</li>
        <li>some form elements are missing labels</li>
        <li>some status information is not conveyed to screen reader users, for example when an ID document is in focus when being scanned by the camera</li>
        <li>text cannot be resized</li>
        <li>some buttons and headings from previous pages can still be accessed when moving to a new page</li>
        <li>the display orientation is fixed in portrait</li>
        <li>some back buttons have a smaller touch size than recommended</li>
      </ul>

      <h2>How we are making our service more accessible</h2>

      <p>Our team uses guidance and tools from the NHS Digital service manual and Gov.uk. These manuals help us to improve our service to meet accessibility standards.</p>

      <p>We are making Apply for Care ID more accessible by:</p>

      <ul>
        <li>considering accessibility at the start of the project, and throughout</li>
        <li>making accessibility the whole team's responsibility</li>
        <li>researching with disabled users</li>
        <li>using a library of NHS accessible components and patterns</li>
        <li>carrying out regular accessibility audits and testing</li>
        <li>designing and building to level AA of the Web Content Accessibility Guidelines (WCAG 2.1) – which is NHS England and NHS policy </li>
      </ul>

      <h2>How we tested this service</h2>

      <p>In November 2023, Dig inclusion conducted an audit of the website and mobile app, from which common accessibility issues were identified. Many of these issues have since been fixed or are actively being worked on.</p>

      <h2>Enforcement procedure</h2>

      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you’re not happy with how we respond to your complaint contact the Equality Advisory and Support Service (EASS).</p>

      <h2>Reporting accessibility issues and how to contact us</h2>

      <p>We are always looking to improve our service. If you wish to contact us to report on accessibility issues you can contact our team at <a href="">iamplatforms@nhs.net</a>.</p>

      <p class="nhsuk-body-s" style="color:#4c6272;">Last updated: February 2024</p>

    </div>

  </div>
{% endblock %}
