{% extends 'layout-idchecker-v5.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Edit note
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v6/applications/holding",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--xl" for="example">
          Edit note
        </label>
        </h1>
        <textarea class="nhsuk-textarea" id="example" name="example" rows="4" aria-describedby="example-hint" value="Name does not match on photo ID"></textarea>
      </div>
      
      


      <a href="/idchecker/v6/applications/holding" class="nhsuk-button nhsuk-u-margin-top-4">
        Save
      </a>

    </div>
  </div>
{% endblock %}
