{% extends 'layout-service-v1.html' %}

{% block pageTitle %}
  Cancel an application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/service/v1/overturn-rejection",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Approve a rejected application
      </h1>

      <dl class="nhsuk-summary-list nhsuk-u-margin-top-5">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
          Application ID
          </dt>
          <dd class="nhsuk-summary-list__value">
            TQXo-0Ep06p-V2crk-FPJGb
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
          Applicant name
          </dt>
          <dd class="nhsuk-summary-list__value">
          Stuart Bell
          </dd>
        </div>

      </dl>

      <form action="/service/v1/approved-reject" method="post" class="form">


        <div class="nhsuk-form-group nhsuk-u-margin-top-5">
          <label class="nhsuk-label" for="example">
            Reason for approving
          </label>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="3" aria-describedby="example-hint"></textarea>
        </div>

        <p>The application will be approved and a CIS profile will be created when you overturn the rejection. </p>
        <p>An approval email will also be sent to the applicant.</p>

        <button class="nhsuk-button nhsuk-u-margin-top-2"  type="submit">
          Approve
        </button>

      </form>
        
       
  
      


    </div>

  </div>
{% endblock %}
