{% extends 'layout-email.html' %}

{% block pageTitle %}
  Find out if you already have an NHS Care ID profile
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 
      <p class="nhsuk-u-padding-top-5"><strong>Subject:</strong> Time sensitive - Find out if you already have an NHS Care ID profile</p>
      <p><strong>To:</strong> della.jones@nhs.net</p>
      <p><strong>Date sent:</strong> Tuesday 20 June, 9:02am</p>
    </div>
  </div>
  

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds email-layout">

      <!-- Add your content here -->

      <div class="email-header">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#ffffff" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </div>

      <div class="nhsuk-u-padding-5">

        <p class="nhsuk-body-s">Application ID: 56b253f3-260a-46d4-85f5-a491f7832c41</p>


        <p>Dear Della,</p>

        <p>You have been invited by your organisation to find out if you have an NHS Care ID profile.</p>

        <p>You may already have an NHS Care ID if you worked for the NHS before or are moving to a new NHS Trust.</p>

        <p>If you do not have a profile, you'll be invited to verify your identity to create one.</p>

        <p>An NHS Care ID will give you access to national systems, clinical data and patient information.</p>

        <p>You need an NHS Care ID profile to get an authenticator, such as a <strong>smartcard</strong>.</p>

       

        <p>Use the short online form to check if you already have a profile.</p>

        <p>You must complete this form by <strong>Friday 23 June 2023 5pm.</strong></p>

        <p>If you do not complete this form by the specified time you may need to request another invite email.</p>

        <p>You'll need:</p>

        <ul>
          <li>your full name</li>
          <li>your date of birth</li>
          <li>your National Insurance number</li>
          <li>your mobile phone to receive a security code</li>
        </ul>
      
        <p>Select the link to start: <a href="/applicant/v14/dup-check/spinner-start">https://apply-for-care-id.nhs.uk/invitee/accept?invitation=5b91f477-1046-4e4f-86653-53f6abjg1c5</a></p>


        <h2 class="nhsuk-u-margin-top-3">Help and support</h2>

        <p>View our support pages for information about how to use this service: <a href="https://digital.nhs.uk/services/identity-and-access-management/nhs-care-identity-service-2/apply-for-care-id/support-with-applying-for-my-care-id">https://digital.nhs.uk/services/identity-and-access-management/nhs-care-identity-service-2/apply-for-care-id/support-with-applying-for-my-care-id</a>. These include what documents you'll need and help with known issues. </p>

        <p>If you cannot use this service to verify your identity, contact <a href="">[inviter-support-email]</a>. Include your application ID and a detailed description of the problem. This will help us to support you.</p>

        <p>If you already have a smartcard:</p>
        <ul>
          <li>complete the online form anyway. This will notify your organisation of your unique user identifier (UUID). </li>
          <li>your organisation can then add the permissions required for your role.</li>
        </ul>

        <p>Do not reply to this email</p>

      </div>


    </div>

  </div>

{% endblock %}
