{% extends 'layout-inviter-v7.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Settings
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v7/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Settings
      </h1>

      <h2>Your contact details</h2>

      <p class="nhsuk-u-reading-width">Provide an email address we can display to your applicants if they need support.</p>

      <dl class="nhsuk-summary-list">

      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['support-email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/inviter/v7/update-support">
              Change<span class="nhsuk-u-visually-hidden"> positions</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="nhsuk-u-margin-top-8">Email alert preferences</h2>

      <p class="nhsuk-u-reading-width">Select whether you want to receive daily email alerts for applications you have raised.</p>

      <dl class="nhsuk-summary-list">

      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email alert preferences
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['contact'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/inviter/v7/manage-alerts">
              Change<span class="nhsuk-u-visually-hidden"> positions</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['contact-email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/inviter/v7/manage-alerts">
              Change<span class="nhsuk-u-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>

    </div>
  </div>
{% endblock %}
