{% extends 'layout-inviter-v7.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter applicant's personal details
{% endblock %}

{% block beforeContent %}
{% endblock %}  

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v7/settings",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>Enter your contact details</h1>

      <p>You need to enter an email address where applicants can contact you.</p>

      <p>This email address will be included in emails sent to applicants. They can use it to contact you for help with their application.</p>


      <form action="/inviter/v7/settings" method="post" class="form">

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="support-email">
              Email address
            </label>
          <div class="nhsuk-hint" id="support-email-hint">
            This could be a personal email address or shared inbox
            </div>
          <input class="nhsuk-input nhsuk-input--width-20" id="support-email" name="support-email" type="text" aria-describedby="support-email-hint" value="{{ data['support-email'] }}">
        </div>

        
        

        {{ button({
          "text": "Save"
        }) }}

      </form>

    </div>

  </div>
{% endblock %}
