{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Check your photo
      </h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Passport style photo
          </dt>
          <dd class="nhsuk-summary-list__value">
            <img id="check-photo" style="width: 70%" src="">
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v5/smartcard/format">
              Change<span class="nhsuk-u-visually-hidden"> profile photo</span>
            </a>
          </dd>
        </div>

      </dl>

      <form action="/applicant/v5/smartcard/confirmation" method="post" class="form">

        {{ button({
          "text": "Submit now"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
