{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Choose how to send your smartcard photo
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
      

      <form action="/applicant/v5/smartcard/upload" method="post" class="form">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
              <h1 class="nhsuk-fieldset__heading">
                Choose how to send your smartcard photo
              </h1>
            </legend>

            <p class="nhsuk-u-padding-top-4">This photo will appear on your smartcard.</p>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="camera-1" name="format-smartcard" type="radio" value="camera" {{ checked("format-smartcard", "camera") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="camera-1">
                  Take a photo now
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="upload-1" name="format-smartcard" type="radio" value="upload" {{ checked("format-smartcard", "upload") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="upload-1">
                  Upload a photo
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
