{% extends 'layout-inviter-v8.html' %}

{% block pageTitle %}
Too many security code requests
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Too many security code requests</h1>

      <p>A security code has been sent to <strong>inviter@nhs.net</strong> too many times.</p>

      <p>You must wait XX before you can try again.</p>

      <p>If you are experiencing technical issues, <a href="https://www.support.digitalservices.nhs.uk/csm">go to the NHS Digital Customer Service Portal</a>. Include full details of the issue. Alternatively, email <a href="">ssd.nationalservicedesk@nhs.net</a>.</p>



    </div>
  </div>
{% endblock %}
