{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Reject application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v3/review-id",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/idchecker/v3/dashboard" method="post" class="form">

        <fieldset class="nhsuk-fieldset" aria-describedby="reject-1-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
              Why are you rejecting this application?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="reject-1-hint">
            Select all options that apply
          </div>

          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="duplicate-1" name="reject-1" type="checkbox" value="duplicate" aria-controls="conditional-duplicate-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="duplicate-1">
                Duplicate evidence
              </label>
            </div>
            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden nhsuk-u-margin-top-4" id="conditional-duplicate-1">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-1-1" name="reject-1" type="checkbox" value="id-1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-1-1">
                  Photo ID 1
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-2-1" name="reject-1" type="checkbox" value="id-2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-2-1">
                  Photo ID 2
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="poa-1" name="reject-1" type="checkbox" value="poa">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="poa-1">
                  Proof of address
                </label>
              </div>
            </div>


            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="expired-1" name="reject-1" type="checkbox" value="expired" aria-controls="conditional-expired-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="expired-1">
                Expired evidence
              </label>
            </div>
            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden nhsuk-u-margin-top-4" id="conditional-expired-1">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-1-2" name="reject-1" type="checkbox" value="id-1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-1-2">
                  Photo ID 1
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-2-2" name="reject-1" type="checkbox" value="id-2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-2-2">
                  Photo ID 2
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="poa-2" name="reject-1" type="checkbox" value="poa">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="poa-2">
                  Proof of address
                </label>
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="liveness" name="reject-1" type="checkbox" value="failed-liveness">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="liveness">
                Failed liveness / likeness check
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="incomplete-1" name="reject-1" type="checkbox" value="incomplete" aria-controls="conditional-incomplete-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="incomplete-1">
                Incomplete evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden nhsuk-u-margin-top-4" id="conditional-incomplete-1">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-1-3" name="reject-1" type="checkbox" value="id-1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-1-3">
                  Photo ID 1
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-2-3" name="reject-1" type="checkbox" value="id-2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-2-3">
                  Photo ID 2
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="poa-3" name="reject-1" type="checkbox" value="poa">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="poa-3">
                  Proof of address
                </label>
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="non-conformant" name="reject-1" type="checkbox" value="non-comformant">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="non-conformant">
                Non conformant photo
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="fraud-1" name="reject-1" type="checkbox" value="fraud" aria-controls="conditional-fraud-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-1">
                Suspected fraud
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden nhsuk-u-margin-top-4" id="conditional-fraud-1">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-1-5" name="reject-1" type="checkbox" value="id-1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-1-5">
                  Photo ID 1
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-2-5" name="reject-1" type="checkbox" value="id-2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-2-5">
                  Photo ID 2
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="poa-5" name="reject-1" type="checkbox" value="poa">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="poa-5">
                  Proof of address
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="details-5" name="reject-1" type="checkbox" value="details">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="details-5">
                  Name and date of birth
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="face-scan-5" name="reject-1" type="checkbox" value="face-scan">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="face-scan-5">
                  Face scan
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="smartcard-5" name="reject-1" type="checkbox" value="smartcard">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="smartcard-5">
                  Face scan
                </label>
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="unacceptable-1" name="reject-1" type="checkbox" value="unacceptable" aria-controls="conditional-unacceptable-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="unacceptable-1">
                Unacceptable evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden nhsuk-u-margin-top-4" id="conditional-unacceptable-1">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-1-4" name="reject-1" type="checkbox" value="id-1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-1-4">
                  Photo ID 1
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="photo-id-2-4" name="reject-1" type="checkbox" value="id-2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-id-2-4">
                  Photo ID 2
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="poa-4" name="reject-1" type="checkbox" value="poa">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="poa-4">
                  Proof of address
                </label>
              </div>
            </div>

          </div>

        </fieldset>

        <button class="nhsuk-button nhsuk-button--secondary delete-button nhsuk-u-margin-top-5"  type="submit">
          Reject
        </button>

      </form>

    </div>
  </div>

{% endblock %}
