{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check rejection reasons
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v3/review-id-warning",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Reject application
      </h1>

      <p>You are rejecting this application because:</p>

      <ul>
        <li>Photo ID 2 has expired</li>
        <li>Face scan is not live</li>
      </ul>

      <p>The applicant will be notified that their application has been rejected and will be sent a link to retry.</p>

      <p>A notification will not be sent if fraud is suspected, or the applicant has already retried 3 times.</p>

      
      


      <a href="/idchecker/v3/dashboard" class="nhsuk-button nhsuk-button--secondary delete-button">
        Reject application
      </a>

    </div>
  </div>
{% endblock %}
