{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Reject application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v3/review-id",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/idchecker/v3/dashboard" method="post" class="form">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-2" aria-describedby="reject-5-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Why are you rejecting this smartcard photo?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="reject-5-hint">
            Select all options that apply
          </div>

          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="incomplete-5" name="reject-5" type="checkbox" value="incomplete">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="incomplete-5">
                Incomplete evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="non-conformant" name="reject-5" type="checkbox" value="non-comformant">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="non-conformant">
                Non conformant photo
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="fraud-5" name="reject-5" type="checkbox" value="fraud">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-5">
                Suspected fraud
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="other-5" name="reject-5" type="checkbox" value="other" aria-controls="conditional-other" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="other-5">
                Other
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-other">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="add-info-5">
                  Please provide additional information
                </label>
                <textarea class="nhsuk-textarea" id="add-info-5" name="reject-5" rows="3"></textarea>
              </div>
      
            </div>

          </div>

        </fieldset>

        <button class="nhsuk-button nhsuk-button--secondary delete-button nhsuk-u-margin-top-5"  type="submit">
          Reject
        </button>

      </form>

    </div>
  </div>

{% endblock %}
