{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Download the NHS Verify Care ID app
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>
        Download the NHS Verify Care ID app
      </h1>

      <p>A link for the Verify Care ID app has been sent to you by text message to *********<strong>5314</strong>. </p>

      <p>Use the link to download the app.</p>

      <p>The app will photograph your ID document(s) and scan your face.</p>

      <p>You can now close this page.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What to do if you have not received the link
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>The link should be sent to you within 5 minutes.</p>

          <p>If you have not received a text message with the link, contact <a href="">[inviter-support-email]</a> with the subject line “Verify Care ID app link not received.</p>
      
        </div>
      </details>

    </div>

  </div>
{% endblock %}
