{% extends 'layout.html' %}

{% block pageTitle %}
  You cannot use this service without a photo ID from this list
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        What to do if you don't have a photo ID
      </h1>

      <p>Contact <a href="">midlandscsu@RAservices.nhs.uk</a> to verify your identity in a different way.</p>

      <p>You will be able to provide other evidence to verify who you are.</p>

      <p>You can verify your identity:</p>

      <ul>
        <li>in person</li>
        <li>over a video meeting</li>
      </ul>

    </div>

  </div>
{% endblock %}
