{% extends 'layout.html' %}

{% block pageTitle %}
  Upload your ID documents
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Upload your ID documents
      </h1>

      <p>You have completed the first part of this process and now need to upload your ID documents.</p>

      <p>Download the NHS Verify Care ID app onto your mobile phone and use the app to upload your documents.</p>

      <p>Use the link that has been sent to you by text message to download the NHS verify Care ID app and continue with your application.</p>

      <p>If you have not received the link email <a href="">[inviter-support-email]</a> with the subject line “Verify Care ID app link not received.</p>



    </div>

  </div>
{% endblock %}
