{% extends 'layout-inviter-v6.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Application: James Stenberg
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v6/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: James Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text">Status: Rejected</p>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application summary
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application ID
            </dt>
            <dd class="nhsuk-summary-list__value">
            78463C
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Raised by
            </dt>
            <dd class="nhsuk-summary-list__value">
            Vincent Douglas on 8 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Organisation
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Barsetshire NHS Foundation Trust (RWA)
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Rejected on
            </dt>
            <dd class="nhsuk-summary-list__value">
            11 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Rejection reason(s)
            </dt>
            <dd class="nhsuk-summary-list__value">
              Duplicate match found.
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Possible duplicate CIS profiles
            </dt>
            <dd class="nhsuk-summary-list__value">
              736473739757, 975483470488
            </dd>
          </div>

        </dl>

      </div>
    </div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Applicant details
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full name
            </dt>
            <dd class="nhsuk-summary-list__value">
              James Stenberg
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Work email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              James.stenberg@nhs.net
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="nhsuk-summary-list__value">
              079946823098
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Notes
            </dt>
            <dd class="nhsuk-summary-list__value">
              smartcard with nurse practitioner role
            </dd>
          </div>

        </dl>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application steps
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Enter personal details
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Completed
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Submit ID documents
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not applicable
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Review by ID checker
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not applicable
                </strong>
            </dd>
          </div>

        </dl>

      </div>
    </div>

  </div>
</div>
{% endblock %}
