{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Download the NHS staff ID app
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <h1>
        Download the NHS Verify Care ID app
      </h1>

      <p>We have sent a text message to ******<strong>7435</strong> with a link to the app. </p>

      <p>Click on the link in the text message to download the app. It will use XX storage on your phone.</p>

      <p>You will need to:</p>

      <ol>
        <li>provide 2 forms of photo ID</li>
        <li>provide 1 proof of address</li>
        <li>take a photo of your face</li>
      </ol>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you leave the app and need to return to it, you will need to click on the link in the text message again. </p>
      </div>


    </div>

  </div>
{% endblock %}
