{% extends 'layout.html' %}

{% block pageTitle %}
  You need to apply for an NHS Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        You need to apply for an NHS Care ID
      </h1>
      <p>Our checks showed that you do not already have a Care Identity profile. You will need to apply for one. </p>
      <p>The next part of the application will take about 10-15 minutes to complete.</p>

      <p>You will be prompted to download our Verify Care ID app to finish your application. The app will be used to photograph the documents and photo ID you provide for verification.</p>

      <p>An email has been sent to you. You can use the link to return to start your application at another time.</p>

      <h2>What an NHS Care Identity is</h2>

      <p>An NHS Care ID will give you access national systems, clinical data and patient information.</p>

      <p>You will need one to get an authenticator, such as a smartcard.</p>

      <H2> What you'll need to provide</h2>

      <ul>
        <li>your UK address for an online check, or a paper proof of address document</li>
        <li>a photo ID, such as a passport or driving license</li>
        <li>be prepared to take a passport style photo</li>
        <li>a mobile phone with a camera and internet connection </li>
      </ul>

      <p><a href="/applicant/v8/offline">I cannot use a mobile phone to take photos of documents and scan my face</a></p>

      <a href="/applicant/v8/dpoa" class="nhsuk-button">
        Start application
      </a>
    

    </div>

  </div>
{% endblock %}
