{% extends 'layout.html' %}

{% block pageTitle %}
  Step 2: Confirm how you’d like to verify your identity
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v7/start-application",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Select how you’d like to verify your identity
      </h1>

      <p>Select how you’d like to verify your address and which ID documents you would like to provide. </p>


      <a href="/applicant/v7/dpoa" class="nhsuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
