{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter a delivery address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v5/smartcard-upload",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v5/address-select" method="post" class="form">

        <fieldset class="nhsuk-fieldset" aria-describedby="address-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading nhsuk-u-padding-bottom-3">
              Enter a delivery address
            </h1>
          </legend>

          <p id="address-hint">This address may be used to send a physical ID card, fob or other ID devices. This could be your home or work address.</p>

          <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="address-postcode-1">
                Postcode
              </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode-1" name="address-postcode-1" type="text" value="{{ data['address-postcode-1'] }}">
          </div>
        
        </fieldset>
        {{ button({
          "text": "Find address"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
