{% extends 'layout.html' %}

{% block pageTitle %}
  Send a security code to your phone
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v5/ni-number",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Set up your Care ID profile
      </h1>

      <p>Choose what name and photo you want to appear on your Care ID as well as where to deliver it.</p>

      <p>This information will be stored on your record and may be used on a physical ID card.</p>

      <a href="/applicant/v5/preferred-name" class="nhsuk-button">
        Continue
      </a>


    </div>

  </div>
{% endblock %}
