{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Download the NHS staff ID app
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <h1>
        Download the NHS Verify Care ID app
      </h1>

      <p class="nhsuk-body-l">You have 15 days to complete step 2 of your application using the app.</p>

      <p>A link for the Verify Care ID app will be sent by text message to *********<strong>5314</strong> and by email to <strong>l********@n**.net</strong>. </p>

      <p>You should receive this link within 5 minutes.</p>

      <p>To verify your identity and complete your Care ID application use the link to download the secure NHS Verify Care ID app on a mobile phone.</p>

      

      <p>You will use the Verify Care ID app to photograph your photo ID, proof of address documents and scan your face for a passport style photo.</p>

      <p>Your mobile phone must have:</p>

      <ul>
        <li>a camera</li>
        <li>a connection to the internet</li>
      </ul>

      <p>The Verify Care ID app can be deleted when your application has been approved.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What to do if you have not received the link
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>The link should be sent to you within 20 minutes. If you have not received an email or text message with the link, email: <a href="">enquiries@nhsdigital.nhs.uk</a> with the subject line “Verify Care ID app link not received.</p>
      
        </div>
      </details>

    </div>

  </div>
{% endblock %}
