{% extends 'layout-email.html' %}

{% block pageTitle %}
  NHS Time Sensitive - Apply for Care ID
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 
      <p class="nhsuk-u-padding-top-5"><strong>Subject:</strong>NHS Time Sensitive - Apply for Care ID</p>
      <p><strong>From:</strong> Apply for Care ID (invitation@apply-for-care-identity.care-identity-service2.nhs.uk) </p>
      <p><strong>To:</strong> name@nhs.net</p>
      <p><strong>Date sent:</strong> Tuesday 26 July, 9:02am</p>
    </div>
  </div>
  

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds email-layout">

      <!-- Add your content here -->

      <div class="email-header">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#ffffff" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </div>

      <div class="nhsuk-u-padding-5">

        <p><strong>Application ID:</strong> 56b253f3-260a-46d4-85f5-a491f7832c41</p>

        <p>Dear...</p>
        <p>You need to complete a secure NHS online application for a Care ID.</p>
        <p>You will need a Care ID if you are starting a new role or moving to a new NHS Trust.</p>

        <p>A Care ID could be a smartcard, authenticator app, fob or device that will allow you to access:</p>
        <ul>
          <li>national systems</li>
          <li>clinical data</li>
          <li>patient information</li>
        </ul>

        <h2>How to complete your application</h2>

        <p>There are 2 parts to the application:</p>

        <ol>
          <li>A short online form which must be completed by <strong>Friday 9 June 2022 9am</strong>.</li>
          <li>A mobile phone app to capture your identity documents and a face scan which may be used on your Care ID.</li>
        </ol>


        <h2>Documents you need</h2>

        <p>You must provide 2 photo IDs and 1 proof of address.</p>

        <p>We only accept the documents listed here.</p>

        <h3>2 photo IDs from this list:</h3>
        <ul>
          <li>passport, this must not be expired</li>
          <li>photocard driving licence. We also accept UK and EU provisional driving licences. This must not be expired</li>
          <li>UK Biometric residence permit card, this must not be expired</li>
        </ul>

        <p>You will need original, physical documents.</p>


        <h3>1 proof of address document from this list:</h3>

        

        <ul>
          <li>bank account or credit card statement, this must be from the last 6 months</li>
          <li>utility bill, this must be from the last 6 months</li>
          <li>mortgage statement, this must be from the last 12 months</li>
          <li>council tax statement, this must be from the last 12 months</li>
          <li>tenancy agreement, this must be from the last 12 months</li>
          <li>UK full or provisional driving licence (if you are using your driving licence as a photo ID you cannot use it as proof of address)</li>
        </ul>

        <p>Documents from joint accounts with your name and the name of 1 or more account holders can be used.</p>

        <p>We accept digital and physical proof of address</p>

        <p>If you do not have one of the physical documents listed, you could ask your bank, building society or other service provider to send a statement to you or go to a branch and ask them to print and stamp your customer record. </p>

        <p>Alternatively, a full screen capture of an online bank, mortgage, council statement or utility bill will also be accepted. Make sure that the URL, your address and the branding of the company that issued the statement is visible.  </p>


        <a href="/applicant/v5/spinner-start" class="nhsuk-button nhsuk-u-margin-top-2">
          Start application
        </a>

        <h2 class="nhsuk-u-margin-top-3">Help and support with your application</h2>

        <p>Applying online and using the mobile app is the quickest way to verify your identity and get your Care ID.</p>

        <p>Contact your manager, Registration Authority agent or application sponsor for help with your application.</p>

        <p>Use the <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust Registration Authority website</a> to find your Registration Authority manager or agent.</p>

        <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>

        <p>Please do not reply to this email</p>

      </div>


    </div>

  </div>

{% endblock %}
