{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter your National Insurance Number
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v5/date-of-birth",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v5/care-id-profile" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="ni-number">
              Enter your National Insurance number
            </label>
          </h1>
          <p>You can find your National Insurance number on:</p>

          <ul>
            <li>your payslip</li>
            <li>your P60</li>
            <li>letters about your tax, pension or benefits</li>
          </ul>

          <div class="nhsuk-hint" id="ni-number-hint">
            Your National Insurance number contains 3 letters and 6 numbers, for example: “QQ 12 34 56 C”.
            </div>
          <input class="nhsuk-input nhsuk-input--width-10" id="ni-number" name="ni-number" type="text" aria-describedby="ni-number-hint" value="{{ data['ni-number'] }}">
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
