{% extends 'layout.html' %}

{% block pageTitle %}
  Send a security code to your phone
{% endblock %}

{% block beforeContent %}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Enter your personal details
      </h1>

      <p>Enter your personal details so that we can check if your details are already in the NHS staff database.</p>

      <a href="/applicant/v5/your-name" class="nhsuk-button">
        Continue
      </a>


    </div>

  </div>
{% endblock %}
