{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Upload your Care ID profile photo
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v5/smartcard-format",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form id="save-image" action="/applicant/v5/address-postcode" method="post">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="example-heading">
              Upload your Care ID profile photo
            </label>
          </h1>
          <p>Your Care ID profile photo must:</p>
          <ul>
            <li>be clear and in focus</li>
            <li>be taken against a plain, light coloured background</li>
            <li>show you facing forwards</li>
            <li>not contain other people or objects in the background</li>
            <li>not have hair or other objects obscuring the face</li>
          </ul>

          <div class="nhsuk-hint" id="fileInput-hint">
            Image file must be .jpeg, .jpg, .png, .bmp format
          </div>
          <input type="file" id="fileInput" class="nhsuk-u-margin-top-3" name="fileInput">
        </div>


        </div>
      </div>

      

        <!-- Photo edit -->

        <div id="image-editing" style="display: none;">
          <div class="nhsuk-grid-row nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" >
            <div class="nhsuk-grid-column-one-half">
              <h2>
                Edit image
              </h2>
              <canvas width="400" height="273" id="edit-canvas" style="border: 1px #d8dde0 solid;">
                Browser doesn't support image editing
              </canvas>
              <p class="nhsuk-body-s nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
                Move: <a href="#01">Left</a> |
                <a href="#02">Right</a> |
                <a href="#03">Up</a> |
                <a href="#04">Down</a> |
                <a href="#05">Reduce</a> |
                <a href="067">Increase</a>
              </p>
              <p class="nhsuk-body-s">
                Rotate:
                <a href="#07">Clockwise</a> |
                <a href="#08">Anticlockwise</a>
              </p>
            </div>
            <div class="nhsuk-grid-column-one-third">
              <h2>
                Preview
              </h2>
              <canvas width="213" height="273" id="preview-canvas" style="border: 1px #d8dde0 solid;">
                Browser doesn't support image editing
              </canvas>
            </div>
          </div>


        </div>

        <button id="jsmain-contact-submit" class="nhsuk-button nhsuk-u-margin-top-3" type="submit">
          Continue
        </button>

      </div>

      </form>


      <script src="/js/jquery-3.3.1.min.js"></script>
      <script>

        var editCanvas = document.getElementById('edit-canvas');
        var previewCanvas = document.getElementById('preview-canvas');
        var ctx1 = editCanvas.getContext('2d');
        var ctx2 = previewCanvas.getContext('2d');

        // Trigger the imageLoader function when a file has been selected
        var fileInput = document.getElementById('fileInput');
        fileInput.addEventListener('change', imageLoader, false);

        function imageLoader() {
            // $("#image-requirements").css("display", "none"); - Removed as trying out having it show at the top by default
            $("#image-editing").css("display", "block");
            var reader = new FileReader();
            reader.onload = function(event) {
                img = new Image();
                img.onload = function(){
                  // document.body.appendChild(img);
                  if (img.width < img.height) {

                    // get the scale
                    var scale = Math.min(editCanvas.width / img.width, editCanvas.height / img.height);
                    // get the top left position of the image
                    var x = (editCanvas.width / 2) - (img.width / 2) * scale;
                    var y = (editCanvas.height / 2) - (img.height / 2) * scale;
                    ctx1.drawImage(img, x, y, img.width * scale, img.height * scale);

                  } else {

                    // get the scale
                    var scale = Math.max(editCanvas.width / img.width, editCanvas.height / img.height);
                    // get the top left position of the image
                    var x = (editCanvas.width / 2) - (img.width / 2) * scale;
                    var y = (editCanvas.height / 2) - (img.height / 2) * scale;
                    ctx1.drawImage(img, x, y, img.width * scale, img.height * scale);

                  }

                  // Outer portrait image edge
                  ctx1.beginPath();
                  ctx1.lineWidth = "4";
                  ctx1.strokeStyle = "red";
                  ctx1.rect(94, 1, 213, 270);
                  ctx1.stroke();

                  // Resize container
                  ctx1.beginPath();
                  ctx1.lineWidth = "4";
                  ctx1.strokeStyle = "red";
                  ctx1.rect(267, 233, 40, 50);
                  ctx1.stroke();

                  // Resize arrow - smaller
                  ctx1.beginPath();
                  ctx1.moveTo(291, 242);
                  ctx1.lineTo(276, 242);
                  ctx1.lineTo(276, 257);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Resize arrow - larger
                  ctx1.beginPath();
                  ctx1.moveTo(281, 261);
                  ctx1.lineTo(296, 261);
                  ctx1.lineTo(296, 246);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Directional arrow - top
                  ctx1.beginPath();
                  ctx1.moveTo(190, 100);
                  ctx1.lineTo(210, 100);
                  ctx1.lineTo(200, 90);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Directional arrow - right
                  ctx1.beginPath();
                  ctx1.moveTo(220, 110);
                  ctx1.lineTo(220, 130);
                  ctx1.lineTo(230, 120);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Directional arrow - bottom
                  ctx1.beginPath();
                  ctx1.moveTo(190, 140);
                  ctx1.lineTo(210, 140);
                  ctx1.lineTo(200, 150);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Directional arrow - Left
                  ctx1.beginPath();
                  ctx1.moveTo(180, 110);
                  ctx1.lineTo(180, 130);
                  ctx1.lineTo(170, 120);
                  ctx1.closePath();
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Directional centre point
                  ctx1.beginPath();
                  ctx1.arc(200, 120, 10, 0, 2 * Math.PI, false);
                  ctx1.fillStyle = "red";
                  ctx1.fill();

                  // Face placement guide
                  ctx1.beginPath();
                  ctx1.translate(1, 1);
                  ctx1.scale(0.75, 1);
                  ctx1.arc(265, 120, 80, 0, 2 * Math.PI, false);
                  ctx1.restore(); // restore to original state
                  ctx1.lineWidth = "4";
                  ctx1.strokeStyle = "red";
                  ctx1.stroke();
                  ctx1.strokeStyle = 'rgba(0,0,0,0.0)';

                  // get the scale
                  var scale = Math.max(previewCanvas.width / img.width, previewCanvas.height / img.height);
                  // get the top left position of the image
                  var x = (previewCanvas.width / 2) - (img.width / 2) * scale;
                  var y = (previewCanvas.height / 2) - (img.height / 2) * scale;
                  ctx2.drawImage(img, x, y, img.width * scale, img.height * scale);



                  var cw=editCanvas.width;
                  var ch=editCanvas.height;
                  function reOffset(){
                    var BB=editCanvas.getBoundingClientRect();
                    offsetX=BB.left;
                    offsetY=BB.top;
                  }
                  var offsetX,offsetY;
                  reOffset();
                  window.onscroll=function(e){ reOffset(); }
                  window.onresize=function(e){ reOffset(); }

                  var isDown=false;
                  var startX, startY;

                  var cursors=['default','pointer'];
                  var currentCursor=0;

                  var shapes=[];
                  shapes.push({
                    points:[{x:220,y:85},{x:310,y:85},{x:310,y:155},{x:220,y:155}],
                    cursor:1
                  });
                  shapes.push({
                    points:[{x:355,y:233},{x:407,y:233},{x:407,y:283},{x:355,y:283}],
                    cursor:1
                  });

                  for(var i=0;i<shapes.length;i++){
                    var s=shapes[i];
                    definePath(s.points);
                    ctx1.stroke();
                  }

                }
              img.src = reader.result;
            }
            reader.readAsDataURL(fileInput.files[0]);
        }


       


      </script>


    </div>
  </div>

{% endblock %}
