{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for a Care ID
      </h1>

      <p>Use this service to verify your identity and apply for your Care ID.</p>

      <p>Your Care ID will allow you to access the systems, data and patient information you need for your role.</p>

      <h2>Part 1: Enter your personal information</h2>

      <p class="nhsuk-body-l">This must be completed by Friday 29 July 2022 9.02am</p>

      <p>You will be asked to click on a button to send a security code to your mobile phone. Enter this code to continue.</p>

      <p>You will then need to add some personal information, to check if your details are already in the NHS staff database:</p>

      <ul>
        <li>your name as it appears on your photo ID</li>
        <li>your date of birth</li>
        <li>your National Insurance number</li>
        <li>a delivery address to receive a Care ID card or other ID devices</li>
      </ul>

      <a href="/applicant/v5/send-otp" class="nhsuk-button">
        Start
      </a>


      <h2 class="nhsuk-u-margin-top-3">Help and support with your application</h2>

      <p>Applying online and using the mobile app is the quickest way to verify your identity and get your Care ID.</p>

      <p>Contact your manager, Registration Authority agent or application sponsor for help with your application.</p>

      <p>Use the <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust Registration Authority website</a> to find your Registration Authority manager or agent.</p>

      <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>

      <h2>About using this service</h2>

      <p>By using this service, you're agreeing to our <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/privacy-notice-to-smartcard-authorised-device-users-on-the-use-of-your-personal-data">terms of use and privacy policy</a>.</p> 

    </div>

  </div>
{% endblock %}
