{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Apply for Care ID</h1>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-xs nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                1. Enter your personal details
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      
      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <h3>2. Set up your Care ID profile</h3>
          <p class="nhsuk-card__description">Choose your profile photo and where to send your authenticator</p>
          <a class="nhsuk-button" href="">Continue</a>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">3. Verify your identity</h3>
        </div>
      </div>
    

    </div>

  </div>
{% endblock %}
