{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Apply for Care ID</h1>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <h3>1. Enter your personal details</h3>
          <p class="nhsuk-card__description">We will use this to check you don't already have a Care ID profile.</p>
          <a class="nhsuk-button" href="">Continue</a>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">2. Set up your Care ID profile</h3>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">3. Verify your identity</h3>
        </div>
      </div>
    

    </div>

  </div>
{% endblock %}
