{% extends 'layout.html' %}

{% block pageTitle %}
  Set up your NHS Care ID profile
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p class="nhsuk-page-heading__small nhsuk-u-margin-bottom-1 grey-text">Step 2 of 3</p>

      <h1 class="nhsuk-heading-xl">
        Set up your NHS Care ID profile
      </h1>
      <p>Once your application has been approved, a Care ID profile will be created.</p>

      <p>To complete your profile you must:</p>

      <ol>
        <li>upload a passport style photo of your face</li>
        <li>enter name to appear on smartcard</li>
        <li>select a delivery address (if applicable)</li>
      </ol>

      <p>If you are issued with a smartcard, <strong>your passport style photo will appear on it</strong>.</p>

        <figure class="nhsuk-image">
          <img class="nhsuk-image__img" src="/images/smartcard.png" alt="NHS Care ID smartcard">
          <figcaption class="nhsuk-image__caption">
            NHS Care ID Smartcard
          </figcaption>
        </figure>

        
   

      <a href="/applicant/v15/step-2/profile-photo-upload" class="nhsuk-button">
        Continue
      </a>
      
    </div>

  </div>
{% endblock %}
