{% extends 'layout.html' %}

{% block pageTitle %}
  Access denied
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Acess denied
      </h1>

      <p>You do not have permission to view this page </p>

      <a href="/inviter/v1/log-in" class="nhsuk-button">
        Log in
      </a>

      <p>If you do not have the correct permissions to view this page, contact your manager or NHS Trust's registration to gain access.</p>

    </div>

  </div>
{% endblock %}
