{% extends 'layout.html' %}

{% block pageTitle %}
  Cookies 
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Cookies
      </h1>

      <p>Cookies are small files on your phone, tablet or computer when you visit a website.</p>

      <p>We use cookies to make this site work and collect information about how you use our service.</p>

      <h2>Essential cookies</h2>

      <p>Essential cookies keep your information secure when you use this service. We do not need to ask permission to use them.</p>

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Purpose
            </th>
            <th role="columnheader" class="" scope="col">
              Expires
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>Cookie 1
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Purpose </span>TBC
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Expires</span>Time
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="nhsuk-u-padding-top-6">Analytics cookies (optional)</h2>

      <p>With your permission, we use XX Analytics to collect data about how you use this service. This information helps us to improve our service. </p>

      <p>XX Analytics is not allowed to use or share our analytics with anyone.</p>

      <p>XX Analytics stores anonoymised information about:</p>

      <ul>
        <li>bullet 1</li>
        <li>bullet 2</li>
      </ul>

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Purpose
            </th>
            <th role="columnheader" class="" scope="col">
              Expires
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>Cookie 2
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Purpose </span>TBC
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Expires</span>Time
            </td>
          </tr>
        </tbody>
      </table>

      
      <div class="nhsuk-form-group nhsuk-u-margin-top-5">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h3 class="nhsuk-fieldset__heading">
              Do you want to accept analytics cookies?
            </h3>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>



      <a href="#" class="nhsuk-button">
        Save my cookie settings
      </a>

    </div>

  </div>
{% endblock %}
