{% extends 'layout.html' %}

{% block pageTitle %}
  You have been logged out
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You have been logged out
      </h1>

      <p>To keep the system and data secure, you have been logged out.</p>

      <p>This happens if you are inactive for 15 minutes.</p>


      <a href="/inviter/v1/log-in" class="nhsuk-button">
        Log in
      </a>

    </div>

  </div>
{% endblock %}
