{% extends 'layout-inviter.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v4/enter-details",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <form action="/inviter/v4/check-your-answers" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="positions-1">
              What does the applicant need (optional)?
            </label>
          </h1>
          <p id="positions-1-hint">Use this box to let the Registration Authority know what the applicant needs as part of their Care ID. For example, an authenticator like a smartcard, roles and permissions required and where cards or devices should be delivered.</p>
          <textarea class="nhsuk-textarea" id="positions-1" name="positions-1" rows="4" aria-describedby="positions-1-hint" value="{{ data['positions-1'] }}"></textarea>
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>

  </div>
{% endblock %}
