{% extends 'layout-inviter.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Approved applications
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v4/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <h1>Approved applications</h1>
      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
          Approved applications list
        </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Full name</th>
            <th role="columnheader" class="" scope="col">Email address</th>
            <th role="columnheader" class="" scope="col">Date approved</th>
            <th role="columnheader" class="" scope="col">UUID</th>
            <th role="columnheader" class="" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Full name </span>
              James Stenberg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Email address</span>
              james.stenberg@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date approved</span>
              10 September 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">UUID</span>
                7463467109
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action</span>
                <a href="/inviter/v4/approved-application">View</a>
            </td>
          </tr>
  
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Full name </span>
              Laurel Stenberg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Email address</span>
              laurel.stenberg@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date approved</span>
              23 May 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">UUID</span>
                7342923813
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action</span>
              <a href="/inviter/v4/approved-application">View</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}
