{% extends 'layout-inviter.html' %}
{% block pageTitle %}
  Manage Applications
{%endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Apply for Care ID</h1>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/inviter/v4/enter-details">New application</a>
            </h2>
            <p class="nhsuk-card__description">Enter applicant details to send an application.</p>
          </div>
        </div>
    
      </li> 
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/inviter/v4/upload-file">Upload multiple applications</a>
            </h2>
            <p class="nhsuk-card__description">Upload a file to send multiple applications at once. </p>
          </div>
        </div>
    
      </li>
    </ul>

    <h2>Application status</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">2 <span class="nhsuk-u-visually-hidden">Resend required</span></p><a href="/inviter/v4/action-list" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Resend required</a>
          </div>
        </div>
    
      </li>

      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">9 <span class="nhsuk-u-visually-hidden">Pending</span></p><a href="/inviter/v4/in-progress-list" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Pending</a>
          </div>
        </div>
    
      </li>

      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">5 <span class="nhsuk-u-visually-hidden">Approved</span></p><a href="/inviter/v4/approved-list" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Approved</a>
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">1 <span class="nhsuk-u-visually-hidden">Rejected</span></p><a href="/inviter/v4/rejected-list" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Rejected</a>
          </div>
        </div>
    
      </li>
    </ul>
  </div>
</div>

{% endblock %}
