{% extends 'layout-inviter.html' %}
{% block pageTitle %}
  Manage Applications
{%endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Apply for Care ID</h1>

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openList(event, 'Resend')" id="defaultOpen">Resend</button>
      <button class="tablinks" onclick="openList(event, 'Pending')">Pending</button>
      <button class="tablinks" onclick="openList(event, 'Approved')">Approved</button>
      <button class="tablinks" onclick="openList(event, 'Rejected')">Rejected</button>
    </div>

    <!-- Tab content -->
    <div id="Resend" class="tabcontent">
      <h3>Resend required applications</h3>
      <p>London is the capital city of England.</p>
    </div>

    <div id="Pending" class="tabcontent">
      <h3>Pending applications</h3>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="Approved" class="tabcontent">
      <h3>Approved applications</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>

    <div id="Rejected" class="tabcontent">
      <h3>Rejected applications</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>


    
  </div>
</div>

<script>
  function openList(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>

{% endblock %}
