{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v7/delivery",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Check your answers
      </h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address verification
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dpoa'] }} {{ data['poa'] }} 
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/dpoa">
              Change<span class="nhsuk-u-visually-hidden"> address verification</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Photo ID document
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['1-photo-id'] }} {{ data['2-photo-id'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/1-photo-id">
              Change<span class="nhsuk-u-visually-hidden"> Photo ID document</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your UK address
          </dt>
          <dd class="nhsuk-summary-list__value">
            address option 1
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/address-postcode">
              Change<span class="nhsuk-u-visually-hidden"> your address</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Profile photo
          </dt>
          <dd class="nhsuk-summary-list__value">
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/provide-photo">
              Change<span class="nhsuk-u-visually-hidden"> your profile photo</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Smartcard name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['preferred-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/preferred-name">
              Change<span class="nhsuk-u-visually-hidden"> your profile photo</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delivery address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Address option 1
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/applicant/v7/delivery">
              Change<span class="nhsuk-u-visually-hidden"> your profile photo</span>
            </a>
          </dd>
        </div>

        

      </dl>


      <form action="/applicant/v7/spinner-selection" method="post" class="form">


        {{ button({
          "text": "Submit now"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
