{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Choose how to send your photo
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v7/address-select",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
      

      <form action="/applicant/v7/smartcard-upload" method="post" class="form">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">

          <fieldset class="nhsuk-fieldset ">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
              <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-5">
                Select how to send your profile photo
              </h1>
            </legend>

            <p>A passport style photo is needed for your NHS Care ID profile.</p>

            <p>This photo may also appear on a smartcard.</p>

            <p>Your photo must:</p>

            <ul>
              <li>be clear and in focus</li>
              <li>be taken against a plain, light coloured background</li>
              <li>show you facing forwards</li>
              <li>not contain other people or objects in the background</li>
              <li>not have hair or other objects obscuring the face</li>
            </ul>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="camera-1" name="format-smartcard" type="radio" value="camera" {{ checked("format-smartcard", "camera") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="camera-1">
                  Take a photo now
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="upload-1" name="format-smartcard" type="radio" value="upload" {{ checked("format-smartcard", "upload") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="upload-1">
                  Upload a photo
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
