{% extends 'layout.html' %}

{% block pageTitle %}
  You need to apply for an NHS Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        You need to apply for an NHS Care ID
      </h1>

      <p>Apply for an NHS Care ID to access the systems, data and patient information you need for your role.</p>

      <p>Once your application has been approved:</p>

      <ul>
        <li>your NHS Care ID profile will be created</li>
        <li>you will get an authenticator such as a smartcard, authenticator app, fob or device.</li>
      </ul>

      <h2>How to complete your application</h2>

      <ol>
        <li>Select how you'd like to verify your address and identity</li>
        <li>Provide a passport style photo and name to appear on your NHS Care ID profile</li>
        <li>Verify your identity by downloading a mobile app and capturing your chosen documents and a face scan.</li>
      </ol>

      <h3>What you need</h3>

      <ul>
        <li>a photo ID, such as a passport</li>
        <li>your UK address or a proof of address document</li>
        <li>a mobile phone with a camera and internet connection</li>
      </ul>

      <p>You may be asked for additional information, such as a delivery address to send an authenticator.</p>

      <a href="/applicant/v7/step-1" class="nhsuk-button">
        Start application
      </a>

      <h2 class="nhsuk-u-margin-top-4">Accessibility placeholder</h2>

      <p>This service requires you to:</p>
      <ul>
        <li>take photos of ID documents</li>
        <li>scan your face</li>
      </ul>
      <p>If you are unable to use this service, you can <a href="/applicant/v7/offline">verify your identity in a different way</a></p>

     

    

    </div>

  </div>
{% endblock %}
