{% extends 'layout.html' %}

{% block pageTitle %}
  You need to apply for an NHS Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        You need to apply for an NHS Care ID
      </h1>
      <p>Our checks showed that you do not already have a Care Identity profile. You will need to apply for one. </p>
      <p>The next part of the application will take about 10-15 minutes to complete.</p>

      <p>An email has been sent to you. You can use the link to return to start your application at another time.</p>

      <h2>What an NHS Care Identity is</h2>

      <p>An NHS Care ID will give you access national systems, clinical data and patient information.</p>

      <H2> What you'll need to provide</h2>

      <ul>
        <li>your address for an online check, or select an alternative way to verify your address</li>
        <li>a photo ID, such as a passport or driving license</li>
        <li>a passport-style photo to upload or be prepared to take one</li>
        <li> a mobile phone with a camera and internet connection </li>
      </ul>

      <p><a href="/applicant/v7/offline">I cannot use a mobile phone to take photos of documents and scan my face</a></p>

      <a href="/applicant/v7/dpoa" class="nhsuk-button">
        Start application
      </a>
    

    </div>

  </div>
{% endblock %}
