{% extends 'layout.html' %}

{% block pageTitle %}
  Enter your profile details
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v7/address-select",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Enter your profile details
      </h1>

      <p>Provide a profile photo and name to appear on your profile.</p>

      <p>You may be asked for a delivery address to send an authenticator, like a smartcard.</p>


      <a href="/applicant/v7/smartcard-format" class="nhsuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
