{% extends 'layout-inviter.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Applications awaiting action
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v3/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <h1>Applications awaiting action</h1>
      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
          Awaiting action list
        </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Full name</th>
            <th role="columnheader" class="" scope="col">Email address</th>
            <th role="columnheader" class="" scope="col">Created by</th>
            <th role="columnheader" class="" scope="col">Date sent</th>
            <th role="columnheader" class="" scope="col">Status</th>
            <th role="columnheader" class="" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Full name </span>
              James Stenberg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Email address</span>
              james.stenberg@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Created by</span>
              Tim Bond
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date sent</span>
              10 September 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status</span>
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                Locked
                </strong>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action</span>
                <a href="/inviter/v3/invite-details">View</a>
            </td>
          </tr>
  
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Full name </span>
              Laurel Stenberg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Email address</span>
              laurel.stenberg@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Created by</span>
              Vincent Douglas
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date sent</span>
              23 May 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status</span>
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                Expired
                </strong>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action</span>
              <a href="/inviter/v3/invite-details">View</a> 
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}
