{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
         Check details
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            File name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['bulk-upload'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/inviter/v3/upload-file">
              Change<span class="nhsuk-u-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['sender-email-address-2'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/inviter/v3/sender-email">
              Change<span class="nhsuk-u-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <a href="/inviter/v3/spinner-bulk" class="nhsuk-button">
        Submit
      </a>

    </div>
  </div>
{% endblock %}
