{% extends 'layout-loggedin.html' %}
{% block pageTitle %}
  Manage Applications
{%endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Manage applications</h1>

    <p>Start a new application or manage current applications.</p>

    <form action="/inviter/v3/create-invite" method="post" class="form">
      <button class="nhsuk-button nhsuk-u-margin-bottom-5" type="submit">
        New application
      </button>
    </form>

    <p class=" nhsuk-u-margin-bottom-6"><a class="nhsuk-link" href="/inviter/v3/upload-file">Upload multiple applications</a></p>

    <h2 id="show-filters" class="nhsuk-u-margin-bottom-6">Find an application</h2>

  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <p><a href="/inviter/v3/filters#show-filters">Clear all filters</a></p>
    <form action="#" method="post" class="form">
    
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-1" for="search-1">
            Name, email address or application ID
          </label>
          <input class="nhsuk-input nhsuk-u-width-full" id="search-1" name="search-1" type="text" value="stenberg">
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible">

        <div class="nhsuk-form-group nhsuk-u-margin-top-3">
          <label class="nhsuk-label  nhsuk-label--s nhsuk-u-margin-bottom-1" for="search-2">
            ODS code
          </label>
          <input class="nhsuk-input nhsuk-input--width-5" id="search-2" name="search-2" type="text" value="Y54">
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible">

        <div class="nhsuk-form-group nhsuk-u-margin-top-3">
        
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h4 class="nhsuk-fieldset__heading">
                Sender
              </h4>
            </legend>
      
            <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="my-apps-1" name="search-filter-1" type="checkbox" value="my-apps">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="my-apps-1">
                  My applications
                </label>
              </div>   
      
            </div>
          </fieldset>
      
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible">

        <div class="nhsuk-form-group nhsuk-u-margin-top-3">
        
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h4 class="nhsuk-fieldset__heading">
                Status
              </h4>
            </legend>
      
            <div class="nhsuk-checkboxes nhsuk-checkboxes--small overflow-filter">
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                  Sent
                </label>
              </div>
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                  Duplicate check in progress
                </label>
              </div>
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  Awaiting documents
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-4" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-4">
                  Expired
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-5" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-5">
                  Locked
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-6" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-6">
                  Duplicate information
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-7" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-7">
                  ID review
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-8" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-8">
                  On hold
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-9" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-9">
                  Approved
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-10" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-10">
                  Rejected
                </label>
              </div>
      
            </div>
          </fieldset>
      
        </div>


      {{ button({ "text": "Apply filters", 
      "classes": "nhsuk-button
      nhsuk-u-margin-bottom-4" }) }}
     
    </form>
  
    
  
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <a class="nhsuk-button nhsuk-button--secondary" href="/inviter/v3/dashboard#hide-filters">Hide filters</a>
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-4">
        Showing 1 result
      </caption>
      
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">Full name</th>
          <th role="columnheader" class="" scope="col">Email address</th>
          <th role="columnheader" class="" scope="col">ODS code</th>
          <th role="columnheader" class="" scope="col">Sender</th>
          <th role="columnheader" class="" scope="col">Date sent</th>
          <th role="columnheader" class="" scope="col">Application ID</th>
          <th role="columnheader" class="" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Full name </span
            ><a href="/inviter/v3/invite-details"> James Stenberg</a>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Email address</span
            >james.stenberg@nhs.net
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">ODS code</span
            >Y54
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Sender</span
            >Emerson Jones
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date sent</span>10
            September 2021
          </td>
          
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application ID</span
            >	756bba36-e0ae-49d5-aa59-dad3d01dc044
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status</span
            ><strong class="nhsuk-tag nhsuk-tag--grey">
              Sent
              </strong>
          </td>
        </tr>

      
      </tbody>
    </table>


  </div>
</div>

{% endblock %}
