{% extends 'layout.html' %}

{% block pageTitle %}
  Application sent
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There was a problem creating the applications
      </h1>

      <p>The system encountered a problem. Please <a href="/inviter/v3/check-your-answers-bulk">go back</a> and try again.</p>


      <p>If the problem still occurs, contact <a href="">enquiries@nhsdigital.nhs.uk</a>.</p>
      



    </div>
  </div>
{% endblock %}
