{% extends 'layout.html' %}

{% block pageTitle %}
  Application sent
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There was a problem sending the following applications
      </h1>

      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5" id="error-table">
        <caption class="nhsuk-table__caption">Applications not sent</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Row
            </th>
            <th role="columnheader" class="" scope="col">
              Name
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>23
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name</span>Joe Bloggs
            </td>
            
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>24
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name</span>Dianna Morgan
            </td>
          </tr>
          
        </tbody>
      </table>

      <p>The system encountered a problem. Please <a href="/inviter/v3/check-your-answers-bulk">go back</a> and try again.</p>

      


      <p>If the problem continues, contact <a href="">enquiries@nhsdigital.nhs.uk</a>.</p>
      



    </div>
  </div>
{% endblock %}
