{% extends 'layout.html' %}

{% block pageTitle %}
  Log in
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>Log in</h1>

      <p>Use Windows Hello, your Security Key or Smartcard with the right permissions or roles to log in and use the Apply for Care ID service.</p>

      <p>If you cannot change your roles or permissions, contact your manager or<a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details"> NHS Trust’s registration authority</a>.</p>

      <a href="/inviter/v3/spinner-login" class="nhsuk-button nhsuk-u-margin-bottom-7">
        Log in
      </a>

  </div>

  <div>
{% endblock %}
