{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Invite statuses
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <!-- Add your content here -->
      <h1>
        Application statuses
      </h1>

      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">
              Description
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">
            Sent
            </strong></td>
            <td class="nhsuk-table__cell ">Application created successfully and delivered to an email address</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">
            Duplicate check in progress
            </strong></td>
            <td class="nhsuk-table__cell ">Applicant has clicked on link in invitation email</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">
            ID document capture
            </strong></td>
            <td class="nhsuk-table__cell ">Stfp file has been sucessfully sent to Xydus</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
              Invite resend required
            </strong></td>
            <td class="nhsuk-table__cell "><p>Application invite has expired and needs to be resent.</p> 
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
            Duplicate found
            </strong></td>
            <td class="nhsuk-table__cell ">Duplicate record found in CIS</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
            Application expired
            </strong></td>
            <td class="nhsuk-table__cell ">Access to mobile app has expired</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">
            ID review
            </strong></td>
            <td class="nhsuk-table__cell ">Application is waiting for ID documents to be reviewed</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">
            On hold
            </strong></td>
            <td class="nhsuk-table__cell ">Application has been moved to On hold list to be checked by a second ID checker.</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">
            Approved
            </strong></td>
            <td class="nhsuk-table__cell ">Application has been approved and Care ID created</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
            Rejected
            </strong></td>
            <td class="nhsuk-table__cell ">Application has been rejected</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}
