{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Your file could not be processed
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Your file could not be processed</h1>

      <p class="nhsuk-body-l">Your file contains formatting and data errors.</p>

      <p>Before you can send applications you should:</p>

      <ul>
        <li>correct all errors in your file</li>
        <li><a href="/inviter/v3/upload-file">upload your file </a>and submit it again</li>
      </ul>

      <p></p>

      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-8" id="error-table">
        <caption class="nhsuk-table__caption">Errors found</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Column
            </th>
            <th role="columnheader" class="" scope="col">
              Row
            </th>
            <th role="columnheader" class="" scope="col">
              Error
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>-
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>- 
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>Your file needs to have a column called 'given name'
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>E
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>All
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>The column 'ODS code' is empty
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>A
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>27
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>Given name must be 35 characters or fewer
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>D
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>56
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>Enter an NHS or NHS approved email address
            </td>
          </tr>
          
        </tbody>
      </table>

      

  
      </div>
    </div>


      

{% endblock %}
