{% extends 'layout.html' %}

{% block pageTitle %}
  This link does not work
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        This link does not work
      </h1>

      <p>This could be because:</p>

      <ul>
        <li>you typed the link from the email and there is a mistake in it</li>
        <li>you copied and pasted only part of the link from the email</li>
        <li>there is a technical problem</li>
      </ul>

      <p>Go back and select the link in the email we sent you. If you have to type or copy the link, make sure you get the correct and full address.</p>

      <p>If the link is correct, there may be a technical problem. Contact SERVICE DESK EMAIL</p>

    </div>

  </div>
{% endblock %}
