{% extends 'layout.html' %}

{% block pageTitle %}
  You cannot continue
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You cannot continue
      </h1>

      <p>You have asked for a security code too many times.</p>

      <p>We have notified the person who invited you They will send you a new invitation email with link.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Have we got the wrong phone number?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>TBC</p>
        </div>
      </details>



    </div>

  </div>
{% endblock %}
