{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Download the NHS staff ID app
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <h1>
        Download the NHS Verify Care ID app
      </h1>

      <p>A link for the Verify Care ID app has been sent by text message to *********<strong>5314</strong> and to your email address.</p>

      <p>To verify your identity and complete the Care ID application use the link to download the secure NHS Verify Care ID app on a mobile phone.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>The NHS Verify Care ID app can only be used from the link that has been sent to you. It will not work if you go to GooglePlay or the App Store without using the link.</p>
      </div>

      <p>Your mobile phone must have:</p>

      <ol>
        <li>Android 4.4 operating system or later</li>
        <li>iOS 12 operating system or later</li>
        <li>a camera</li>
        <li>a connection to the internet</li>
      </ol>

      <p>The Verify Care ID app will need 60MB of memory space and can be deleted when your application has been approved.</p>

      <p>You will use the Verify Care ID app to photograph your photo ID,  proof of address documents and take a photo of your face.</p>


    </div>

  </div>
{% endblock %}
