{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a staff ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for a staff ID
      </h1>

      <p>Use this service to verify your identity and apply for your staff ID.</p>

      <p>Your staff ID will allow you to access the data and patient information you need for your role or job</p>

      <p>To complete this application you will need to:</p>

      <ol>
        <li>confirm your personal details</li>
        <li>enter your national insurance number</li>
        <li>provide 2 forms of photo ID (valid passport, driving licence, EU identity card)</li>
        <li>provide 1 proof of address (recent utility bill, bank or mortgage statement)</li>
        <li>take a photo of your face with your mobile for a face scan</li>
      </ol>

      <p>You need your mobile phone to receive a confirmation code to enter into the online application form.</p>

      <p>You will also need your mobile phone to download and use the secure NHS ID verification app as part of your application.</p>

      <a href="/applicant/v3/send-otp" class="nhsuk-button">
        Start now
      </a>

      <h3>Other ways to apply for staff ID</h3>

      <p>Applying online is the quickest way to get your staff ID.</p>

      <p>Contact your <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust’s registration authority</a> or speak to your service manager if you are unable to apply online for a staff ID.</p>



    </div>

  </div>
{% endblock %}
