{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for a Care ID
      </h1>

      <p>Use this service to verify your identity and apply for your Care ID.</p>

      <p>Your Care ID will allow you to access the data and patient information you need for your role.</p>

      <h2>How to complete your  application</h2>

      <p>When you start the application you will need to enter the unique security code that has been sent by text message to your mobile phone.</p>

      <p>You will then need to add the following personal information:</p>

      <ol>
        <li>your name and the name you want to appear on your Care ID</li>
        <li>your date of birth</li>
        <li>your National Insurance number</li>
        <li>placeholder fo delivery address</li>
        <li>a postal address to receive a Care ID card or other ID devices</li>
      </ol>

      <p>When you submit your personal information a link for the secure NHS Verify Care ID app will be sent to your mobile phone.</p>

      <p>The link will take you to GooglePlay or the App Store where you can download the app.</p>

      <p>You will use this app to verify your ID.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>The NHS Verify Care ID app can only be used by clicking on the link that will be sent to you. It will not work if you go to GooglePlay or the App Store without using the link.</p>
      </div>

      <p>The app will use about 60 MB of memory space on your phone and can be deleted when your application has been approved.</p>

      <p>Use the NHS Verify Care ID app to:</p>

      <ul>
        <li>take a photo of your passport, UK biometric residence permit or driving licence - they must be current</li>
        <li>take a photo of your proof of address - this could be a recent utility bill, bank or mortgage statement</li>
        <li>take a photo of your face </li>
      </ul>

      <p>The documents you enter into the app will be held securely and only used by the NHS to verify your identity.</p>

      <a href="/applicant/v3/send-otp" class="nhsuk-button">
        Start application
      </a>


      <h2 class="nhsuk-u-margin-top-3">Other ways to apply for a Care ID</h2>

      <p>Applying online and using the mobile app is the quickest way to verify your identity and get your Care ID.</p>

      <p>Contact the <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust registration authority</a> that manages Care IDs or speak to your manager if you are unable to apply online or use the Care ID app.</p>

      <h2>About using this service</h2>

      <p>By using this service, you're agreeing to our <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/privacy-notice-to-smartcard-authorised-device-users-on-the-use-of-your-personal-data">terms of use and privacy policy</a>.</p> 

    </div>

  </div>
{% endblock %}
