{% extends 'layout-inviter-v9.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Application: James Stenberg 
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v9/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-alert nhsuk-alert--info nhsuk-alert--icon">
      <svg class="nhsuk-icon nhsuk-icon__info nhsuk-alert__icon" fill="none" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
      </svg>
      <h3 class="nhsuk-u-visually-hidden">Information:</h3>
      <p class="nhsuk-u-font-weight-bold">Profile photo needs updating</p>
    </div>

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: James Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text">Status: Approved</p>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application summary
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application ID
            </dt>
            <dd class="nhsuk-summary-list__value">
            673476C
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Raised by
            </dt>
            <dd class="nhsuk-summary-list__value">
            Vincent Douglas on 8 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Requestor email address
            </dt>
            <dd class="nhsuk-summary-list__value">
            vincent.douglas58@nhs.net
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Organisation
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Barsetshire NHS Foundation Trust (RWA)
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Approved on
            </dt>
            <dd class="nhsuk-summary-list__value">
            11 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            UUID
            </dt>
            <dd class="nhsuk-summary-list__value">
              <a href="">6734 7636 0922 (opens in a new tab)</a> 
            </dd>
          </div>

         

        </dl>

      </div>
    </div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Applicant details
        </h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full name
            </dt>
            <dd class="nhsuk-summary-list__value">
              James Stenberg
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Work email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              James.stenberg@nhs.net
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="nhsuk-summary-list__value">
              079946823098
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Delivery address
            </dt>
            <dd class="nhsuk-summary-list__value">
              195 Ber Street, Norwich, NR1 3HB
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Notes
            </dt>
            <dd class="nhsuk-summary-list__value">
              smartcard with nurse practitioner role
            </dd>
          </div>

        </dl>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">

        <h3 class="nhsuk-card__heading">
          Application steps
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Enter personal details
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Completed
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Verify address
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Completed
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Submit ID documents
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Completed
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Review by ID checker
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Completed
                </strong>
            </dd>
          </div>

        </dl>

      </div>
    </div>

   

  </div>
</div>
{% endblock %}
