{% extends 'layout.html' %}

{% block pageTitle %}
  You cannot continue with the online application
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You cannot continue with the online application
      </h1>

      <p>The details you have submitted match information already in the system and you may already have a Care ID.</p>

      <p>Contact your manager, sponsor or <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust registration authority</a> to check if you have a Care ID.</p>

      <p>The permissions and access levels you need for your role can be added to your current Care ID.</p>



    </div>

  </div>
{% endblock %}
