{% extends 'layout.html' %}

{% block pageTitle %}
  Find out if you already have an NHS Care ID profile
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Find out if you already have an NHS Care ID profile
      </h1>

      <p>To check if you already have an NHS Care Identity profile, you'll need to:</p>

      <ul>
        <li>send a security code to your mobile phone to check that the number we have for you is correct and to make sure that you can access it.</li>
        <li>enter your full name, date of birth and national insurance number.</li>
      </ul>

      <p>If you do not have a profile, you'll need to verify your identity to get one. </p>

      <a href="/applicant/v13/dup-check/send-otp" class="nhsuk-button">
        Start
      </a>

      <p>By using this service, you're agreeing to our <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/privacy-notice-to-smartcard-authorised-device-users-on-the-use-of-your-personal-data">terms of use and privacy policy</a>.</p> 

    </div>

  </div>
{% endblock %}
