{% extends 'layout-inviter-v10.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Application: Laurel Stenberg
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v10/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-alert nhsuk-alert--warning red-warning nhsuk-u-margin-bottom-7">
      <h3 class="nhsuk-u-visually-hidden">Warning:</h3>
      <p class="nhsuk-u-font-weight-bold">Invite email could not be delivered to laurel.stenber@nhs.net. <a href="/inviter/v10/bounced-application#applicant-details">Check email address</a> is correct before resending.</p>
    </div>

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: Laurel Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text nhsuk-u-margin-bottom-2">Status: Resend required</p>
    <p class="grey-text nhsuk-u-margin-bottom-5">(Invite email not sent)</p>

    <a class="nhsuk-button nhsuk-u-margin-right-4" href="/inviter/v10/application-sent">Resend invite email</a>
    <a class="nhsuk-button nhsuk-button--secondary delete-button" href="/inviter/v10/cancel-application">Cancel application</a>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application summary
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              B57hX-tIs-8lLY8-cFC5Hsx
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Raised by
            </dt>
            <dd class="nhsuk-summary-list__value">
            Vincent Douglas on 1 April 2023
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Requestor email address
            </dt>
            <dd class="nhsuk-summary-list__value">
            vincent.douglas58@nhs.net
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Organisation
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Barsetshire NHS Foundation Trust (RWA)
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Last updated
            </dt>
            <dd class="nhsuk-summary-list__value">
            2 April 2023
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Requestor notes
            </dt>
            <dd class="nhsuk-summary-list__value">
            -
            </dd>
          </div>
        
        </dl>

      </div>
    </div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5" id="applicant-details">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Applicant details
        </h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Laurel Stenberg
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v10/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Work email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              laurel.stenber@nhs.net
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v10/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="nhsuk-summary-list__value">
              079946823098
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v10/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Delivery address
            </dt>
            <dd class="nhsuk-summary-list__value">
              Not required
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v10/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application steps
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Enter personal details
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Upload smartcard photo
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Submit ID documents
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Review by ID checker
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

        </dl>

      </div>
    </div>

  </div>
</div>

{% endblock %}
