{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter a UK address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v13/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v13/address-select" method="post" class="form">

          <div class="nhsuk-form-group">
            <h1 class="nhsuk-label-wrapper">
              <label class="nhsuk-label nhsuk-label--xl" for="address-postcode-1">
                Enter your current UK postcode
              </label>
            </h1>
            <p>Your address will be shared with TransUnion to verify your address.</p>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              If you live at more than 1 UK address, use the one which has the most activity from organisations like banks and utility providers.
            </div>
            <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode-1" name="address-postcode-1" type="text" value="{{ data['address-postcode-1'] }}">
          </div>
        
  
        {{ button({
          "text": "Find address"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
