{% extends 'layout.html' %}

{% block pageTitle %}
  Your details may already be in the system
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your details may already be in the system
      </h1>

      <label for="cameraFileInput">
        <span class="btn">Open camera</span>
  
        <!-- The hidden file `input` for opening the native camera -->
        <input
          id="cameraFileInput"
          type="file"
          accept="image/*"
          capture="environment"
        />
      </label>

      <img id="pictureFromCamera" />

    </div>

  </div>

  <script>
    document
  .getElementById("cameraFileInput")
  .addEventListener("change", function () {
    document
      .getElementById("pictureFromCamera")
      .setAttribute("src", window.URL.createObjectURL(this.files[0]));
  });
  </script>
{% endblock %}
