{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  We are going to verify your UK address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/test/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p class="nhsuk-page-heading__small nhsuk-u-margin-bottom-1 grey-text" style="display:none;">Identity verification</p>

      <form action="#" method="post" class="form">

        

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
              <h1 class="nhsuk-fieldset__heading">
                We are going to verify your UK address
              </h1>
            </legend>

            <p>We'll share your information with a 3rd party organisation, <a href="https://www.transunion.co.uk/about-us">TransUnion</a>.</p>

            <p>They will check there has been activity at your address from organisations like banks and utility providers. </p>

            <p>Only you will be able to see that this check has been done, and it will not impact your credit score. </p>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-yes" name="dpoa" type="radio" aria-describedby="dpoa-yes-hint" value="Enter UK address" {{ checked("dpoa", "Enter UK address") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="dpoa-yes">
                  Yes, I agree to verify my address with TransUnion
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-no" name="dpoa" type="radio" aria-describedby="dpoa-no-hint" value="no" {{ checked("dpoa", "provide proof of address document") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="dpoa-no">
                  No, I want to verify my address in a different way
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="dpoa-no-hint">
                  You will need to provide a paper proof of address document
                </div>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I don't have a UK address
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Info and help for international applicants</p>
          <ul>
            <li>if you have a tenancy agreement, select paper proof of address</li>
            <li>if you don't have an address, contact [inviter-support-email] to verify your identity in a different way. Include your application ID in all emails. You will be able to provide other evidence at a face to face meeting.</li>
          </ul>
      
        </div>
      </details>

    </div>
  </div>

{% endblock %}
