{% extends 'layout.html' %}

{% block pageTitle %}
  You may already have an NHS Care ID profile
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You may already have an NHS Care ID profile
      </h1>

      <p>There is a record in our system that matches the details you have submitted.</p>

      <p>You do not need to apply for a new Care ID.</p>

      <h2>How to continue</h2>
      <p>Email the team who is managing your application to add the permissions and access you need for your role.</p>

      <ul>
        <li>send your email to <a href="">ra-services-barset@nhs.net</a></li>
        <li>use the subject line: Apply for Care ID - duplicate profile found</li>
        <li>include this text: A Care ID profile that matches my information has been found. I am asking for support adding the permissions and access I need to this profile. My application ID is: u34834uf-83468347-3483743 </li>
      </ul>

     

      

      <p class="nhsuk-u-margin-top-8">This is a new service, your <a href="">feedback</a> will help us improve it.</p>

     

    </div>

  </div>
{% endblock %}
