{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Add a photo of yourself
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "#",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Add a photo of yourself</h1>

      <p>This photo will appear on your Care ID card.</p>

      <p>Your photo must:</p>
      <ul>
        <li>be clear and in focus</li>
        <li>be taken against a plain, light coloured background</li>
        <li>show you facing forwards</li>
        <li>not contain other people or objects in the background</li>
        <li>not have hair or other objects obscuring the face</li>
      </ul>

      

      

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <button class="nhsuk-button nhsuk-u-width-full" type="submit">
        Take a photo
      </button>
      <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-width-full" type="submit">
        Upload a file
      </button>
      <p class="nhsuk-hint">Files must ust be .jpeg, .jpg, .png, .bmp</p>
    </div>
  </div>

{% endblock %}
