{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for a Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for a Care ID
      </h1>

     <h2>1. Before you start</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Check your suitability
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Completed
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Provide your personal information
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Completed
            </strong>
          </dd>
        </div>
      </dl>

      <h2>2. Provide authenticator details </h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Enter a delivery address
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Tell us your preferred name
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Provide an photo of yourself
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
      </dl>


      <h2>3. Verify your identity</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Provide your first photo ID 
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Provide a 2nd photo ID
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Provide proof of address
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Scan your face
          </dt>
          <dd class="nhsuk-summary-list__actions">
            <strong class="nhsuk-tag nhsuk-tag--grey">
              Not started yet
            </strong>
          </dd>
        </div>
      </dl>

      <h2>Verify your identity</h2>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-xs nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                1. Provide your first photo ID 
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Completed
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-u-margin-bottom-2 ">
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                2. Second photo ID
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <strong class="nhsuk-tag nhsuk-tag--white">
                  Not started
                </strong>
              </dd>
            </div>
          </dl>
          <p class="nhsuk-card__description">We will use this to confirm who you are.</p>
          <a class="nhsuk-button" href="">Continue</a>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-xs nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                3. Proof of address
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Cannot start yet
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-xs nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                4. Face scan
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Cannot start yet
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-heading-xs nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                4. Face scan
              </dt>
              <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2>Verify your identity</h2>

      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">1. First photo ID</h3>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content">
          <h3>
            2. Second photo ID
          </h3>
          <p class="nhsuk-card__description">We will use this to confirm who you are.</p>
          <a class="nhsuk-button" href="">Continue</a>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content  nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">3. Proof of address</h3>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-u-margin-bottom-2">
        <div class="nhsuk-card__content nhsuk-u-padding-4">
          <h3 class="nhsuk-heading-xs">4. Face scan</h3>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
