{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose how to send photos of your EU or International driving licence
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v1/take-photo-eu-driving-front" method="post" class="form">

        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Choose how to send a photos of your EU or international driving licence
            </h1>
          </legend>

          <div class="nhsuk-hint">
    You need to take 2 photos - one of the front and one of the back.
  </div>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-eu-driving-1" name="format-eu-driving" type="radio" value="take-photo" aria-describedby="take-photo-hint" {{ checked("format-eu-driving", "take-photo") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="take-photo-hints">
                Take a photo on this device
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="format-eu-driving-1-hint">
                        To take a photo on your device, you must have a camera... device info
                      </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-eu-driving-2" name="format-eu-driving" type="radio" value="upload-photo" aria-describedby="upload-photo-hint" {{ checked("format-eu-driving", "upload-photo") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="format-eu-driving-1-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
