{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose how to send a photo of your passport
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v1/choose-photo-id2",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body" style="color: #4c6272; ">Step 3 of 6: Send your photos</p>

      <form action="/applicant/v1/take-photo-passport" method="post" class="form">

        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Choose how to send a photo of your passport
            </h1>
          </legend>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-passport-1" name="format-passport" type="radio" value="take-photo" aria-describedby="take-photo-hint" {{ checked("format-passport", "take-photo") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="format-passport-1-hints">
                Take a photo on this device
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="format-passport-1-hint">
                        To take a photo on your device, you must have a camera... device info
                      </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-passport-2" name="format-passport" type="radio" value="upload-photo" aria-describedby="uk-driving-hint" {{ checked("format-passport", "upload-photo") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="format-passport-2-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
