{% extends 'layout.html' %}

{% block pageTitle %}
  Invite email
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row" style="background-color: white;">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <p class="nhsuk-body">UPDATE TO EMAIL LAYOUT + STYLING</p>

      <h2 class="nhsuk-heading-l">You have been invited to...</h2>

      <p class="nhsuk-body">What you're applying for</p>
      <p class="nhsuk-body">How long you have to complete</p>
      <p class="nhsuk-body">How long it takes to complete + your progress won't be saved</p>
      <p class="nhsuk-body">tasks involved</p>
      <p class="nhsuk-body">docs needed</p>
      <p class="nhsuk-body">tech needed</p>

  
      <a href="/applicant/v1/spinner-start" class="nhsuk-button">
        Apply now
      </a>

      <br>

      <p class="nhsuk-body">support + what to do if don't have docs + tech to complete</p>
      <p class="nhsuk-body">Do not reply to this email</p>

    </div>

  </div>

{% endblock %}
