{% extends 'layout.html' %}

{% block pageTitle %}
  Prove who you are
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Prove who you are
      </h1>

      <p>Use this service to:</p>

      <h3>Before you start</h3>

      <p>You will be asked to complete the following tasks</p>

      <ol>
        <li>Confirm your details</li>
        <li>Provide 2 forms of photo ID</li>
        <li>Provide a proof of address</li>
        <li>Upload a photo for your smartcard</li>
        <li>Complete a face scan</li>
      </ol>

      <p>Registering takes around ?? minutes.</p>

      <a href="/applicant/v1/what-you-need" class="nhsuk-button">
        Start now
      </a>

<p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>


    </div>

  </div>
{% endblock %}
