{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Take a photo of your bank account statement
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v1/choose-format-bank",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h2>Take a photo of your bank account statement</h2>
<p>We need a clear photo of your bank account statement.</p>

      <p>Make sure:</p>

      <ul>
        <li>you can see your name and address </li>
        <li>you can see the name or logo of the company it is from</li>
        <li>there are no bright spots caused by reflection from a bright light</li>
        <li>the text is not blurred</li>
        <li>you do not use a front-facing camera</li>
      </ul>



      <a href="/applicant/v1/camera-bank" class="nhsuk-button">
        Open camera
      </a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I can't open my camera or similar tech issue
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Info on what to do</p>

        </div>
      </details>

    </div>

  </div>
{% endblock %}
