{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Upload a photo of your passport
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v1/choose-format-passport",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->


      <h2>Upload a photo of your passport</h2>

      <p>We need a clear photo of your passport.</p>

      <p>We accept the following file types... Your file must be no larger than...</p>

      <p>Any other device specific info.</p>

            <p>Make sure:</p>

            <ul>
              <li>your photo includes all 4 corners</li>
              <li>you can see all words, numbers and codes</li>
              <li>there are no bright spots caused by reflection from a bright light</li>
              <li>the text is not blurred</li>
              </ul>

              <a href="/applicant/v1/upload-file-passport" class="nhsuk-button">
                Choose a file
              </a>

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    What to do if I can't upload a file
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>Info on what to do</p>

                </div>
              </details>
    </div>

  </div>
{% endblock %}
