{% extends 'layout-inviter-v5.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Close application
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v5/expired-application",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <h1>
        Delete application
      </h1>

      <p>When you delete the application it will be removed from your applications list.</p>

      <p>The applicant will not be able to continue the application. The applicant's personal information will be deleted from the system.</p>

      <p>If you need to return to the application for this person you will need to start the process again.</p>


      <form action="/inviter/v5/application-deleted" method="post" class="form">

        <button class="nhsuk-button nhsuk-button--secondary delete-button"  type="submit">
          Delete application
        </button>

      </form>



    </div>

  </div>
{% endblock %}
