{% extends 'layout-inviter-v5.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Application: James Stenberg
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v5/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Application: James Stenberg
    </h1>

    <p class="nhsuk-body-l nhsuk-u-font-weight-bold grey-text nhsuk-u-margin-bottom-2">Status: Resend required</p>
    <p class="grey-text nhsuk-u-margin-bottom-5">(Invite email expired)</p>

    <a class="nhsuk-button nhsuk-u-margin-right-4" href="/inviter/v5/application-sent">Resend invite email</a>
    <a class="nhsuk-button nhsuk-button--secondary delete-button" href="/inviter/v5/delete-application">Cancel application</a>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application summary
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Application number
            </dt>
            <dd class="nhsuk-summary-list__value">
            68458XC
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Raised by
            </dt>
            <dd class="nhsuk-summary-list__value">
            Vincent Douglas on 8 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Organisation
            </dt>
            <dd class="nhsuk-summary-list__value">
            	Barsetshire NHS Foundation Trust (RWA)
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Last updated
            </dt>
            <dd class="nhsuk-summary-list__value">
            11 July 2022
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Invite emails sent
            </dt>
            <dd class="nhsuk-summary-list__value">
            2
            </dd>
          </div>

          

        </dl>

      </div>
    </div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Applicant details
        </h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full name
            </dt>
            <dd class="nhsuk-summary-list__value">
              James Stenberg
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v5/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Work email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              James.stenberg@nhs.net
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v5/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="nhsuk-summary-list__value">
              079946823098
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v5/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Notes
            </dt>
            <dd class="nhsuk-summary-list__value">
              smartcard with nurse practitioner role
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/inviter/v5/enter-details">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-5">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Application steps
        </h3>

        <dl class="nhsuk-summary-list">

          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Enter personal details
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Submit ID documents
            </dt>
            
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Review by ID checker
            </dt>
            <dd class="nhsuk-summary-list__actions">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
                </strong>
            </dd>
          </div>

        </dl>

      </div>
    </div>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          How long does an applicant have to complete their application?
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Applicants must:</p>
        <ul>
          <li>complete the duplicate check within <strong>4 days</strong> of receiving the invite email</li>
          <li>submit their ID documents within <strong>15 days</strong> of receiving a link to download the app</li>
        </ul>
        <p>Reminders to submit their ID documents are sent via text and email 2 days and 7 days after receiving the link to download the app.</p> 
      </div>
    </details>

  </div>
</div>
{% endblock %}
