{% extends 'layout.html' %}

{% block pageTitle %}
  Apply for Care ID
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apply for Care ID
      </h1>


      <p>Use this service to:</p>

      <ul>
        <li>give NHS staff and healthcare professionals access to NHS national systems</li>
        <li>update Care ID applications you have submitted</li>
        <li>check the progress of Care ID applications</li>
      </ul>

      <p>Anyone who needs access to NHS national systems for patient information and data must have a Care ID with the right authorisation.</p>

      <p>A Care ID will give people working in or with the NHS access to the information they need to do their job.</p>

      <a href="/inviter/v5/log-in" class="nhsuk-button nhsuk-u-margin-bottom-7">
        Start
      </a>

      <h2 class="nhsuk-heading-l">Before you start</h2>

      <p>You will need Windows Hello, your Security Key or Smartcard with the right permissions and roles to manage Care ID applications.</p>

      <p>You will be asked to enter the following information about the Care ID applicant into an online form:</p>

      <ul>
        <li>name</li>
        <li>work email address</li>
        <li>mobile phone number</li>
        <li><a href="https://odsportal.digital.nhs.uk/Organisation/Search">ODS code</a> for applicant's organisation</li>
      </ul>

      <p>By inviting this individual to apply for a Care ID, you are confirming that they have been through relevant employment checks with the organisation they’ll be working for.</p>

      <h2>What the applicant needs to provide</h2>

      <p>When you have submitted this information, the person who needs access to NHS national systems will be asked to complete the application. </p>

      <p>They will need to provide their name, address, date of birth and National Insurance number on an online form and submit identity documents using a mobile app. </p>

      <h3>ID documents the applicant needs</h3>

      <h4>2 photo IDs from this list:</h4>

      <ul>
        <li>UK or international passport</li>
        <li>UK, EU or international driving licence</li>
        <li>UK Biometric residence permit card</li>
        <li>HM Armed Forces identity card</li>
      </ul>

      <h4>1 proof of address document from this list:</h4>

      <ul>
        <li>bank account or credit card statement, this must be from the last 6 months</li>
        <li>mortgage statement, this must be from the last 6 months</li>
        <li>utility bill, this must be from the last 6 months</li>
        <li>council tax statement, this must be from the last 12 months</li>
      </ul>

      <p>The applicant will be sent an email with instructions for downloading and using the app.</p>

    </div>

  </div>
{% endblock %}
