{% extends 'layout-inviter-v8.html' %}
{% block pageTitle %}
  Change role
{%endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Change role</h1>
    
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="search-org">
            Search roles
          </label>
          <input id="filter" class="nhsuk-input nhsuk-input--width-20" id="search-org" name="search-org" type="text">
        </div>
        <button class="nhsuk-button">
          Search
        </button>
        
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">Aspire Limited OOH (B36648) - RA Manager</a>
            </dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">Barn Gate Practice Team (P3332) - RA Agent</a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">Community Primary Care Solutions (P36543) - RA Manager</a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">Concorde Health Group (Haymarket) (P78943) - RA Manager</a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">Green Lane Surgery (P4691) - RA Agent</a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a class="nhsuk-link--no-visited-state" href="#">HPP/ YOR Northam (NHY) - RA Manager</a>
            </dd>
          </div>
        
        </dl>

      </div>
    </div>



  </div>
</div>


{% endblock %}
