{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  We are going to verify your UK address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/dev-ready/start-application",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p class="nhsuk-page-heading__small nhsuk-u-margin-bottom-1 grey-text">Step 1 of 3</p>
      

      <form action="/applicant/dev-ready/step-1/address-postcode" method="post" class="form">

      

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7">
              <h1 class="nhsuk-fieldset__heading">
                We are going to verify your UK address
              </h1>
            </legend>

            <p>We'll share your address, name and date of birth with a trusted organisation, TransUnion.</p>

            <p>TransUnion will:</p>

            <ul>
              <li>verify that there has been activity at your address, in your name, from organisations like banks and utility providers</li>
              <li>perform a check that will not impact your credit score. Only you can see that it's been done</li>
            </ul>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  I do not live in the UK
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>If you do not have a current UK address, select  'No, I want to verify my address in a different way'.</p>
              </div>
            </details>

        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-yes" name="dpoa" type="radio" value="Enter UK address" {{ checked("dpoa", "Enter UK address") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="dpoa-yes">
                  Yes, I agree to verify my address with TransUnion
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="dpoa-no" name="dpoa" type="radio" aria-describedby="dpoa-no-hint" value="no" {{ checked("dpoa", "provide proof of address document") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="dpoa-no">
                  No, I want to verify my address in a different way
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="dpoa-no-hint">
                  You will need to provide a paper proof of address document
                </div>
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>


      <p><a href="#">Get more information about TransUnion and how your data is used</a></p>

    </div>
  </div>

{% endblock %}
