{% extends 'layout.html' %}

{% block pageTitle %}
  Versions
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        DPOA routing options
      </h1>

      <p>DO NOT INCLUDE THIS PAGE IN DEVELOPMENT</p>

      <ul>
        <li><a href="/applicant/dev-ready/step-1/passport">PASS (business rules 1 and 2)</a></li>
        <li><a href="/applicant/dev-ready/step-1/dpoa-0">FAIL (business rules 3 and 4)</a></li>
      </ul>


    </div>

  </div>
{% endblock %}
