{% extends 'layout-inviter-v10.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter a contact email address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v10/before-you-start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->


      <form action="/inviter/v10/alerts-verify" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="contact-email">
              Enter a contact email address
            </label>
          </h1>
          <p>You will receive email alerts about applications you raise. </p>
          <p>The ID checking team might also use this to contact you.</p>
          <input class="nhsuk-input nhsuk-input--width-20" id="contact-email" name="contact-email" type="text" value="{{ data['contact-email'] }}">
        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-top-7" style="display:none;">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m nhsuk-u-margin-bottom-3">
              <h2 class="nhsuk-fieldset__heading">
                Set email alert preferences
              </h2>
            </legend>

            <div class="nhsuk-hint">
              Email alerts are sent daily when there is new activity for applications you have raised
            </div>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="alerts-yes" name="alerts" type="radio" value="yes" {{ checked("alerts", "yes") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="alerts-yes">
                  Yes, I want to receive email alerts
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="alerts-no" name="alerts" type="radio" value="no" {{ checked("alerts", "no") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="alerts-no">
                  No, I do not want to receive email alerts
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>



        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>

  </div>
{% endblock %}
