{% extends 'layout-inviter-v10.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
 56 of 62 applications sent
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            <li>
              <a href="#error-table">Some applications contain data errors</a>
            </li>
            <li>
              <a href="#dup-table">Some applications are already in progress</a>
            </li>
          </ul>
        </div>
      </div>

      <h1>56 of 62 applications sent</h1>

      <p class="nhsuk-body-l">6 applications could not be sent because:</p>

      <ul>
        <li>5 applications contain data errors</li>
        <li>1 application with the same email address is already in progress</li>
      </ul>

      <p>All other applications have been sent successfully.</p>

      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-8" id="error-table">
        <caption class="nhsuk-table__caption">Errors</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Column
            </th>
            <th role="columnheader" class="" scope="col">
              Row
            </th>
            <th role="columnheader" class="" scope="col">
              Error
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>A
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>27
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>Given name must be 35 characters or fewer
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Column </span>D
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>56
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Error </span>Enter an NHS or NHS approved email address
            </td>
          </tr>
          
        </tbody>
      </table>

      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-8" id="dup-table">
        <caption class="nhsuk-table__caption">Applications already in progress</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Row
            </th>
            <th role="columnheader" class="" scope="col">
              Error
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Row</span>27
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Duplicate</span>An application for the email address <a href="/inviter/v10/applications/in-progress">james.stenberg@nhs.net</a> is already in progress
            </td>
          </tr>
          
        </tbody>
      </table>
      
      <h2 class="nhsuk-u-margin-top-6">How to resubmit your applications</h2>
    

      <ol>
        <li>Download the <a href="">applications with errors CSV (65MB)</a>. This file contains the 5 applications with errors. </li>
        <li>Correct all errors. </li>
        <li><a href="/inviter/v10/upload-file">Upload your file</a> and submit it again</li>
      </ol>

      
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Do not include applications that have been successfully sent or which are already in progress when you upload your file.</p>
      </div>
      </div>
    </div>


     

      

  
      </div>
    </div>


      

{% endblock %}
