{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose how to send a photo of your passport
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/test/applicant/choose-photo-poa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/#" method="post" class="form">

        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Choose how to send a photo of your passport
            </h1>
          </legend>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="take-photo1" name="format-passport" type="radio" value="take-photo" aria-describedby="take-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="take-photo-hints">
                Take a photo on this device
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="take-photo1-hint">
                        To take a photo on your device, you must have a camera... device info
                      </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="upload-photo1" name="format-passport" type="radio" value="upload-photo" aria-describedby="uk-driving-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="upload-photo-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}


      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I need to choose a different photo ID
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Where would this go? If back to choose first photo id then would need to go through the later screens too</p>

        </div>
      </details>

    </div>
  </div>

{% endblock %}
