{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose your first photo ID
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



<div class="nhsuk-grid-row-two-thirds" style="background: #005eb8; padding:24px; margin-bottom:32px;">
  <p class="nhsuk-body-s" style="color: white; margin-bottom:4px;">Step 2 of 5</p>
  <h2 class="nhsuk-heading-l" style="color: white; margin-bottom:0px; padding-top:0px;">Choose your documents</h2>
</div>


<form action="/test/applicant/choose-photo-id2" method="post" class="form">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Choose your first photo ID
      </h1>
    </legend>


    <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
        Your document must be in date... info about expiry dates
      </div>

      <br>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="passport1" name="photoid1" type="radio" value="passport" aria-describedby="passport-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="passport-hints">
          UK or international passport
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="eu-identity1" name="photoid1" type="radio" value="eu-identity" aria-describedby="eu-identity-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="eu-identity-hint">
          EU identity card
        </label>
        <div class="nhsuk-hint nhsuk-radios__hint" id="eu-identity-hint">
          You will need to send 2 photos - one of the front and one of the back.
        </div>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="uk-driving1" name="photoid1" type="radio" value="uk-driving" aria-describedby="uk-driving-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="uk-driving-hints">
          UK driving licence
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="int-driving1" name="photoid1" type="radio" value="int-driving" aria-describedby="int-driving-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="int-driving-hint">
          EU or international driving licence
        </label>
        <div class="nhsuk-hint nhsuk-radios__hint" id="eu-identity-hint">
          You will need to send 2 photos - one of the front and one of the back.
        </div>
      </div>

    </div>
  </fieldset>

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Choose your second photo ID
      </h1>
    </legend>


    <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
        Your document must be in date... info about expiry dates
      </div>

      <br>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="eu-identity2" name="photoid2" type="radio" value="eu-identity" aria-describedby="eu-identity-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="eu-identity-hint">
          EU identity card
        </label>
        <div class="nhsuk-hint nhsuk-radios__hint" id="eu-identity-hint">
          You will need to send 2 photos - one of the front and one of the back.
        </div>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="uk-driving2" name="photoid2" type="radio" value="uk-driving" aria-describedby="uk-driving-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="uk-driving-hints">
          UK driving licence
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="int-driving2" name="photoid2" type="radio" value="int-driving" aria-describedby="int-driving-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="int-driving-hint">
          EU or international driving licence
        </label>
        <div class="nhsuk-hint nhsuk-radios__hint" id="eu-identity-hint">
          You will need to send 2 photos - one of the front and one of the back.
        </div>
      </div>

    </div>

    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
  </fieldset>

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Choose your proof of address document
      </h1>
    </legend>


    <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
        Make sure your name and address is on the document and that it has the name or logo of the company it is from.
      </div>

      <br>


    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="bank" name="poa" type="radio" value="bank" aria-describedby="bank-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="bank-hint">
          Bank account statement (from the last 3 months)
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="credit-card" name="poa" type="radio" value="credit-card" aria-describedby="credit-card-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="credit-card-hints">
          Credit card statement (from the last 3 months)
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="loan" name="poa" type="radio" value="loan" aria-describedby="loan-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="loan-hints">
          Loan or car finance statement (from the last 3 months)
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="mortgage" name="poa" type="radio" value="mortgage" aria-describedby="mortgage-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="mortgage-hints">
          Mortgage statement (from the last 12 months)
        </label>
      </div>

    </div>
  </fieldset>


<br>

{{ button({
  "text": "Continue",
  "id": "btn_submit"
}) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I don't have one of these documents
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Info about who to contact</p>

        </div>
      </details>

    </div>
  </div>

{% endblock %}
