{% extends 'layout.html' %}

{% block pageTitle %}
  You need to apply for an NHS Care ID
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        You need to apply for an NHS Care ID
      </h1>
      <p>Our checks confirm that you do not already have a NHS Care ID profile.</p>

      <p>Use this service to verify your identity and apply for an NHS Care ID.</p>

      <h2 class="nhsuk-heading-m">What you need now</h2>

      <ul>
       <li>a professional photo of your face to upload</li>
      </ul>
   
      <h2 class="nhsuk-heading-m">What you need later</h2>

      <ul>
        <li>a smartphone with a camera to download the secure mobile app</li>
        <li>a photo ID</li>
        <li>if required, a proof of address document</li>
      </ul>

      <p><a href="/applicant/v17/offline/no-mobile">I cannot use a mobile phone to take photos and scan my face</a></p>

      <p><strong>You can use the link in your invite email to return to your application at another time.</strong></p>  

      <a href="/applicant/v17/step-1/dpoa" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7">
        Start application
      </a>

    </div>

  </div>
{% endblock %}
