{% extends 'layout.html' %}

{% block pageTitle %}
  Your device is not supported
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your device is not supported
      </h1>

      <p>You must use a smartphone or tablet to access our mobile app.</p>

      <p>Try using a different device to select the link in the text message.</p>

      <p>We support iOS and Android devices.</p>


      <p>Email <a href="">[inviter-support-email]</a> if you do not have access to a supported device.</p>


      <p>What to include in your email:</p>
 
      <ul>
        <li>subject line: Apply for Care ID - do not have a supported device</li>
        <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
        <li>this description: The mobile app does not support my device. I am asking for support to continue my application</li>
      </ul>

      

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

    </div>

  </div>
{% endblock %}
