{% extends 'layout.html' %}

{% block pageTitle %}
 Your NHS Care ID application has been cancelled
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your NHS Care ID application has been cancelled
      </h1>

      <p>Your NHS Care ID application has been cancelled and you will not be able to continue using the online service.</p>

      <p>Contact <a href="">[inviter-support-email]</a> if you need to continue with your application.  Include your application ID in all emails. </p>




    </div>

  </div>
{% endblock %}
