{% extends 'layout.html' %}

{% block pageTitle %}
  There is a problem with NHS Care ID application
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There is a problem with your NHS Care ID application
      </h1>

        <p>Photo ID 1 (driving licence):</p>
        <ul>
          <li>does not show both sides</li>
        </ul>

        <p>For your application to be approved, you'll need to:</p>
        <ul>
          <li>take photos of both the front and back of your photo ID</li>
        </ul>

        <h2 class="nhsuk-heading-m">Resubmit your application</h2>

        <p>You will need to start your application again.</p>

        <p>Go to the email with subject line: 'There is a problem with your NHS Care ID application' and select the link to start again. </p>


        <h2 class="nhsuk-heading-m">Help and support </h2>


        <p>Email <a href="">[inviter-support-email]</a> if you need further support or cannot complete your application using the online service.</p>
        <p>What to include in your email:</p>
        <ul>
          <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
          <li>a detailed description of the problem.</li>

        </ul>


      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>


    </div>

  </div>
{% endblock %}
