{% extends 'layout.html' %}

{% block pageTitle %}
  You may already have an NHS Care ID profile
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You may already have an NHS Care ID profile
      </h1>

      <p>There is a record in our system that matches the details you have submitted.</p>

      <p>Email <a href="#">ra-services-birmingham@nhs.net</a> to update your profile.</p>
 
       <p>What to include in your email:</p>
 
       <ul>
         <li>subject line: Apply for Care ID - duplicate profile found</li>
         <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
         <li>this description: A Care ID profile that matches my information has been found. I am asking for support adding the permissions and access I need to this profile.</li>
       </ul>
 
       <h2 class="nhsuk-heading-m">What happens next</h2>

       <p>The team managing your application will respond with instructions on how to get the permissions and access you need added to your existing profile.</p>


      <p class="nhsuk-u-margin-top-8">This is a new service, your <a href="">feedback</a> will help us improve it.</p>

     

    </div>

  </div>
{% endblock %}
