{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter a delivery address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Enter a delivery address</h1>

      <form action="/applicant/v18/step-2/delivery-select" method="post" class="form">       

          <p>This address will be used to send a smartcard, fob or other ID device.</p>

          <p>This could be your home or work address.</p>

          <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="delivery-postcode-1">
                Postcode
              </label>        
            <input class="nhsuk-input nhsuk-input--width-10" id="delivery-postcode-1" name="delivery-postcode-1" type="text" value="{{ data['delivery-postcode-1'] }}">
          </div>
        
        {{ button({
          "text": "Find address"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
