{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter applicant's personal details
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/inviter/v2/invite-details",
    "text": "Back to application",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <form action="/inviter/v2/check-your-answers-resend" method="post" class="form">

      <fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      Enter applicant's personal details
    </h1>
  </legend>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="first-name">
      First name
    </label>
    <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name-2" name="first-name-2" type="text" value="James">
  </div>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="Last name">
      Last name
    </label>
    <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name-2" name="last-name-2" type="text" value="Stenberg">
  </div>


  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="email-address">
      Work email address
    </label>
    <div class="nhsuk-hint" id="email-address-hint">
    This email must be an NHS email or an NHS approved email address from the CIS allow list. We will use this to send the applicant further information about the application.
  </div>
    <input class="nhsuk-input nhsuk-u-width-three-quarters" id="email-address-2" name="email-address-2" type="text" value="james.stenberg@nhs.net">
  </div>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="mobile-number-2">
      Mobile number
    </label>
    <div class="nhsuk-hint" id="mobile-hint">
    This should be a current mobile number. We will use this to send further information about the application.
  </div>
    <input class="nhsuk-input nhsuk-input--width-10" id="mobile-number-2" name="mobile-number-2" type="text" value="079946823098">
  </div>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="ods-code-2">
      ODS code for the applicant's organisation
    </label>
    <div class="nhsuk-hint" id="ods-code-1-hint">
    You can find the organisation's ODS code by <a href="https://odsportal.digital.nhs.uk/Organisation/Search" target="_blank">checking the NHS Digital ODS portal (link opens in a new tab)</a>
  </div>
    <input class="nhsuk-input nhsuk-input--width-5" id="ods-code-2" name="ods-code-2" type="text" value="JN345">
  </div>

</fieldset>

<div class="nhsuk-u-padding-bottom-4"></div>

<fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        <h2 class="nhsuk-fieldset__heading">
          Confirm DBS and right to work checks
        </h2>
      </legend>

      <div class="nhsuk-hint" id="dbs-2-hint">
        Your HR department will be able to inform you if DBS and right to work checks have been done.
      </div>

      <div class="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="dbs-2" name="dbs-2" type="checkbox" value="completed"  {{ checked("dbs-2", "completed") }}>
          <label class="nhsuk-label nhsuk-checkboxes__label" for="dbs-2">
            I confirm Right to Work and DBS checks have been completed
          </label>
        </div>

      </div>
    </fieldset>

<div class="nhsuk-u-padding-bottom-4"></div>

{{ button({
  "text": "Continue",
  "id": "btn_submit"
}) }}


</form>


    </div>

  </div>
{% endblock %}
