{% extends 'layout.html' %}

{% block pageTitle %}
  Application sent
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4 success-alert">

        <div class="nhsuk-card__content success-alert-content">

          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Mobile number updated
          </h1>

          <p class="nhsuk-u-font-size-24">
            Application ID
            <br>
            <strong class="nhsuk-u-font-size-32">08267</strong>
          </p>
        </div>

      </div>

      <h2 class="nhsuk-u-margin-top-7">What happens next</h2>

      <p>The applicant will be sent a new link to an online form to enter their personal details. </p>



    </div>
  </div>
{% endblock %}
