{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Do you have 2 of the following photo IDs?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v4/suitability/mobile",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v4/suitability/id-2" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7" aria-describedby="photo-ids-hint">
              <h1 class="nhsuk-fieldset__heading">
                Select a photo id you have
              </h1>
            </legend>

            <div class="nhsuk-hint" id="photo-ids-hint">
              All photo ids must be in date
            </div>
        
            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="passport-1" name="photo-id-1" type="radio" value="passport" {{ checked("photo-id-1", "passport") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="passport-1">
                  Passport
                </label>
              </div>
      
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="driving-licence-1" name="photo-id-1" type="radio" value="driving-licence" {{ checked("photo-id-1", "driving-licence") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="driving-licence-1">
                  Driving licence (full or provisional)
                </label>
              </div>
      
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="residence-permit-1" name="photo-id-1" type="radio" value="residence-permit"{{ checked("photo-id-1", "residence-permit") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="residence-permit-1">
                  UK Biometric residence permit card
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="armed-forces-1" name="photo-id-1" type="radio" value="armed-forces"{{ checked("photo-id-1", "armed-forces") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="armed-forces-1">
                  HM Armed Forces identity card
                </label>
              </div>

              <div class="nhsuk-radios__divider">or</div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="none-1" name="photo-id-1" type="radio" value="none"{{ checked("photo-id-1", "none") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="none-1">
                  None of the above
                </label>
              </div>
      
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
