{% extends 'layout.html' %}

{% block pageTitle %}
  Manage Invites
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Manage Invites
      </h1>

      <form action="/v2/inviter/create-invite" method="post" class="form">
            <button class="nhsuk-button" type="submit">
              Create an invite
            </button>

            </form>

            <br>

<h2>Find an invite</h2>

<div class="nhsuk-form-group">
          <label class="nhsuk-label" for="searchinput">
            Search by last name or email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20 nhsuk-u-margin-bottom-2" id="searchinput" name="searchinput" type="text" value="">
          <button class="nhsuk-button nhsuk-button--secondary" type="submit" style="padding: 3px 16px 3px 16px;">
            Search
          </button>

        </div>

      </div>

    </div>

        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full">

        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption">2 results for 'Stenberg' found</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Full name
              </th>
              <th role="columnheader" class="" scope="col">
                Email address
              </th>
              <th role="columnheader" class="" scope="col">
                Sender
              </th>
              <th role="columnheader" class="" scope="col">
                Date sent
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name </span><a href="/v2/inviter/invite-details"> Gladys Stenberg</a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Email address</span>gladys.stenberg@nhs.net
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Sender</span>lucy@nhs.net
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Date sent</span>07/06/21
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Status</span><strong class="nhsuk-tag nhsuk-tag--blue">
  In progress
</strong>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name </span><a href="/v2/inviter/invite-details"> James Stenberg</a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Email address</span>james.stenberg@nhs.net
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Sender</span>malcolm@nhs.net
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Date sent</span>10/09/21
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Status</span><strong class="nhsuk-tag nhsuk-tag--white">
  Sent
</strong>
            </tr>

          </tbody>
        </table>


      </div>

      </div>


{% endblock %}
