{% extends 'layout.html' %} 
{% block pageTitle %} 
  Application deleted 
{%endblock %} 
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div
      class="
        nhsuk-card nhsuk-card--confirmation
        nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4
        success-alert
      "
      style="background-color: #f0f4f5"
    >
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__title">Application deleted</h1>
      </div>
    </div>

    <p>
      The application for <strong>{{ data['email-address'] }}</strong> has been
      deleted
    </p>

    <p>
      The applicant will not be able to continue the application with the link
      they received by email.
    </p>

    <div>
      <a href="/v2/inviter/create-invite" class="nhsuk-button">
        New application
      </a>
    </div>

    <p>
      <a href="/v2/inviter/dashboard" class="nhsuk-link">
        Manage applications</a
      >
    </p>
  </div>
</div>
{% endblock %}
