{% extends 'layout.html' %}

{% block pageTitle %}
  Invite sent successfully
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4" style="background-color:#f0f4f5; border-width:4px; border-color:#007f3b;">

        <div class="nhsuk-card__content">

          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Invite sent successfully
          </h1>

          <p class="nhsuk-u-font-size-24">
            Invite ID
            <br>
            <strong class="nhsuk-u-font-size-32">08267</strong>
          </p>
        </div>

      </div>

<p>We have sent an invite to <strong>{{ data['email-address'] }}</strong> </p>

      <h2>What happens next</h2>

      <p>The user has 72 hours to complete their application.</p>

      <p>They will be asked to:</p>

<ul>
<li>Confirm their details</li>
<li>
  Download a mobile app
</li>
<li>
  Take photos of their ID documents and complete a facescan to prove their identity
</li>
</ul>

<p>Their application will undergo automated checks and may be reviewed manually if needed. This should take XX hours.</p>

<p>You will be notified when an ID has been checked and is ready to send to CIS</p>

      <div><a href="/v2/inviter/create-invite" class="nhsuk-button">
        Create another invite
      </a></div>

      <p><a href="/v2/inviter/dashboard" class="nhsuk-link">
        Or manage invites</a></p>



    </div>
  </div>
{% endblock %}
