{% extends 'layout.html' %}

{% block pageTitle %}
  Log in
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v2/inviter/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

              <h1>Log in</h1>

              <p>Info about roles and permissions</p>

              <a href="/v2/inviter/smartcard-passcode" class="nhsuk-button">
                Log in
              </a>

  </div>

  <div>
{% endblock %}
