{% extends 'layout.html' %}

{% block pageTitle %}
  Smartcard application
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        NHS smartcard application
      </h1>


      <p>Use this service to:</p>

      <ul>
        <li>apply for an NHS smartcard for colleagues or employees that need access to NHS systems</li>
        <li>update and manage applications you have submitted</li>
        <li>check the progress of applications</li>
      </ul>

      <p>An NHS smartcard allows people working in or with the NHS to get information they need to do their job.</p>

      <a href="/v2/inviter/log-in" class="nhsuk-button nhsuk-u-margin-bottom-7">
        Start
      </a>

      <h2 class="nhsuk-heading-l">Before you start</h2>

      <p>You will need your own NHS smartcard with roles or permissions that allow you to make a smartcard application for someone else.
</p>

      <p>You will be asked to enter the following information about the applicant:
</p>

<ul>
  <li>name</li>
  <li>email address</li>
  <li>mobile number</li>
  <li>your organisation's <a href="https://odsportal.digital.nhs.uk/Organisation/Search">ODS number</a></li>
</ul>

<p>You will need to ensure your organisation has completed DBS and right to work checks for the applicant.</p>

<h3 class="nhsuk-heading-m">What the applicant needs to provide</h3>

<p>When you have submitted this information online, the person applying for the card will be asked to complete the application.
</p>

<p>This will include an identity check via a mobile app. They will be sent an email with instructions for downloading and using the app.
</p>

<p>The applicant will also need to provide:
</p>

<ul>
  <li>national insurance number</li>
  <li>passport or driving licence</li>
  <li>bank or utility bill</li>
</ul>

<h2 class="nhsuk-heading-l">Get advice and support</h2>

<p>If you need help or support with the application you can contact your <a href="https://digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details"> NHS Trust’s registration authority </a></p>

    </div>

  </div>
{% endblock %}
