{% extends 'layout.html' %}

{% block pageTitle %}
  Service name
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Service name
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <a href="/v2/inviter/log-in" class="nhsuk-button">
        Log in
      </a>


      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you have smartcard access.</p>

      <p>You must have one of the following roles attached to your smartcard</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Who can you send service name invitations to
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Info about eligible applicants</p>
          <p>what info you need about an applicant</p>

        </div>
      </details>

    </div>

  </div>
{% endblock %}
