{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Reject application
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/idchecker/v2/review-id",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/idchecker/v2/dashboard" method="post" class="form">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-2" aria-describedby="reject-2-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Why are you rejecting this photo ID?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="reject-2-hint">
            Select all options that apply
          </div>

          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="duplicate-2" name="reject-2" type="checkbox" value="duplicate">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="duplicate-2">
                Duplicate evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="expired-2" name="reject-2" type="checkbox" value="expired">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="expired-2">
                Expired evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="illegible-2" name="reject-2" type="checkbox" value="illegible">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="illegible-2">
                Illegible evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="incomplete-2" name="reject-2" type="checkbox" value="incomplete">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="incomplete-2">
                Incomplete evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="fraud-2" name="reject-2" type="checkbox" value="fraud">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="fraud-2">
                Suspected fraud
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="unacceptable-2" name="reject-2" type="checkbox" value="unacceptable">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="unacceptable-2">
                Unacceptable evidence
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="other-2" name="reject-2" type="checkbox" value="other" aria-controls="conditional-other-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="other-2">
                Other
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-other-2">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="add-info">
                  Please provide additional information
                </label>
                <textarea class="nhsuk-textarea" id="add-info" name="reject-2" rows="3"></textarea>
              </div>
      
            </div>

          </div>

        </fieldset>

        <button class="nhsuk-button nhsuk-button--secondary delete-button nhsuk-u-margin-top-5"  type="submit">
          Reject
        </button>

      </form>

    </div>
  </div>

{% endblock %}
