{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  A link for the NHS Verify Care ID app has been sent to your mobile
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>
        Placeholder
      </h1>

      <a class="nhsuk-button" href="https://stg.10tix.me/dZyRU9DDwLN5ehxa0B82">Continue</a>
  

    </div>

  </div>
{% endblock %}
