{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  A link for the NHS Verify Care ID app has been sent to your mobile
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <div class="nhsuk-alert nhsuk-alert--info">
        <h3 class="nhsuk-u-visually-hidden">Information:</h3>
        <p class="nhsuk-u-font-weight-bold">Details submitted</p>
      </div>

      <h1>
        A link for the NHS Verify Care ID app has been sent to your mobile
      </h1>

      <p>Use the link that has been sent to your mobile phone number ending <strong>*********5314</strong> to download the secure mobile app.</p>

      

      <p>The app will photograph your ID documents and scan your face to verify your identity.</p>

      <p>You will need:</p>
      <ul>
        <li>your {{ data['passport'] }} {{ data['1-photo-id'] }} {{ data['2-photo-id'] }} {{ data['poa'] }}</li>
      </ul>   

      <p>You must submit your ID documents by <strong>Wednesday 27 December 2023 5pm</strong>.</p>
     
      <p><a href="/applicant/v21/offline/no-mobile">I cannot use a mobile phone to take photos and scan my face</a></p>
      

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I have not received the link
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <p>The link should be sent to you within 5 minutes.</p>

          <p>If you have not received a text message with the link, contact <a href="#">ssd.nationalservicedesk@nhs.net</a> with the subject line “Verify Care ID app link not received".</p>
          <p> Include your application ID in all emails.</p>
        </div>
      </details>

      <p>You can now close this page.</p>
  

    </div>

  </div>
{% endblock %}
