{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  A link for the NHS Verify Care ID app has been sent to your mobile
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>
        A link for the NHS Verify Care ID app has been sent to your mobile
      </h1>

      <p>Use the link that has been sent to your mobile phone number ending <strong>*********5314</strong> to download the secure mobile app.</p>

      

      <p>The app will photograph your ID documents and scan your face to verify your identity.</p>

      <p>You will need:</p>
      <ul>
        <li>your {{ data['passport'] }} {{ data['1-photo-id'] }} {{ data['2-photo-id'] }} {{ data['poa'] }}</li>
      </ul>   

      <p>You must submit your ID documents by <strong>Wednesday 27 December 2023 5pm</strong>.</p>
     
      <p><a href="/applicant/v21/offline/no-mobile">I cannot use a mobile phone to take photos and scan my face</a></p>
      

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I have not received the link
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <p>The link should be sent to you within 5 minutes.</p>

          <p>Email <a href="#">ssd.nationalservicedesk@nhs.net</a> if you have not recieved a text message with a link.</p>

          <p>What to include in your email:</p>

          <ul>
            <li>subject line: Apply for Care ID - mobile app link not received</li>
            <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
          </ul>

        </div>
      </details>

      <p>You can now close this page.</p>
  

    </div>

  </div>
{% endblock %}
