{% extends 'layout.html' %}

{% block pageTitle %}
Take a photo of the back of your driving licence
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success">
        <h1 class="nhsuk-u-visually-hidden">Success:</h1>
        <p class="nhsuk-u-font-weight-bold">Your application has been submitted</p>
      </div>

      <p>We have sent you an email confirmation.</p>
      <p>Your information will now be verified.</p>
      <p>You will be contacted about the outcome of your application within a few working days.</p>
      <p>You may now close this page.</p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

      
    </div>
  </div>


{% endblock %}
