{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>
        Check your answers
      </h2>

      <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['first-name-1'] }} {{ data['middle-name-1'] }} {{ data['last-name-1'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v1/inviter/create-invite">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['email-address'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v1/inviter/create-invite">
        Change<span class="nhsuk-u-visually-hidden"> email address</span>
      </a>

    </dd>

  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Mobile number
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['mobile-number'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v1/inviter/create-invite">
        Change<span class="nhsuk-u-visually-hidden"> mobile number</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Organisation ODS code
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['ods-code'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v1/inviter/create-invite">
        Change<span class="nhsuk-u-visually-hidden"> ods code</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Right to work and DBS checks
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['dbs'] }}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/v1/inviter/create-invite">
        Change<span class="nhsuk-u-visually-hidden"> ods code</span>
      </a>

    </dd>

  </div>


</dl>


      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <p>
        Your details will be...
      </p>

      <a href="/v1/inviter/invite-sent" class="nhsuk-button">
        Submit now
      </a>

    </div>
  </div>
{% endblock %}
