{% extends 'layout.html' %}

{% block pageTitle %}
  How your UK address is verified
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v14/step-1/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        How your UK address is verified
      </h1>

      <p>We'll share your address, name and date or birth with a 3rd party organisation, TransUnion.</p>

      <p>The system will check for connections between your address and organisations like banks, utility providers, local councils and the electoral register.</p>

      <p>Only you will be able to see that this check has been done, and it will not impact your credit score.</p>

      <a class="nhsuk-button" href="/applicant/v14/step-1/address-postcode">Continue</a>



      <p><a href="/applicant/v14/step-1/transunion">Get more information about TransUnion and how your data is used</a></p>

    </div>

  </div>
{% endblock %}
