{% extends 'layout.html' %}

{% block pageTitle %}
  TransUnion
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v14/step-1/dpoa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        How TransUnion verifies your UK address
      </h1>

      <p>We share your name, date of birth and UK address with TransUnion.</p>

      <p>What we check for</p>

      <h2>Who are TransUnion?</h2>

      <p>Placeholder</p>

      <h2>Data </h2>

      <p>Who can see it</p>

      <p>Where is it stored</p>

      <p>How long is it stored for</p>

      <p>Link to full privacy policy and terms and conditions</p>


    </div>

  </div>
{% endblock %}
