{% extends 'layout.html' %}

{% block pageTitle %}
My name does not match my photo IDs
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/dev-ready/dup-check/your-name",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        My name does not match my photo IDs
      </h1>

      <p>If your first name or last name do not match your photo IDs, we may not be able to verify your identity using the online service.</p>

      <p>Email <a href="#">[inviter-support-email]</a> to continue.</p>
 
       <p>What to include in your email:</p>
 
       <ul>
         <li>subject line: Apply for Care ID - my name does not match photo IDs</li>
         <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
         <li>this description: I cannot complete my online application because my name does not match my photo IDs. I am asking for support to continue my application.</li>
       </ul>
 
       <h2 class="nhsuk-heading-m">What happens next</h2>

       <p>The person managing your application will respond with instructions on how to continue your application.</p>

       <ul>
        <li>You may need to attend a face to face meeting</li>
        <li>You may be asked to provide other evidence of your name change, like a marriage certificate, a deed poll or a gender recognition certificate</li>
       </ul>

      <p>For more information about how your data is used, <a href="https://digital.nhs.uk/services/care-identity-service/registration-authority-users/registration-authority-help/privacy-notice">view our terms of use and privacy policy</a>.</p>

      <p class="nhsuk-u-margin-top-8">This is a new service, your <a href="">feedback</a> will help us improve it.</p>
     
    </div>

  </div>
{% endblock %}
