{% extends 'layout.html' %}

{% block pageTitle %}
  Send a security code to your phone
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/test/profile/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Send a security code to your phone
      </h1>

      <p>To continue with the application you will need to enter a 4 digit security code.</p>

      <p>Send the security code to your mobile phone number ending <strong>******7435</strong>.
      </p>



      <a href="/applicant/test/profile/one-time-passcode" class="nhsuk-button">
        Send code
      </a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Mobile number is incorrect
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Contact your manager, Registration Authority agent or application sponsor to get your mobile number updated.</p>

          <p>Use the <a href="https:/digital.nhs.uk/services/registration-authorities-and-smartcards/primary-care-service-provider-contact-details">NHS Trust Registration Authority website</a> to find your Registration Authority manager or agent.</p>

          <p>Email <a href="">enquiries@nhsdigital.nhs.uk</a> for help and support using the website or app to verify your identity.</p>
         
          
        </div>
      </details>

    </div>

  </div>
{% endblock %}
