{% extends 'layout-email.html' %}

{% block pageTitle %}
  Download the NHS Verify Care ID app
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 
      <p class="nhsuk-u-margin-top-5"><strong>From:</strong> NHS-Care-ID</p>
    </div>
  </div>

  <div class="nhsuk-grid-row" >

    <div class="nhsuk-grid-column-one-third email-layout">

      <!-- Add your content here -->

      <div class="nhsuk-u-padding-5">

        <p>Dear [firstName],</p>
        <p>Download the NHS Verify Care ID app: <a href="">[app link]</a></p>
        <p>For technical support contact <a href="">ssd.nationalservicedesk@nhs.net</a>.</p>

        

      </div>


    </div>

  </div>

{% endblock %}
