{% extends 'layout.html' %}

{% block pageTitle %}
  There was a problem displaying your application 
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There was a problem displaying your application 
      </h1>

      <p>Go back to the Apply for Care ID invite email and try selecting the link again.</p>

      <p>Contact <a href="">[inviter-support-email]</a> for support. Include your application ID in all emails.</p>

      <p>Include a detailed description of the problem, this will help us to support you.</p>


    </div>

  </div>
{% endblock %}
