{% extends 'layout.html' %}

{% block pageTitle %}
  Dashboard
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>
        Dashboard
      </h1>

      <ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <p class="nhsuk-u-margin-bottom-1">Queue</p>
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64">4</p>
      </div>
    </div>

  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <p class="nhsuk-u-margin-bottom-1">Holding list</p>
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64">1</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <p class="nhsuk-u-margin-bottom-1">Completed</p>
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64">7</p>
      </div>
    </div>

  </li>
</ul>

      <a href="/v2/idchecker/review-id" class="nhsuk-button">
        Review next ID
      </a>

    </div>

  </div>
{% endblock %}
