{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Provide your address
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v1/applicant/poa-address",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


<form action="#" method="post" class="form">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        What is your address?
      </h1>
    </legend>


    <div class="nhsuk-hint">
        We'll check your address matches... to prove your identity.
      </div>

      <h4 style="margin-bottom:0px;">Postcode</h4>

      <p><strong>{{ data['address-postcode'] }} </strong><a href="/v1/applicant/poa-address">
        Change<span class="nhsuk-u-visually-hidden"> preferred name</span>
      </a></p>




      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Select an address
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">address option 1</option>
          <option value="2" selected>address option 2</option>
          <option value="3" disabled>address option 3</option>
        </select>
      </div>

  </fieldset>

{{ button({
  "text": "Submit",
  "id": "btn_submit"
}) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I can't find my address
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>what to do</p>

        </div>
      </details>


    </div>
  </div>

{% endblock %}
