{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your passport photo before you send it
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v1/applicant/take-photo-passport",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h2>Check your passport photo before you send it</h2>



      <p><a href="#">
        What to do if you are visually impaired</a></p>

        <p>Make sure:</p>

        <ul>
          <li>you can see all 4 corners of the passport page that has your name on it</li>
          <li>you have not covered up any part of the passport with your name on it</li>

        </ul>

        <img src="/images/passport-photo.jpg" style="max-width:600px;width:100%; margin-bottom:16px;">

          <form action="/v1/applicant/spinner-passport" method="post" class="form">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <h2 class="nhsuk-fieldset__heading">
        Is this photo correct?
      </h2>
    </legend>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="check-photo-passport-1" name="check-photo-passport" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="check-photo-passport-1">
          Yes, send this photo
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="check-photo-passport-2" name="check-photo-passport" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="check-photo-passport-2">
          No, I want to take another photo
        </label>
      </div>

  </fieldset>

  <br>

  {{ button({
    "text": "Continue",
    "id": "btn_submit"
  }) }}

  </form>

</div>

    </div>

  </div>
{% endblock %}
