{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose how to send a photo of your bank account statement
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v1/applicant/choose-poa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v1/applicant/take-photo-bank" method="post" class="form">

        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Choose how to send a photo of your bank account statement
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-bank-1" name="format-bank" type="radio" value="take-photo" aria-describedby="take-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="format-bank-1">
                Take a photo on this device
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="format-bank-1-hint">
                        To take a photo on your device, you must have a camera... device info
                      </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="format-bank-2" name="format-bank" type="radio" value="upload-photo" aria-describedby="upload-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="format-bank-2-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
