{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Scan your face
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/v1/applicant/choose-photo-id1",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->



      <h2>Scan instructions</h2>
<p>Follow these steps:</p>

      <p>You must allow us access to your camera for the scan.</p>

      <ol>
        <li>Before you start make sure we can access your device’s camera</li>
        <li>Turn up the screen brightness on your device</li>
        <li>Select start scan and follow the instructions</li>
      </ol>


      <a href="/v1/applicant/scan" class="nhsuk-button">
        Start scan
      </a>



    </div>

  </div>
{% endblock %}
