{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Scan your face
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->


      <div class="nhsuk-grid-row-two-thirds" style="background: #005eb8; padding:24px; margin-bottom:32px;">


        <p class="nhsuk-body-s" style="color: white; margin-bottom:4px;">Step 5 of 6</p>

        <h2 class="nhsuk-heading-l" style="color: white; margin-bottom:0px; padding-top:0px;">Scan your face</h2>
      </div>


      <h2 style="margin-top:0px;">Scan your face</h2>
<p>We need to scan your face using your device’s camera. This is to match your face to your photo I.D.</p>

<p>Follow these steps:</p>

      <ol>
        <li>Before you start make sure we can access your device’s camera</li>
        <li>Turn up the screen brightness on your device</li>
        <li>Select start scan and follow the instructions</li>
      </ol>

      <p><strong>During the scan the screen will flash and change colour.</strong></p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What you can do if flashing lights or colours make you feel unwell
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If flashing lights or colours make you feel unwell, you do not need to do the scan. Instead, you can ????</p>

        </div>
      </details>

      <a href="/v1/applicant/face-scan" class="nhsuk-button">
        Start scan
      </a>



    </div>

  </div>
{% endblock %}
