{% extends 'layout.html' %}

{% block pageTitle %}
  Send a security code to your phone
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v4/start",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Send a security code to your phone
      </h1>

      <p>To continue with the application you will need to enter a 4 digit security code.</p>

      <p>The security code needs to be <strong>used within 15 minutes</strong> from when it is sent.</p>

      <p>This security code will be sent to your mobile phone number ending <strong>0786347435</strong>.</p>

      <form action="/applicant/v4/one-time-passcode" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                Is this mobile number correct?
              </h2>
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="mobile-yes-2" name="mobile-3" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="mobile-yes-2">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="mobile-no-2" name="mobile-3" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="mobile-no-2">
                 No
                </label>
              </div>
        
            </div>
          </fieldset>
        
        </div>


        {{ button({
          "text": "Continue"
        }) }}

      </form>
      

    </div>

  </div>
{% endblock %}
