{% extends 'layout.html' %}

{% block pageTitle %}
  Update your mobiile number
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v4/send-otp",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
      <form action="/applicant/v4/mobile-request" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="mobile-2">
              Update your mobile number
            </label>
          </h1>

          <p>Send a request to update your mobile number.</p>

          

          <div class="nhsuk-hint" id="mobile-2-hint">
            For international numbers include the country code.
            </div>
          <input class="nhsuk-input nhsuk-input--width-10" id="mobile-2" name="mobile-2" type="text" inputmode="tel" aria-describedby="mobile-2-hint" value="{{ data['mobile-2'] }}">
        </div>
        

        {{ button({
          "text": "Submit"
        }) }}

      </form>

      

    </div>

  </div>
{% endblock %}
