{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Choose how to send your photos
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/test/applicant/choose-poa",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Choose how to send photos of your documents</h2>

      <p>To take a photo on your device, you must have a camera... device info</p>

      <form action="#" method="post" class="form">

        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              Passport
            </h1>
          </legend>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="take-photo1" name="format-passport" type="radio" value="take-photo" aria-describedby="take-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="take-photo-hints">
                Take a photo on this device
              </label>

            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="upload-photo1" name="format-passport" type="radio" value="upload-photo" aria-describedby="uk-driving-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="upload-photo-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              UK driving licence
            </h1>
          </legend>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="take-photo2" name="format-uk-driving" type="radio" value="take-photo" aria-describedby="take-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="take-photo-hints">
                Take a photo on this device
              </label>

            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="upload-photo2" name="format-uk-driving" type="radio" value="upload-photo" aria-describedby="uk-driving-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="upload-photo-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        <fieldset class="nhsuk-fieldset" style="margin-bottom:50px;">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              Bank statement
            </h1>
          </legend>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="take-photo3" name="format-bank" type="radio" value="take-photo" aria-describedby="take-photo-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="take-photo-hints">
                Take a photo on this device
              </label>

            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="upload-photo3" name="format-uk-driving" type="radio" value="upload-photo" aria-describedby="uk-driving-hint">
              <label class="nhsuk-label nhsuk-radios__label" for="upload-photo-hints">
                Upload a photo
              </label>
            </div>

          </div>
        </fieldset>


        <br>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
