{% extends 'layout.html' %}

{% block pageTitle %}
  Development prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Development prototypes
      </h1>

     

      <h2>Applicant</h2>
     
        
        <h3 class="nhsuk-u-margin-bottom-3 "><a class="nhsuk-link--no-visited-state" href="/dev-ready/applicant/invite-email">Applicant ready for development prototype</a></h3>

        <p>The ready for development prototype largely aligns with <strong>live</strong>.</p>
        <p>The following areas are still in development:</p>
        <ul>
          <li>Upload profile photo (CIDV-2605)</li>
          <li>Pre-populate preferred name field (CIDV-2479)</li>
          <li>Select driving licence as a proof of address (CIDV-2511)</li>
          <li>Updates to rejection email content (CIDV-2431)</li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
  
        <h3>Complete a duplicate check</h3>
  
        <h4>Start</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/invite-email">Invite email</a></li>
          <li><a href="/dev-ready/applicant/dup-check/start">Find out if you already have an NHS Care ID profile</a></li>
        </ul>
  
        <h4>Enter a security code</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/dup-check/send-code">Send a security code</a></li>
          <li><a href="/dev-ready/applicant/dup-check/security-code">Enter a security code</a></li>
          <li><a href="/dev-ready/applicant/errors/otp-expired">Security code has expired</a></li>
          <li><a href="/dev-ready/applicant/errors/otp-locked">Security code entered incorrectly too many times</a></li>
          <li><a href="/dev-ready/applicant/errors/otp-max-sends">Security code sent too many times</a></li>
        </ul>
  
        <h4>Enter personal details</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/dup-check/your-name">Enter your name</a></li>
          <li><a href="/dev-ready/applicant/dup-check/date-of-birth">Enter your date of birth</a></li>
          <li><a href="/dev-ready/applicant/dup-check/ni-number">Enter your National Insurance number</a></li>
          <li><a href="/dev-ready/applicant/offline/no-ni">I do not have a National Insurance number</a></li>
          <li><a href="/dev-ready/applicant/dup-check/check-your-answers">Check your details</a></li>
          
        </ul>
  
        <h4>Duplicate check results</h4>
        
        <ul>
          <li><a href="/dev-ready/applicant/start-application">You need to apply for a Care ID (no duplicate)</a></li>
          <li><a href="/dev-ready/applicant/offline/dup-failed">You may already have an NHS Care ID profile (duplicate found)</a></li>
          
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
          
  
        <h3>Select how to verify your identity</h3>
  
        <h4>Address check</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-1/dpoa">We are going to verify your address</a></li>
          <li><a href="/dev-ready/applicant/step-1/address-postcode">Enter your postcode</a></li>
          <li><a href="/dev-ready/applicant/step-1/address-select">Select an address</a></li>
          <li><a href="/dev-ready/applicant/step-1/address-manual">Enter your address (manually)</a></li>
        </ul>
  
        <h4>Select ID documents</h4>
        
        <ul>
          <li><a href="/dev-ready/applicant/step-1/passport">Select if you have a passport</a></li>
          <li><a href="/dev-ready/applicant/step-1/1-photo-id">Select a photo ID</a></li>
          <li><a href="/dev-ready/applicant/step-1/poa">Select a proof of address document</a></li>
          <li><a href="/dev-ready/applicant/step-1/2-photo-id">Select 2 photo IDs</a></li>
          <li><a href="/dev-ready/applicant/offline/no-photo-id">I do not have a photo id</a></li>
          <li><a href="/dev-ready/applicant/offline/no-poa">I do not have a proof of address document</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Complete Care ID profile</h3>
  
        <h4>Upload a passport style photo of your face</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-2/start">Set up your NHS Care ID profile (Step 2 of 3)</a></li>
          <li><a href="/dev-ready/applicant/step-2/profile-photo-upload">Upload a passport style photo - desktop</a></li>
          <li><a href="/dev-ready/applicant/step-2/profile-photo-upload-error">Upload a passport style photo - error</a></li>
          <li><a href="/dev-ready/applicant/step-2/profile-photo-review">Review photo</a></li>      
        </ul>
  
        <h4>Name on smartcard</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-2/preferred-name">Enter name on smartcard</a></li>
        </ul>
  
        <h4>Delivery address</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-2/delivery">Select whether to reuse address for delivery</a></li>
          <li><a href="/dev-ready/applicant/step-2/delivery-postcode">Enter delivery postcode</a></li>
          <li><a href="/dev-ready/applicant/step-2/delivery-select">Select a delivery address (from dropdown) </a></li>
          <li><a href="/dev-ready/applicant/step-2/delivery-manual">Enter your delivery address (manually)</a></li>
        </ul>
  
        <h4>Check your details</h4>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-2/check-your-details-dpoa">Check your details (address check version)</a></li>
          <li><a href="/dev-ready/applicant/step-2/check-your-details-poa">Check your details (paper proof of address version)</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Download the app</h3>
  
        <ul>
          <li><a href="/dev-ready/applicant/step-3/download-app">Download the app</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Notifications</h3>
  
        <ul>
          <li><a href="/dev-ready/applicant/invite-email">Invite email</a></li>
          <li><a href="/dev-ready/applicant/sms/security-code">Security code SMS</a></li>
          <li><a href="/dev-ready/applicant/sms/download-app">Download the app link SMS</a></li>
          <li><a href="/dev-ready/applicant/sms/reminder/">Reminder SMS</a></li>
          <li><a href="/dev-ready/applicant/email/reminder">Reminder email</a></li>
          <li><a href="/dev-ready/applicant/sms/retry">Resubmit your application (auto-reject) SMS</a></li>
          <li><a href="/dev-ready/applicant/email/retry">Resubmit your application (auto-reject) email</a></li>
          <li><a href="/dev-ready/applicant/email/approved">Application approved email</a></li>
          <li><a href="/dev-ready/applicant/email/rejected">Application rejected email (all reasons)</a></li>
          <ul class="nhsuk-u-margin-bottom-2">
            <li><a href="/dev-ready/applicant/email/rejected-dpoa">Address check does not meet requirements</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-duplicate">Document is a duplicate</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-expired">Document has expired</a></li>  
            <li><a href="/dev-ready/applicant/email/rejected-missing-info">Document is missing info</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-not-accepted">Documnent is not accepted</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-not-legible">Document is not legible</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-face-scan">Face scan does not match photo IDs</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-smartcard-guidelines">Smartcard photo does not meet guidelines</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-smartcard-blurry">Smartcard photo is too blurry</a></li>
            <li><a href="/dev-ready/applicant/email/rejected-other">Other</a></li>
          </ul>
          <li><a href="/dev-ready/applicant/email/max-attempts">Application rejected too many times email</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Error pages</h3>
  
        <ul>
          <li><a href="/dev-ready/applicant/errors/invite-expired">Invite email link has expired</a></li>
          <li><a href="/dev-ready/applicant/errors/invite-invalid">Invite email link is invalid</a></li>
          <li><a href="/dev-ready/applicant/errors/session-data">Try the invite email link again (problem with session data)</a></li>
          <li><a href="/dev-ready/applicant/errors/invite-link-sent">You need to download the app to continue (user already completed web journey)</a></li>
          <li><a href="/dev-ready/applicant/errors/invite-in-review">Your application has been submitted (user already completed app journey)</a></li>
          <li><a href="/dev-ready/applicant/errors/invite-approved">Your application has been approved (user already approved)</a></li>
          <li><a href="/dev-ready/applicant/errors/invite-rejected">There is a problem with your application (user already been rejected)</a></li>
          <li><a href="/dev-ready/applicant/errors/device-not-supported">Device not supported (for app)</a></li>
          <li><a href="/dev-ready/applicant/offline/no-mobile">I cannot use a mobile phone</a></li>
        </ul>
       
    

     

    </div>
  </div>

{% endblock %}
