{% extends 'layout.html' %}

{% block pageTitle %}
  Development prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Development prototypes
      </h1>

      <h2>Applicant</h2>

      <h3>Set up your NHS Care ID profile</h3>

      <ul>
        <li><a href="/dev-ready/applicant/step-2/start">Set up your NHS Care ID profile (Step 2 of 3)</a></li>
        <li><a href="/dev-ready/applicant/step-2/profile-photo-upload-desktop">Upload a passport style photo - desktop</a></li>
        <li class="nhsuk-u-visually-hidden"><a href="/dev-ready/applicant/step-2/profile-photo-upload-mobile">Upload a passport style photo - mobile</a></li>
        <li><a href="/dev-ready/applicant/step-2/profile-photo-upload-error">Upload a passport style photo - error</a></li>
        <li><a href="/dev-ready/applicant/step-2/profile-photo-review">Review photo</a></li>
        <li><a href="/dev-ready/applicant/step-2/check-your-details-dpoa">Check your details</a></li>
      </ul>


    </div>

  </div>
{% endblock %}
