{% extends 'layout-index.html' %}

{% block pageTitle %}
  Development prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-xl">
        Development prototypes
      </h1>

      <p>The ready for development prototypes largely align with <strong>live</strong>.</p>

      <p class="nhsuk-u-margin-bottom-6">Jira tickets will be listed where features are still in development.</p>
      
      <div class="tab">
       
        <button class="tablinks" onclick="openList(event, 'applicant-2')"  id="defaultOpen">Applicant</button>
        <button class="tablinks" onclick="openList(event, 'inviter-2')">Inviter</button>
        <button class="tablinks" onclick="openList(event, 'idchecker-2')">ID Checker</button>
        <button class="tablinks" onclick="openList(event, 'service-2')">Service Manager</button>
        <button class="tablinks" onclick="openList(event, 'errors-2')">Errors</button>
  
      </div>

       <!-- applicant -->

      <div id="applicant-2" class="tabcontent">

        <h2>Applicant</h2>

        <h3 class="nhsuk-u-margin-bottom-3 "><a class="nhsuk-link--no-visited-state" href="/applicant/dev-ready/invite-email">Applicant ready for development prototype</a></h3>

        
        <p>The following areas are still in development:</p>
        <ul>
          <li>Route users based on address check result (CIDV-2671)</li>
          <li>Pre-populate preferred name field (CIDV-2479)</li>
          <li>Select driving licence as a proof of address (CIDV-2511)</li>
          <li>Updates to rejection email content (CIDV-2431)</li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
  
        <h3>Complete a duplicate check</h3>
  
        <h4>Start</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/invite-email">Invite email</a></li>
          <li><a href="/applicant/dev-ready/dup-check/start">Find out if you already have an NHS Care ID profile</a></li>
        </ul>
  
        <h4>Enter a security code</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/dup-check/send-code">Send a security code</a></li>
          <li><a href="/applicant/dev-ready/dup-check/security-code">Enter a security code</a></li>
          <li><a href="/applicant/dev-ready/errors/otp-expired">Security code has expired</a></li>
          <li><a href="/applicant/dev-ready/errors/otp-locked">Security code entered incorrectly too many times</a></li>
          <li><a href="/applicant/dev-ready/errors/otp-max-sends">Security code sent too many times</a></li>
        </ul>
  
        <h4>Enter personal details</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/dup-check/your-name">Enter your name</a></li>
          <li><a href="/applicant/dev-ready/dup-check/date-of-birth">Enter your date of birth</a></li>
          <li><a href="/applicant/dev-ready/dup-check/ni-number">Enter your National Insurance number</a></li>
          <li><a href="/applicant/dev-ready/offline/no-ni">I do not have a National Insurance number</a></li>
          <li><a href="/applicant/dev-ready/dup-check/check-your-answers">Check your details</a></li>
          
        </ul>
  
        <h4>Duplicate check results</h4>
        
        <ul>
          <li><a href="/applicant/dev-ready/start-application">You need to apply for a Care ID (no duplicate)</a></li>
          <li><a href="/applicant/dev-ready/offline/dup-failed">You may already have an NHS Care ID profile (duplicate found)</a></li>
          
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
          
  
        <h3>Select how to verify your identity</h3>
  
        <h4>Address check</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-1/uk">Do you have a UK address</a></li>
          <li><a href="/applicant/dev-ready/step-1/dpoa">We are going to verify your address</a></li>
          <li><a href="/applicant/dev-ready/step-1/address-postcode">Enter your postcode</a></li>
          <li><a href="/applicant/dev-ready/step-1/address-select">Select an address</a></li>
          <li><a href="/applicant/dev-ready/step-1/address-manual">Enter your address (manually)</a></li>
          <li><a href="/applicant/dev-ready/step-1/check-your-address">Check your address</a></li>
        </ul>
  
        <h4>Select ID documents</h4>
        
        <ul>
          <li><a href="/applicant/dev-ready/step-1/passport">Select if you have a passport</a></li>
          <li><a href="/applicant/dev-ready/step-1/1-photo-id">Select a photo ID</a></li>
          <li><a href="/applicant/dev-ready/step-1/poa">Select a proof of address document</a></li>
          <li><a href="/applicant/dev-ready/step-1/dpoa-0">Select a proof of address document (after address check fail)</a></li>
          <li><a href="/applicant/dev-ready/step-1/2-photo-id">Select 2 photo IDs</a></li>
          <li><a href="/applicant/dev-ready/offline/no-photo-id">I do not have a photo id</a></li>
          <li><a href="/applicant/dev-ready/offline/no-poa">I do not have a proof of address document</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Complete Care ID profile</h3>
  
        <h4>Upload a passport style photo of your face</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-2/start">Set up your NHS Care ID profile (Step 2 of 3)</a></li>
          <li><a href="/applicant/dev-ready/step-2/profile-photo-upload">Upload a passport style photo - desktop</a></li>
          <li><a href="/applicant/dev-ready/step-2/profile-photo-upload-error">Upload a passport style photo - error</a></li>
          <li><a href="/applicant/dev-ready/step-2/profile-photo-review">Review photo</a></li>      
        </ul>
  
        <h4>Name on smartcard</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-2/preferred-name">Enter name on smartcard</a></li>
        </ul>
  
        <h4>Delivery address</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-2/delivery">Select whether to reuse address for delivery</a></li>
          <li><a href="/applicant/dev-ready/step-2/delivery-postcode">Enter delivery postcode</a></li>
          <li><a href="/applicant/dev-ready/step-2/delivery-select">Select a delivery address (from dropdown) </a></li>
          <li><a href="/applicant/dev-ready/step-2/delivery-manual">Enter your delivery address (manually)</a></li>
        </ul>
  
        <h4>Check your details</h4>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-2/check-your-details-dpoa">Check your details (address check version)</a></li>
          <li><a href="/applicant/dev-ready/step-2/check-your-details-poa">Check your details (paper proof of address version)</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Download the app</h3>
  
        <ul>
          <li><a href="/applicant/dev-ready/step-3/download-app">Download the app</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Notifications</h3>
  
        <ul>
          <li><a href="/applicant/dev-ready/invite-email">Invite email</a></li>
          <li><a href="/applicant/dev-ready/sms/security-code">Security code SMS</a></li>
          <li><a href="/applicant/dev-ready/sms/download-app">Download the app link SMS</a></li>
          <li><a href="/applicant/dev-ready/sms/reminder/">Reminder SMS</a></li>
          <li><a href="/applicant/dev-ready/email/reminder">Reminder email</a></li>
          <li><a href="/applicant/dev-ready/sms/retry">Resubmit your application (auto-reject) SMS</a></li>
          <li><a href="/applicant/dev-ready/email/retry">Resubmit your application (auto-reject) email</a></li>
          <li><a href="/applicant/dev-ready/email/approved">Application approved email</a></li>
          <li><a href="/applicant/dev-ready/email/rejected">Application rejected email (all reasons)</a></li>
          <ul class="nhsuk-u-margin-bottom-2">
            <li><a href="/applicant/dev-ready/email/rejected-dpoa">Address check does not meet requirements</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-duplicate">Document is a duplicate</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-expired">Document has expired</a></li>  
            <li><a href="/applicant/dev-ready/email/rejected-missing-info">Document is missing info</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-not-accepted">Document is not accepted</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-not-legible">Document is not legible</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-face-scan">Face scan does not match photo IDs</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-smartcard-guidelines">Smartcard photo does not meet guidelines</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-smartcard-blurry">Smartcard photo is too blurry</a></li>
            <li><a href="/applicant/dev-ready/email/rejected-other">Other</a></li>
          </ul>
          <li><a href="/applicant/dev-ready/email/max-attempts">Application rejected too many times email</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  
        <h3>Error pages</h3>
  
        <ul>
          <li><a href="/applicant/dev-ready/errors/invite-expired">Invite email link has expired</a></li>
          <li><a href="/applicant/dev-ready/errors/invite-invalid">Invite email link is invalid</a></li>
          <li><a href="/applicant/dev-ready/errors/session-data">Try the invite email link again (problem with session data)</a></li>
          <li><a href="/applicant/dev-ready/errors/invite-link-sent">You need to download the app to continue (user already completed web journey)</a></li>
          <li><a href="/applicant/dev-ready/errors/invite-in-review">Your application has been submitted (user already completed app journey)</a></li>
          <li><a href="/applicant/dev-ready/errors/invite-approved">Your application has been approved (user already approved)</a></li>
          <li><a href="/applicant/dev-ready/errors/invite-rejected">There is a problem with your application (user already been rejected)</a></li>
          <li><a href="/applicant/dev-ready/errors/device-not-supported">Device not supported (for app)</a></li>
          <li><a href="/applicant/dev-ready/offline/no-mobile">I cannot use a mobile phone</a></li>
        </ul>

      </div>

       <!-- inviter -->

      <div id="inviter-2" class="tabcontent">
        <h2>Inviter</h2>
        <h3 class="nhsuk-u-margin-bottom-3 "><a class="nhsuk-link--no-visited-state" href="/inviter/dev-ready/start">Inviter ready for development prototype</a></h3>

        
        <p>The following areas are still in development:</p>
        <ul>
          <li>Update inviter start page (CIDV-2583)</li>
          <li>Update inviter notes field (CIDV-2582)</li>
          <li>Mark approved, duplicate and rejected applications as done (CIDV-2518)</li>
          <li>Cancel multiple applications (CIDV-2443)</li>
          <li>Update rejection reasons content (CIDV-2431)</li>
          <li>Show ID checker approval notes in tab view (CIDV-2658)</li>
          <li>Contact email address and Help for applicant email address bugs (CIDV-2517)</li>
          <li>Enter applicant details error validation bug (CIDV-2360)</li>
          <li>Search filters width bug (CIDV-2352)</li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
  
        <h3>Log in</h3>
  
        <ul>
          <li><a href="/inviter/dev-ready/start">Start page</a></li>
          <li><a href="/inviter/dev-ready/log-in">Log in</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Dashboard</h3>

        <ul>
          <li><a href="/inviter/dev-ready/dashboard">Manage applications dashboard</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">


        <h3>Create new application</h3>

        <ul>
          <li><a href="/inviter/dev-ready/enter-details">Enter applicant details</a></li>
          <li><a href="/inviter/dev-ready/enter-details-error">Enter applicant details - error</a></li>
          <li><a href="/inviter/dev-ready/personal-email">Confirm this email address (personal email)</a></li>
          <li><a href="/inviter/dev-ready/check-your-answers">Check details</a></li>
          <li><a href="/inviter/dev-ready/application-sent">Application created</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">


        <h3>Upload multiple applications</h3>

        <ul>
          <li><a href="/inviter/dev-ready/upload-file">Upload multiple applications</a></li>
          <li><a href="/inviter/dev-ready/upload-file-error-1">Upload file - file size error</a></li>
          <li><a href="/inviter/dev-ready/upload-file-error-2">Upload file - all applications could not be sent error</a></li>
          <li><a href="/inviter/dev-ready/upload-file-error-3">Upload file - some applications could not be sent error</a></li>
          <li><a href="/inviter/dev-ready/upload-file-error-4">Upload file - system error</a></li>
          <li><a href="/inviter/dev-ready/bulk-sent">Multiple applications created</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Application details</h3>

        <ul>
          <li><a href="/inviter/dev-ready/applications/in-progress">In progress</a></li>
          <li><a href="/inviter/dev-ready/applications/expired">Invite email expired</a></li>
          <li><a href="/inviter/dev-ready/applications/bounced">Invite email could not be sent</a></li>
          <li><a href="/inviter/dev-ready/applications/duplicate">Duplicate found</a></li>
          <li><a href="/inviter/dev-ready/applications/cancelled">Cancelled</a></li>
          <li><a href="/inviter/dev-ready/applications/approved">Approved</a></li>
          <li><a href="/inviter/dev-ready/applications/approved">Approved - marked as done</a></li>
          <li><a href="/inviter/dev-ready/applications/rejected">Rejected</a></li>
          <li><a href="/inviter/dev-ready/applications/max-attempts">Auto-rejected too many times</a></li>       
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Cancel applications</h3>

        <ul>
          <li><a href="/inviter/dev-ready/cancel-application">Cancel single application</a></li>
          <li><a href="/inviter/dev-ready/cancel-applications">Cancel multiple application</a></li>
          <li><a href="/inviter/dev-ready/application-cancelled">Application cancelled</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Search applications</h3>

        <ul>
          <li><a href="/inviter/dev-ready/all-applications">Search all applications</a></li>
          <li><a href="/inviter/dev-ready/search-results">Search results</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Settings</h3>

        <h4>First time set up</h4>

        <ul>
          <li><a href="/inviter/dev-ready/dashboard-settings">Dashboard with Settings alert</a></li>  
          <li><a href="/inviter/dev-ready/before-you-start">Before you start</a></li>
          <li><a href="/inviter/dev-ready/alerts-set">Enter contact email address</a></li>
          <li><a href="/inviter/dev-ready/alerts-verify">Verify contact email address</a></li>
          <li><a href="/inviter/dev-ready/support-set">Select a Help for applicants email address</a></li>
          <li><a href="/inviter/dev-ready/support-verify">Verify contact email address</a></li>
          <li><a href="/inviter/dev-ready/enter-details-settings">Settings saved (Enter applicant details)</a></li>
        </ul>

        <h4>Update settings</h4>

        <ul>
          <li><a href="/inviter/dev-ready/settings">Settings</a></li>
          <li><a href="/inviter/dev-ready/alerts-update">Enter contact email address</a></li>
          <li><a href="/inviter/dev-ready/alerts-reverify">Verify contact email address</a></li>
          <li><a href="/inviter/dev-ready/support-update">Select a Help for applicants email address</a></li>
          <li><a href="/inviter/dev-ready/support-reverify">Verify contact email address</a></li>  
        </ul>


        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Help</h3>

        <ul>
          <li><a href="/inviter/dev-ready/help">Help</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Email notifications</h3>

        <ul>
          <li><a href="/inviter/dev-ready/email/application-expired">Invite email expired</a></li>
          <li><a href="/inviter/dev-ready/email/application-bounced">Invite email could not be sent</a></li>
          <li><a href="/inviter/dev-ready/email/application-locked">Application locked (security code error)</a></li>
          <li><a href="/inviter/dev-ready/email/security-code">Security code for verifying email address</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      </div>

      <!-- id checker -->

      <div id="idchecker-2" class="tabcontent">
        <h2>ID Checker</h2>
        <h3 class="nhsuk-u-margin-bottom-3 "><a class="nhsuk-link--no-visited-state" href="/idchecker/dev-ready/dashboard">ID Checker ready for development prototype</a></h3>

        
        <p>The following areas are still in development:</p>
        <ul>
          <li>Change default sort order for waiting for review and on hold applications to oldest first (CIDV-2659)</li>
          <li>Display time stamps on applications (CIDV-2665)</li>
          <li>Add sort options to list views (CIDV-2669)</li>
          <li>Improve ID checker error validation and error message display (CIDV-2368)</li>
          <li>Display face likeness values by default (CIDV-2664)</li>
          <li>View more information in application summaries (CIDV-2495)</li>
          <li>Tidy up list views (CIDV-2670)</li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
        <h3>ID Checker dashboard</h3>
  
        <ul>
          <li><a href="/idchecker/dev-ready/dashboard">ID Checker dashboard</a></li>
          <li><a href="/idchecker/dev-ready/lists/waiting">Waiting for review list</a></li>
          <li><a href="/idchecker/dev-ready/lists/holding">On hold list</a></li>
          <li><a href="/idchecker/dev-ready/lists/approved">Approved list</a></li>
          <li><a href="/idchecker/dev-ready/lists/rejected">Rejected list</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Review applications</h3>
  
        <ul>
          <li><a href="/idchecker/dev-ready/applications/dpoa-pass">Review application - includes address check</a></li>
          <li><a href="/idchecker/dev-ready/applications/dpoa-fail">Review application - address check warning</a></li>
          <li><a href="/idchecker/dev-ready/applications/dpoa-holding">Review on hold application - includes paper proof of address</a></li>
          <li><a href="/idchecker/dev-ready/applications/approved">View approved application</a></li>
          <li><a href="/idchecker/dev-ready/applications/rejected">View rejected application</a></li>
          <li><a href="/idchecker/dev-ready/applications/error-1">Review application - radio button not selected error</a></li>
          <li><a href="/idchecker/dev-ready/applications/error-4">Review application - rejection checkbox not selected error</a></li>
        </ul>

        <h4>Reject an application</h4>

        <ul>
          <li><a href="/idchecker/dev-ready/reject-application">Reject application</a></li>
        </ul>

        <h4>Approve an application</h4>

        <ul>
          <li><a href="/idchecker/dev-ready/confirm-details">Confirm document details</a></li>
          <li><a href="/idchecker/dev-ready/create-error">Error creating CIS profile</a></li>
        </ul>

        <h4>Move application to on hold</h4>

        <ul>
          <li><a href="/idchecker/dev-ready/move-to-holding">Move to on hold</a></li>
          <li><a href="/idchecker/dev-ready/new-note">Add note to on hold application</a></li>
          <li><a href="/idchecker/dev-ready/update-hold-note">Update note on hold application</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Search ID checker applications</h3>

        <ul>
          <li><a href="/idchecker/dev-ready/search-idchecker">Search ID checker</a></li>
          <li><a href="/idchecker/dev-ready/search-results">Search results</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

       
      </div>

       <!-- service manager -->

      <div id="service-2" class="tabcontent">
        <h2>Service Manager</h2>
        <h3 class="nhsuk-u-margin-bottom-3 "><a class="nhsuk-link--no-visited-state" href="/service/dev-ready/dashboard">Service Manager ready for development prototype</a></h3>

        
        <p>The following areas are still in development:</p>
        <ul>
          <li>Cancel applications (CIDV-2417)</li>
          <li>Overturn a rejection (CIDV-2081)</li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
        <h3>Service Manager dashboard</h3>
  
        <ul>
          <li><a href="/service/dev-ready/dashboard">Service Manager dashboard</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Service Manager actions</h3>

        <h4>View application payload</h4>
  
        <ul>
          <li><a href="/service/dev-ready/payload">Enter application ID to view payload</a></li>
        </ul>

        <h4>Cancel an application</h4>

        <ul>
          <li><a href="/service/dev-ready/cancel">Enter application ID to cancel application</a></li>
          <li><a href="/service/dev-ready/cancel-error">Application cannot be cancelled error</a></li>
          <li><a href="/service/dev-ready/cancel-reason">Select reason for cancelling</a></li>
          <li><a href="/service/dev-ready/cancelled">Application cancelled</a></li>
        </ul>

        <h4>Retry Xydus approval</h4>

        <ul>
          <li><a href="/service/dev-ready/approval-retry">Enter application ID to retry Xydus approval</a></li>
          <li><a href="/service/dev-ready/approval-retry-error">Application cannot be approved again error</a></li>
          <li><a href="/service/dev-ready/approved">Application approved from Xydus</a></li>
        </ul>

        <h4>Rsend Xydus app link</h4>

        <ul>
          <li><a href="/service/dev-ready/resend-link">Enter application ID to resend Xydus app link SMS</a></li>
          <li><a href="/service/dev-ready/resent">Xydus app link SMS resent</a></li>
        </ul>

        <h4>Approve a rejected application</h4>

        <ul>
          <li><a href="/service/dev-ready/overturn-rejection">Enter application ID to approve a rejection application</a></li>
          <li><a href="/service/dev-ready/overturn-reason">Add reason for approving</a></li>
          <li><a href="/service/dev-ready/overturn-approved">Application approved</a></li>
        </ul>




       
      </div>

       <!-- errors -->

       <div id="errors-2" class="tabcontent">
        <h2>Error and supprting page</h2>
  
        <p>The following areas are still in development:</p>
        <ul>
          <li>Set cookie preferences (CIDV-2572) </li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Service outages</h3>
  
        <ul>
          <li><a href="/errors/dev-ready/404">Page not found</a></li>
          <li><a href="/errors/dev-ready/500">There is a problem with our service</a></li>
          <li><a href="/errors/dev-ready/503-maintenance">Service is unavailable (for maintenance) </a></li>
          <li><a href="/errors/dev-ready/503-outage">Service is unavailable</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
 
        <h3>Access and time outs</h3>
  
        <ul>
          <li><a href="/errors/dev-ready/401">Access denied</a></li>
          <li><a href="/errors/dev-ready/timeout-warning">Time out warning</a></li>
          <li><a href="/errors/dev-ready/time-out">Timed out</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3>Cookies</h3>
  
        <ul>
          <li><a href="/errors/dev-ready/cookie-banner">Cookie banner</a></li>
          <li><a href="/errors/dev-ready/cookies">Cookies</a></li>
          <li><a href="/errors/dev-ready/cookies-saved">Cookie preferences saved</a></li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

             
      </div>
     
        
        
       
    

     

    </div>
  </div>

  <script>
    function openList(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

{% endblock %}
