<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Apply for Care ID
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Research prototypes
      </h1>

      <p>Research prototypes are split out by service area.</p>

      <div class="tab">
        <button class="tablinks" onclick="openList(event, 'inviter')" id="defaultOpen">Inviter</button>
        <button class="tablinks" onclick="openList(event, 'applicant')">Applicant</button>
        <button class="tablinks" onclick="openList(event, 'app')">Mobile app</button>
        <button class="tablinks" onclick="openList(event, 'idchecker')">ID Checker</button>
        <button class="tablinks" onclick="openList(event, 'service')">Service Manager</button>   
      </div>

      <div id="inviter" class="tabcontent">
        <h2>Inviter</h2>
        <h4><a class="nhsuk-link--no-visited-state" href="/inviter/v9/dashboard">v9 (updated navigation menu) </a></h4>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-u-reading-width">Updated navigation link style and added a 'mark as done' feature to the approved tab.</p>
        <p class="nhsuk-body-s grey-text">Last updated: June 2023</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-7">
          <caption class="nhsuk-table__caption">Previous versions</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Version
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
                Last updated
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v8/dashboard">v8</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Added a 'verify email' loop for support and notification email addresses, cancel multiple applications, duplicate tab, download report button
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>March 2023
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v7/dashboard">v7</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Bounced email handling and various updates to the dashboard display.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>November 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v6/dashboard">v6</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Set alert preferences and collect inviter support email address.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>November 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v5/dashboard">v5</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Added tabs, multi action and change roles. Updated application details display.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>October 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v4/dashboard">v4</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Dashboard, search and list view updates based on RA hypotheses and pain points.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>July 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v3/dashboard">v2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Added a batch invite feature using a file upload.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>July 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v2/dashboard">v2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>'What applicant needs' field added to create invite.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>February 2022
              </td>
            </tr> 
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/inviter/v1/dashboard">v1</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Basic inviter journey including create, edit and delete invites.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>January 2022
              </td>
            </tr> 
        
          </tbody>
        </table>
      </div>

      <div id="applicant" class="tabcontent">
        <h2>Applicant</h2>
        <h4><a class="nhsuk-link--no-visited-state" href="/applicant/v15/invite-email">v15 (profile photo upload words) </a></h4>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-u-reading-width">Removed take a photo option and updated start page content.</p>
        <p class="nhsuk-body-s grey-text">Last updated: July 2023</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-7">
          <caption class="nhsuk-table__caption">Previous versions</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Version
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
                Last updated
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v14/invite-email">v14</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span><p>Routing to select additional documents if address check is not strong enough. </p> 
                <ul>
                  <li><a href="/applicant/v14/start-application">Application start page (after duplicate check)</a></li>
                  <li><a href="/applicant/v14/step-1/passport">Address check pass</a></li>
                  <li><a href="/applicant/v14/step-1/dpoa-0">Address check fail</a></li>
                </ul>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>July 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v13/invite-email">v13</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Upload a profile photo on desktop or mobile. Includes updates to photo guidance.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>June 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v12/invite-email">v12</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Updates to profile photo content
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>May 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v11/invite-email">v11</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Transition to mobile using QR code and take a profile photo using a mobile phone. Includes updates to dpoa guidance content.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>April 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v10/invite-email">v10</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Reordered address check pages and updated supporting content
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>February 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v9/invite-email">v9</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Change to doc selection to prioritise passport and updates to content.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>January 2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v8/invite-email">v8</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Address check. Updates to preferred name content.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>November 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v7/invite-email">v7</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Upfront duplicate check, with application after. Includes smartcard photo capture.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>October 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v6/invite-email">v6</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Select doc combos and confirm eligiblity to use the service. 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>October 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v5/invite-email">v5</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span><p>Updated content with deadlines, accepted documents and smartcard variants</p> 
                <ul>
                  <li><a class="nhsuk-link--no-visited-state" href="/applicant/v5/smartcard/email">Smartcard photo retry loop: mobile</a></li>
                  <li><a class="nhsuk-link--no-visited-state" href="/applicant/v5/smartcard/desktop/email">Smartcard photo retry loop: desktop</a></li>
                </ul>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>September 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v4/invite-email">v4</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span><p>Address lookup, seperate page for preferred name and content updates</p> 
                <p><a class="nhsuk-link--no-visited-state" href="/applicant/v4/non-js/invite-email">Javascript disabled flow</a> </p>
                <p>Unhappy paths:</p>
                <ul>
                  <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/expired/invite-email">Invite expired journey</a></li>
                  <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/dup-check/invite-email">Duplicate check failed journey</a></li>
                  <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/email/mobile-app-link">Device not supported journey</a></li>
                </ul>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>June 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v3/invite-email">v3</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Download app page updated to automated SMS send. Postal address screens added.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>March 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/applicant/v2/invite-email">v2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Basic applicant journey including email, security code, personal details and handover to paycasso.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>January 2022
              </td>
            </tr>
        
          </tbody>
        </table>
      </div>

      <div id="app" class="tabcontent">
        <h2>Mobile app</h2>
        <h4><a class="nhsuk-link--no-visited-state" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=6822%3A17507&type=design&node-id=6822-17582&viewport=372%2C300%2C0.06&t=Giw42z6hkUnItju7-1&scaling=min-zoom&starting-point-node-id=6822%3A17582&show-proto-sidebar=1&mode=design">v4 (conditional journeys based on user selection) </a></h4>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-u-reading-width">User downloads completes a different journey depending on which ID documents they have selected.</p>
        <p class="nhsuk-body-s grey-text">Last updated: February 2022</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-7">
          <caption class="nhsuk-table__caption">Previous versions</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Version
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
                Last updated
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5746%3A10617&node-id=5746%3A17092&viewport=5525%2C2444%2C0.86&scaling=min-zoom&starting-point-node-id=5746%3A17092">v3</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Removed passport signature flow, added a smartcard photo warning and updated e-chip instructions.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>September 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5797%3A12571&node-id=5798%3A14450&viewport=500%2C625%2C0.07&scaling=min-zoom&starting-point-node-id=5798%3A14450">v2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Usability fixes. Incorporates findings and changes from v1.1 - v1.3.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>June 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5139%3A6488&node-id=5139%3A19546&viewport=294%2C384%2C0.04&scaling=min-zoom&starting-point-node-id=5139%3A19546">v1.3</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Graphics and heading only version used for comprehension testing
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>June 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=4856%3A8987&node-id=4856%3A24861&viewport=2727%2C1425%2C0.52&scaling=min-zoom&starting-point-node-id=4856%3A22149">v1.2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Updates made to passport capture flow and added successfully submitted screens. 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>May 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=4513%3A10924&node-id=4513%3A10985&viewport=-114%2C797%2C0.34&scaling=min-zoom&starting-point-node-id=4513%3A24080">v1.1</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Updates made to content and graphics to improve usability.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>May 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/NHS-Verify-Care-ID-v1?page-id=3883%3A4449&node-id=3883%3A4537&viewport=241%2C48%2C0.35&scaling=min-zoom&starting-point-node-id=3893%3A20831">v1</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Basic app journey. Matches the version of the app we went live with.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>January 2022
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>

      <div id="idchecker" class="tabcontent">
        <h2>ID Checker</h2>
        <h4><a class="nhsuk-link--no-visited-state" href="/idchecker/v4/dashboard">v4 (review address check) </a></h4>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-u-reading-width">Includes address check as an evidence type, search function and updates to rejection reasons.</p>
        <p class="nhsuk-body-s grey-text">Last updated: July 2023</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-7">
          <caption class="nhsuk-table__caption">Previous versions</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Version
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
                Last updated
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/idchecker/v3/dashboard">v3</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Includes Xydus response codes and allow ID checkers to select multiple rejection reasons
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>June 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/idchecker/v2/dashboard">v2</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Allow ID checkers to review and edit document details transferred to CIS/CIM.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>May 2022
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Version</span><a href="/idchecker/v2/dashboard">v1</a> 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Description</span>Basic ID checker journey including review application, and holding list.
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>February 2022
              </td>
            </tr>
        
          </tbody>
        </table>
      </div>

      <div id="service" class="tabcontent">
        <h2>Service Manager</h2>
        <h4><a class="nhsuk-link--no-visited-state" href="/service/v1/dashboard">v1 (Service manager) </a></h4>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-u-reading-width">Includes view payload, cancel application, retry Xydus approval and resend app link.</p>
        <p class="nhsuk-body-s grey-text">Last updated: July 2023</p>
      </div>

      <p class="nhsuk-u-margin-top-7"><a href="/dev-ready">View development prototypes</a></p>
    

  
      <!-- End of content -->

    </div>
  </div>

  <script>
  function openList(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}
