<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  CIS2 - Apply for Care ID
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h1 class="nhsuk-u-margin-bottom-5">
        Apply for Care ID
      </h1>

      <p class="nhsuk-body-l">Prototypes for the Apply for Care ID service (SSR project).</p>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#inviter">Inviter</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#applicant">Applicant</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#paycasso">Paycasso</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#id-checker">ID Checker</a>
          </li>
        </ol>
      </nav>

      <h2 class="nhsuk-u-margin-top-7" id="inviter">Inviter</h2>

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/inviter/v2/start">Inviter journey (v2)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></li>
      </ul>

      <p>'What applicant needs' field added to create invite. Content updated to align with service name, business rules and UR findings.</p>
      <p class="nhsuk-body-s">Last updated: February 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/inviter/v1/start">Inviter journey (v1)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--blue">Shipped</strong></li>
      </ul>

      <p>Basic inviter journey including create, edit and delete invites.</p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <h2 class="nhsuk-u-margin-top-7" id="applicant">Applicant</h2>

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/applicant/v4/invite-email">Preferred name and address lookup (v4)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--orange">Development</strong></li>
      </ul>

      <p>Address lookup, seperate page for preferred name, incorrect mobile number flow. word</p>
      <p class="nhsuk-body-s">Last updated: 20 April 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/applicant/v3/invite-email">Manual address entry (v3)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></li>
      </ul>

      <p>Download app page updated to automated SMS send. Postal address screens added. Content updated to align with service name, business rules and improve user experience.</p>

      <p> <a href="https://hscic365.sharepoint.com/:p:/r/sites/Self-ServiceStaffRegistration/_layouts/15/Doc.aspx?sourcedoc=%7B3344DB45-1A97-4D4C-B58D-3C2C188C92FB%7D&file=Sprint%2011%20write%20up.pptx&action=edit&mobileredirect=true&cid=1ffc6eda-1f47-471a-8f5a-595dbc61859c" target="_blank" >Sprint 11 research findings (opens in a new tab)</a></p>
      <p class="nhsuk-body-s">Last updated: March 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/applicant/v2/invite-email">Applicant journey (v2)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--blue">Shipped</strong></li>
      </ul>

      <p>Basic applicant journey including email, security code, personal details and handover to paycasso.</p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <h2 class="nhsuk-u-margin-top-7" id="paycasso">Paycasso</h2>

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/NHS-Verify-Care-ID-v1?page-id=3883%3A4449&node-id=3883%3A4537&viewport=241%2C48%2C0.35&scaling=min-zoom&starting-point-node-id=3893%3A20831" target="_blank">Paycasso app (v1) (opens in new tab)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></li>
      </ul>
      <p>Basic app journey.</p>
      <p><a href="https://hscic365.sharepoint.com/:p:/r/sites/Self-ServiceStaffRegistration/_layouts/15/Doc.aspx?sourcedoc=%7B20B3E822-4F34-436A-A1E2-608405DA855F%7D&file=Sprint%2012%20write%20up%20AfCID.pptx&action=edit&mobileredirect=true&cid=803ebea4-3fa6-4df1-a6c1-b0fd638e3367" target="_blank">Sprint 12 research findings (opens in new tab)</a></p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">


      <h2 class="nhsuk-u-margin-top-7" id="id-checker">ID checker</h2>

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/idchecker/v3/start">Paycasso response codes (v3)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--red">Design</strong></li>
      </ul>

      <p>Add more information for ID checkers and allow them to select multiple rejection reasons.</p>
      <p class="nhsuk-body-s">Last updated: April 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/idchecker/v2/start">Review and update id details (v2)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></li>
      </ul>

      <p>Allow ID checkers to review and edit document details transferred to CIS/CIM.</p>
      <p class="nhsuk-body-s">Last updated: March 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <ul class="nhsuk-u-padding-left-0">
        <li style="display:inline;" class="nhsuk-body-l nhsuk-u-font-weight-bold"><a class="nhsuk-link--no-visited-state" href="/idchecker/v2/start">ID checker (v1)</a> </li>
        <li style="display:inline; float:right;"><strong class="nhsuk-tag nhsuk-tag--blue">Shipped</strong></li>
      </ul>

      <p>Basic ID checker journey including review application, and holding list.</p>
      <p class="nhsuk-body-s">Last updated: February 2022</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
  

  
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
