<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  SSR
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h1>
        SSR Prototype
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-card">
  <div class="nhsuk-card__content">
  <p> <strong class="nhsuk-tag--orange">
  In progress
</strong>
</p>
    <h3 class="nhsuk-card__heading">
      Test
    </h3>

    <p>Ideas and experiments for how we might improve the user journey</p>

    <h4>Applicant journey</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="/test/applicant/choose-photo-id1">Consolidated choosing ID and format screens</a></li>
            <li><a href="/test/applicant/choose-formats">Consolidated format screen hello</a></li>

      </ul>

    <p class="nhsuk-body-s">last updated: 21st October 2021</p>

  </div>
</div>

      <div class="nhsuk-card">
  <div class="nhsuk-card__content">
  <p> <strong class="nhsuk-tag--green">
  Stable
</strong>
</p>
    <h3 class="nhsuk-card__heading">
      Version 1
    </h3>

    <p>Updated screens, content and user flow based on the heuristic review</p>
    <p>Follows a linear journey, with one action per screen</p>

    <h4>Applicant journey</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="/v1/applicant/invite-email">Start (email invite)</a></li>
          <li><a href="/v1/applicant/your-name">Confirm your deatils</a></li>
          <li><a href="/v1/applicant/choose-photo-id1">Photo IDs</a></li>
          <li><a href="/v1/applicant/choose-poa">Proof of address</a></li>
          <li><a href="/v1/applicant/face-scan-start">Face scan</a></li>
          <li><a href="/v1/applicant/choose-format-smartcard">Smartcard photo</a></li>
      </ul>

    <p class="nhsuk-body-s">last updated: 21st October 2021</p>

  </div>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
