<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  CIS2 - Apply for Care ID
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h1 class="nhsuk-u-margin-bottom-5">
        Apply for Care ID
      </h1>

      <p class="nhsuk-body-l">Prototypes for the Apply for Care ID service.</p>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#inviter">Inviter</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#applicant">Applicant</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#paycasso">Xydus</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link nhsuk-link--no-visited-state" href="#id-checker">ID Checker</a>
          </li>
        </ol>
      </nav>

      <!-- Inviter -->

      <h2 class="nhsuk-u-margin-top-7" id="inviter">Inviter</h2>

      <!-- Inviter v9 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v9/dashboard">Nav links (v9)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--red">
              Design
            </strong>
          </dd>
        </div>
      </dl>
      <p>Updated navigation link style and added an archive feature to the approved tab.</p>
      </ul>
      <p class="nhsuk-body-s">Last updated: March 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Inviter v8 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v8/dashboard">Verify email address (v8)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--orange">
              Development
            </strong>
          </dd>
        </div>
      </dl>
      <p>Added a 'verify email' loop for support and notification email addresses</p>
      <p>Other updates include:</p>
      <ul>
        <li>cancel multiple applications</li>
        <li>separate duplicate tab</li>
        <li>download table button</li>
        <li>smartcard photo needs updating</li>
      </ul>
      <p class="nhsuk-body-s">Last updated: March 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Inviter v7 -->

       <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v7/dashboard">Inviter settings (v7)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          </dd>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--green">
              Live
            </strong>
          </dd>
        </div>
      </dl>
      <p>Bounced email handling and various updates to the dashboard display.</p>
      <p class="nhsuk-body-s">Last updated: November 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Inviter v6 -->

       <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v6/start">Notifications (v6)</a>
          </dt>
        </div>
      </dl>
      <p>Set alert preferences and collect inviter support email address.</p>
      <p class="nhsuk-body-s">Last updated: November 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Inviter v5 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v5/dashboard">Inviter journey: tabs and change role (v5)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Added tabs, multi action and change roles. Updated application details display.</p>
      <p class="nhsuk-body-s">Last updated: October 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">


      <!-- Inviter v4 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v4/start">Dashboard display (v4)</a>
          </dt>
        </div>
      </dl>
      <p>Dashboard, search and list view updates based on RA hypotheses and pain points.</p>
      <p class="nhsuk-body-s">Last updated: July 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Inviter v3 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v3/start">Batch invite (v3)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Added a batch invite feature using a file upload.</p>
      <p class="nhsuk-body-s">Last updated: July 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Inviter v2 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v2/start">Inviter journey (v2)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>'What applicant needs' field added to create invite. Content updated to align with service name, business rules and UR findings.</p>
      <p class="nhsuk-body-s">Last updated: February 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Inviter v1 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/inviter/v1/start">Inviter journey (v1)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Basic inviter journey including create, edit and delete invites.</p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant -->

      <h2 class="nhsuk-u-margin-top-7" id="applicant">Applicant</h2>

      <!-- Applicant v11 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v10/invite-email">Take a profile photo (v11)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--red">
              Design
            </strong>
          </dd>
        </div>
      </dl>
      <p>Transition to mobile using QR code and take a profile photo using a mobile phone. Includes updates to dpoa guidance content.</p>
    
      <p class="nhsuk-body-s">Last updated: April 2023</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Applicant v10 -->

       <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v10/invite-email">App download link (v10)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            
        </div>
      </dl>
      <p>Mobile and desktop versions of download app page. Reorder address lookup pages.</p>
    
      <p class="nhsuk-body-s">Last updated: February 2023</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v9 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v9/invite-email">Digital proof of address: prioritise passport (v9)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--yellow">
              Development
            </strong>
          </dd>
        </div>
      </dl>
      <p>Change to doc selection to prioritise passport and updates to content.</p>
    
      <p class="nhsuk-body-s">Last updated: October 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v8 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v8/invite-email">Digital proof of address (v8)</a>
          </dt>
        </div>
      </dl>
      <p>Updates to content and preferred name.</p>
    
      <p class="nhsuk-body-s">Last updated: November 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- Applicant v7 -->

       <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v7/invite-email">Duplicate check as mini service (v7)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          </dd>
        </div>
      </dl>
      <p>Upfront duplicate check, with application after. Includes smartcard photo capture.</p>
    
      <p class="nhsuk-body-s">Last updated: October 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

        <!-- Applicant v6 -->

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
              <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v6/invite-email">Document selection and eligiblity (v6)</a>
            </dt>
          </div>
        </dl>
        <p>Select doc combos and confirm eligiblity to use the service. </p>
      
        <p class="nhsuk-body-s">Last updated: October 2022</p>
        <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v5 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v5/invite-email">Deadlines and accepted docs (v5)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--green">
              Live
            </strong>
          </dd>
        </div>
      </dl>
      <p>Updated content with deadlines, accepted documents and smartcard variants.</p>
      <ul>
        <li><a class="nhsuk-link--no-visited-state" href="/applicant/v5/smartcard/email">Smartcard photo retry loop: mobile</a></li>
        <li><a class="nhsuk-link--no-visited-state" href="/applicant/v5/smartcard/desktop/email">Smartcard photo retry loop: desktop</a></li>
      </ul>
    
      <p class="nhsuk-body-s">Last updated: September 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v4 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v4/invite-email">Preferred name and address lookup (v4)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Address lookup, seperate page for preferred name and content updates.</p>
      <p><a class="nhsuk-link--no-visited-state" href="/applicant/v4/non-js/invite-email">Javascript disabled flow</a> </p>
      <p>Unhappy paths:</p>
      <ul>
        <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/expired/invite-email">Invite expired journey</a></li>
        <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/dup-check/invite-email">Duplicate check failed journey</a></li>
        <li><a class="nhsuk-link--no-visited-state" href="/applicant/v4/email/mobile-app-link">Device not supported journey</a></li>
      </ul>
      
      <p class="nhsuk-body-s">Last updated: June 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v3 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v3/invite-email">Manual address entry (v3)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Download app page updated to automated SMS send. Postal address screens added. Content updated to align with service name, business rules and improve user experience.</p>
      <p class="nhsuk-body-s">Last updated: March 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Applicant v2 -->
      
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/applicant/v2/invite-email">Applicant journey (v2)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Basic applicant journey including email, security code, personal details and handover to paycasso.</p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      
      <!-- Xydus -->

      <h2 class="nhsuk-u-margin-top-7" id="paycasso">Xydus</h2>

      <!-- Xydus v4 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/file/nvzuzzpaiawFVTJ08cG8DZ/AfCID-DPOA?node-id=1131%3A1650&t=RBxwEA4odY2wAPoK-1">Digital proof of address conditional journeys (v4)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--orange">
              Development
            </strong>
          </dd>
        </div>
      </dl>
      <p>Conditional journeys to support digital proof of address</p>
      <p class="nhsuk-body-s">Last updated: February 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v3 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5746%3A10617&node-id=5746%3A17092&viewport=5525%2C2444%2C0.86&scaling=min-zoom&starting-point-node-id=5746%3A17092">Remove passport signature flow (v3)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--green">
              Live
            </strong>
          </dd>
        </div>
      </dl>
      <p>Removed passport signature flow, added a smartcard photo warning and updated e-chip instructions.</p>
      <p class="nhsuk-body-s">Last updated: September 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v2 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5797%3A12571&node-id=5798%3A14450&viewport=500%2C625%2C0.07&scaling=min-zoom&starting-point-node-id=5798%3A14450">Xydus app (v2)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Usability fixes. Incorporates findings and changes from v1.1 - v1.3.</p>
      <p class="nhsuk-body-s">Last updated: June 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v1.3 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=5139%3A6488&node-id=5139%3A19546&viewport=294%2C384%2C0.04&scaling=min-zoom&starting-point-node-id=5139%3A19546">Xydus app: graphics (v1.3)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          </dd>
        </div>
      </dl>
      <p>Graphics and heading only version used for comprehension testing.</p>
      <p class="nhsuk-body-s">Last updated: June 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v1.2 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=4856%3A8987&node-id=4856%3A24861&viewport=2727%2C1425%2C0.52&scaling=min-zoom&starting-point-node-id=4856%3A22149">Xydus app: updated flow (v1.2)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          </dd>
        </div>
      </dl>
      <p>Updates made to passport capture flow and added successfully submitted screens. </p>
      <p class="nhsuk-body-s">Last updated: May 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v1.1 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/Verify-Care-ID-UR?page-id=4513%3A10924&node-id=4513%3A10985&viewport=-114%2C797%2C0.34&scaling=min-zoom&starting-point-node-id=4513%3A24080">Xydus app: updated content and graphics (v1.1)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          </dd>
        </div>
      </dl>
      <p>Updates made to content and graphics to improve usability.</p>
      <p class="nhsuk-body-s">Last updated: May 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- Xydus v1 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="https://www.figma.com/proto/7TWqzds497MQ9i9aZ9eFhO/NHS-Verify-Care-ID-v1?page-id=3883%3A4449&node-id=3883%3A4537&viewport=241%2C48%2C0.35&scaling=min-zoom&starting-point-node-id=3893%3A20831">Xydus app (v1)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Basic app journey. Matches the version of the app we went live with. </p>
      <ul class="nhsuk-u-visually-hidden">
      </ul>
      <p>
      <p class="nhsuk-body-s">Last updated: January 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- ID checker -->

      <h2 class="nhsuk-u-margin-top-7" id="id-checker">ID checker</h2>

      <!-- ID checker v4 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/idchecker/v4/dashboard">ID checker with dpoa (v4)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--red">
              Design
            </strong>
          </dd>
        </div>
      </dl>
      <p>Added dpoa as an evidence type and search ID checker.</p>
      <p class="nhsuk-body-s">Last updated: November 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <!-- ID checker v3 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/idchecker/v3/dashboard">Paycasso response codes (v3)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--green">
              Live
            </strong>
          </dd>
        </div>
      </dl>
      <p>Add more information for ID checkers and allow them to select multiple rejection reasons.</p>
      <p class="nhsuk-body-s">Last updated: June 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- ID checker v2 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/idchecker/v2/start">Review and update id details (v2)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Allow ID checkers to review and edit document details transferred to CIS/CIM.</p>
      <p class="nhsuk-body-s">Last updated: May 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

       <!-- ID checker v1 -->

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-heading-m nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <a class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0" href="/idchecker/v1/start">ID checker (v1)</a>
          </dt>
          <dd class="nhsuk-summary-list__actions nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Shipped
            </strong>
          </dd>
        </div>
      </dl>
      <p>Basic ID checker journey including review application, and holding list.</p>
      <p class="nhsuk-body-s">Last updated: February 2022</p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
  

  
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
