<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  CIS2 - Apply for Care ID
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Apply for Care ID",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
    {
      "URL": "https://digital.nhs.uk/services/care-identity-service/applications-and-services/apply-for-care-id/support-with-applying-for-my-care-id",
      "label": "Help"
    },
      {
        "URL": "#",
        "label": "Feedback"
      },
      {
        "URL": "/errors/dev-ready/cookies",
        "label": "Cookies"
        },
      {
        "URL": "/errors/dev-ready/accessibility",
        "label": "Accessibility statement"
        },
      {
        "URL": "/clear-data-development",
        "label": "Clear data"
        }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
