{% extends 'layout-email.html' %}

{% block pageTitle %}
  Apply for Care ID update
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row" >

    <div class="nhsuk-grid-column-two-thirds email-layout">

      <!-- Add your content here -->

      <div class="email-header">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#ffffff" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </div>

      <div class="nhsuk-u-padding-5">

        <h1 class="nhsuk-heading-l">Apply for Care ID update</h1>

        <p>Thursday 10 November 2022</p>

        <p>Dear Della,</p>

        <p>4 applications you raised have been approved.</p>

        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Approved Applications</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Full name
              </th>
              <th role="columnheader" class="" scope="col">
                UUID
              </th>
              <th role="columnheader" class="nhsuk-u-width-one-third" scope="col">
                Delivery address
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name</span>James Stenberg
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">UUID</span>3465 9742 2393
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delivery address</span>Not required
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name</span>Diana Ingram
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">UUID</span>	9684 5874 2232
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delivery address</span>Not required
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name</span>Tavish Sydney
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">UUID</span>6745 7823 2398
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delivery address</span>13 Ber Street, Norwich, NG3 6HR
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Full name</span>Christoper Ruiz
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">UUID</span>7459 9273 9238
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delivery address</span>7 Maroon Road, Manchester, M18 6DS
              </td>
            </tr>
          </tbody>
        </table>


        <p class="nhsuk-u-margin-top-5">Go to <a href="/inviter/v6/dashboard">Manage applications</a> to view further information.</p>
        <p>Please do not reply to this email</p>

      </div>


    </div>

  </div>

{% endblock %}
