{% extends 'layout-inviter-dev-ready.html' %}

{% block pageTitle %}
  Applications sent
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        <h1 class="nhsuk-u-visually-hidden">Success:</h1>
        <p class="nhsuk-u-font-weight-bold">Applications created successfully</p>
      </div>

      <h2 class="nhsuk-u-margin-top-7">What happens next</h2>

      <p>The applicant will be sent a link to an online form to enter their personal details. </p>

      <p>Then they will be sent a link to an NHS app called Verify Care ID to upload documents and scan their face to verify their identity.</p>

      <p>Automated checks will be carried out on the applications and it may also be reviewed manually.</p>

      <p>The applicant will receive an email that explains what they need to do and how to use the mobile app.</p>

      <p class="nhsuk-u-margin-bottom-5">You will be notified when an ID has been checked and is ready to progress to the next stage.</p>

      <div><a href="/dev-ready/inviter/enter-details" class="nhsuk-button">
        New application
      </a></div>

      <p><a href="/dev-ready/inviter/dashboard" class="nhsuk-link">
        Or manage applications</a></p>



    </div>
  </div>
{% endblock %}
