{% extends 'layout-inviter-dev-ready.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Upload multiple applications
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/dev-ready/inviter/dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Upload multiple applications</h1>
      
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important
          </span>
        </h3>
        <p>The template was updated on 20 May 2023. Make sure you use the latest version.</p>
      </div>


      <p>Download the template and add applicants' details to create multiple applications.</p>
      <p class="nhsuk-u-margin-bottom-1"><a href="">Template for uploading multiple applications (csv)</a></p>
      <p class="grey-text">Last updated: 20 May 2023</p>



      <p>The template includes an example of how to format your file. </p>

      <p>You must include applicants':</p>

      <ul>
        <li>given and family names</li>
        <li>work email addresses</li>
        <li>mobile numbers</li>
      </ul>

      <form action="/dev-ready/inviter/spinner-bulk" method="post">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
            <label class="nhsuk-label nhsuk-label--l" for="bulk-upload-1">
              Upload a file
            </label>
          <div class="nhsuk-hint" id="bulk-upload-hint">
            File must be .csv format and smaller than 5MB
          </div>
          <input type="file" id="bulk-upload-1" name="bulk-upload" value="{{ data['bulk-upload'] }}" aria-describedby="bulk-upload-hint">
        </div>

        <dl class="nhsuk-summary-list nhsuk-u-visually-hidden">
      
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              File
            </dt>
            <dd class="nhsuk-summary-list__value">
              file-name-01.csv
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Remove<span class="nhsuk-u-visually-hidden">file</span>
              </a>
            </dd>
          </div>
    
        </dl>


        <h2 class="nhsuk-heading-m">Use of personal emails</h2>

        <p>Emails not on the CIS allowlist will be treated as personal emails.</p>

        <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-5">
        
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              I can confirm that applicants have been through the necessary onboarding and HR processes for their trusted organisation if they do not have an allow-listed email address
            </label>
          </div>
  
        </div>
       
          
        {{ button({
          "text": "Submit file",
          "id": "btn_submit"
        }) }}

      </form>

      

    </div>
  </div>

        

      

{% endblock %}
