{% extends 'layout.html' %}

{% block pageTitle %}
  Device not supported
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Device not supported
      </h1>

      <p>The device you are using cannot support the mobile app and you cannot continue.</p>

      <p>If you are using a laptop, tablet or desktop device you will not be able to run the mobile app.</p>

      <p>Try using the link with a different device.</p>

      <p>If you cannot access another device, contact <a href="">[inviter-support-email]</a>. Include your application ID and a detailed description of the problem, this will help us to support you. </p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

    </div>

  </div>
{% endblock %}
