{% extends 'layout.html' %}

{% block pageTitle %}
  Application not found
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Application not found
      </h1>

      <p>If you pasted the web address, check you copied the entire address.</p>

      <p>If the web address is correct or you have selected the link in your invite email, email <a href="">ssd.nationalservicedesk@nhs.net</a> for further support.</p>

      <p>What to include in your email</p>

      <ul>
        <li>subject line: Apply for Care ID - application not found</li>
        <li>your application ID, this can be found in your invite email</li>
        <li>this description: my application cannot be found. I am asking for support so I can continue my application.</li>
      </ul>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

    </div>

  </div>
{% endblock %}
