{% extends 'layout.html' %}

{% block pageTitle %}
  Your NHS Care ID application has been submitted
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your NHS Care ID application has been submitted
      </h1>

      <p>You will be contacted about the outcome of your application within a few working days. </p>

      <p>Email <a href="">[inviter-support-email]</a> if you need further support.</p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>


    </div>

  </div>
{% endblock %}
