{% extends 'layout.html' %}

{% block pageTitle %}
  Your NHS Care ID application has been approved
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your NHS Care ID application has been approved
      </h1>

      <p>Your NHS Care ID application has been approved and your profile has been created.</p>


      <p><strong>You do not need to take further action at this time.</strong></p>

      <p>You will be contacted shortly by your organisation to add the permissions required for your role to your profile.</p>

      <p>You will also be issued with an authenticator, which may take the form of a smartcard, mobile app or similar device.</p>

      <p>Email <a href="">[inviter-support-email]</a> if you need further support.</p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>




    </div>

  </div>
{% endblock %}
