{% extends 'layout.html' %}

{% block pageTitle %}
  There is a problem with NHS Care ID application
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There is a problem with your NHS Care ID application
      </h1>

      <p>Your NHS Care ID application could not be verified using the online service.</p>

      <p>We have sent you an email explaining </p>


      <p>Email <a href="">[inviter-support-email]</a> to continue.</p>

      <p>What to include in your email:</p>
      <ul>
        <li>subject line: Apply for Care ID - application not verified</li>
        <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
        <li>this description: My application could not be verified. I am asking for a new invite email so that I can resubmit my application.</li>
      </ul>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>The team managing your application will send you a new invite email.</p>

      <p>Use the link in the new invite email to resubmit your application.</p>



      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>


    </div>

  </div>
{% endblock %}
