{% extends 'layout.html' %}

{% block pageTitle %}
  There was a problem displaying your application 
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There was a problem displaying your application 
      </h1>

      <p>Go back to the Apply for Care ID invite email and try selecting the link again.</p>

      <p>Email <a href="">[inviter-support-email]</a> if you need further support.</p>

      <p>What to include in your email:</p>

      <ul>
        <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
        <li>a detailed description of the problem</li>
      </ul>


    </div>

  </div>
{% endblock %}
