{% extends 'layout.html' %}

{% block pageTitle %}
  Your application has timed out
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your application has timed out
      </h1>

      <p>Your session automatically ends after 60 minutes. We do this for your security. We have not saved your answers.</p>

      <p>You will need to start your application again.</p>

      <p>Go back to your invite email and select the link again.</p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

    </div>

  </div>
{% endblock %}
