{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
 Which 2 photo IDs do you want to use? 
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/applicant/v21/offline/no-photo-id" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7" aria-describedby="photo-ids-hint">
              <h1 class="nhsuk-fieldset__heading">
                Which 2 photo IDs do you want to use?
              </h1>
            </legend>

            <p>You'll need to capture images of these documents when using the mobile app. </p>

            <p>Passports may be expired for up to 6 months.</p>

            <p>All other photo IDs must not be expired.</p>

            <div class="nhsuk-hint" id="photo-ids-hint">
              Select 2 options
            </div>
        
            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="passport-2" name="2-photo-id" type="checkbox" value="passport" {{ checked("2-photo-id", "passport") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="passport-2">
                  Passport
                </label>
              </div>
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="residence-permit-2" name="2-photo-id" type="checkbox" value="UK biometric residence permit"{{ checked("2-photo-id", "UK biometric residence permit") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="residence-permit-2">
                  UK Biometric residence permit card
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="armed-forces-2" name="2-photo-id" type="checkbox" value="HM armed forces card"{{ checked("2-photo-id", "HM armed forces card") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="armed-forces-2">
                  HM Armed Forces card
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="pass-card-2" name="2-photo-id" type="checkbox" value="PASS card"{{ checked("2-photo-id", "PASS card") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="pass-card-2">
                  PASS proof of age card
                </label>
              </div>


              <div class="nhsuk-checkboxes__divider">or</div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="none-2" name="2-photo-id" type="checkbox" value="none"{{ checked("2-photo-id", "none") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="none-2">
                  I do not have 2 of these photo IDs
                </label>
              </div>
      
            </div>
          </fieldset>
        
        </div>
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>



{% endblock %}
